    <a class="button-commander" href="{{ path('scg_order') }}">{#{{ 'cart-caddie-name'|trans }}#}{#href="{{ path('scg_order') }}"#}
        <div class="left">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
        <div class="right">
            {% if cart %}
                {% set totalPrice = 0 %}
                {% set totalQuantity = 0 %}

                {% for cartEntry in cartProducts %}
                    {#<ul>
                        <li>{{ cartEntry.product.name }} - {{ cartEntry.product.price }} - {{ cartEntry.quantity }} <a class="ajaxSend" data-action="{{ path('scg_remove_from_cart',{'productId':cartEntry.product.id}) }}"> remove</a></li>
                    </ul>#}
                    {% set totalPrice = totalPrice + (cartEntry.product.price * cartEntry.quantity) %}
                    {% set totalQuantity = totalQuantity + cartEntry.quantity %}
                {% endfor %}
               {#<p>Total Price: {{ totalPrice }} €</p>#}
                <p class="number-articles">{#Total Quantity: #}{{ totalQuantity }} <span class="artciles-word">{{ 'cart-articles-nunmber'|trans }}</span></p>
            {% else %}
                <p>0 {{ 'cart-articles-nunmber-solo'|trans }}</p>
            {% endif %}
        </div>
    </a>

    <div class="hover-order-menu">
        <div class="content-hover-order-menu">
            <div class="articles-div-menu">
                <div class="scroll-box">
                    {% if cart %}
                        {% for cartEntry in cartProducts %}
                            <ul>
                                <li>
                                    <div class="container-flex-order-menu">
                                        {#<div class="img-order-articles"><img class="img-order-articles" src="{{ cartEntry.product.media }}" alt="{{ cartEntry.product.name }}"/></div>#}
                                        <div class="name-span-order-container">
                                            <span class="span-contrast1">{{ cartEntry.product.name }}</span>
                                            <span class="span-contrast2">{{ cartEntry.product.subCategory }}</span>
                                        </div>
                                        <div class="price-order-articles"><span class="span-contrast1">{{ cartEntry.product.price }} €</span></div>
                                        <div class="quantity-order-articles"><span class="span-contrast1">{{ cartEntry.quantity }}</span></div>
                                    </div>
                                    <div class="remove-order-articles"><a class="ajaxSend" data-action="{{ path('scg_remove_from_cart',{'productId':cartEntry.product.id}) }}">Supprimer</a></div>
                                    <div class="separation-order"></div>
                                </li>
                            </ul>
                        {% endfor %}
                        <div class="totaux-content">
                            <p class="total-price-order-left">total : </p>
                            <p class="total-price-order-right">{{ totalPrice }} €</p>
                        </div>
                        {#<p class="number-articles">{{ totalQuantity }} <span class="artciles-word">{{ 'cart-articles-nunmber'|trans }}</span></p>#}
                    {% else %}
                        <p class="not-articles">Il n'y a pas d'articles</p>
                    {% endif %}
                </div>
            </div>
            <a href="{{ path('scg_order') }}" class="button-order-black button-order-black-menu">{{ 'menu-order-voir'|trans }}<i class="fa fa-arrow-right icon-order-menu" aria-hidden="true"></i></a>
        </div>
    </div>