<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="self custom garage zone custom">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#77776a">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#77776a">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#77776a">

    <title>{% block title %}Zone Custom{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,900|Yantramanav" rel="stylesheet">

    {% block stylesheets %}
        {% stylesheets filter="cssrewrite, scssphp, uglifycss"
        '@bootstrap_css'
        '@revealer_css'
        '@font_awesome_css'
        '@main_scss'
        '@webslidemenu_css'%}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

</head>
<body>

{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <!-- The Modal -->
    <div id="connexion" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            {{ render(controller('SCGUserBundle:Security:loginModal')) }}  {#Faire un rendu de ce que le controlleur renvoie#}
        </div>
    </div>


    <!-- The Modal inscription -->
    <div id="inscription" class="modal">
        <!-- Modal content -->
        <div class="modal-content inscription-modal-content">
            <div class="partie1-inscription">
                <div id="rotate">
                    <p>Inscris toi et accède à ton panier.</p>
                    <p>Inscris toi et accède à ton panier2.</p>
                </div>
                <span class="close-modal-inscription">&times;</span>
            </div>
            <div class="partie2-inscription">
                {{ render(controller('SCGUserBundle:Registration:register')) }}
            </div>
        </div>
    </div>


    <!-- The Modal POP UP ALERT -->
    <div id="alert-pop-up" class="modal">
        <!-- Modal content -->
        <div class="modal-content alert-pop-up-modal-content">
            <p>Connexion requise pour ajouter un article dans le panier.</p>
            <a class="close-modal-pop-up">J'ai compris !</a>
        </div>
    </div>

{% endif %}

<!-- The Modal share -->
<div id="share" class="modal">
    <!-- Modal content -->
    <div class="modal-content share-modal-content">
        <span class="close-modal-share">&times;</span>
        <h4 class="titre-modal-share">
            Partage notre site
        </h4>
        <div class="ligne-gauche-share"></div>
        <h4 class="signature-modal-share">zonecustom.com</h4>
        <div class="ligne-droite-share"></div>
        <div class="container-box">
            <div class="content-box">
                <div class="box">
                    <a class="rsx-share" target="_blank" title="Facebook" href="https://www.facebook.com/sharer.php?u=https://zone-custom.me/" rel="noopener" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;">
                        {% image '%kernel.root_dir%/../web/images/facebook.png' %}
                        <img src="{{ asset_url }}" alt="Facebook" />
                        {% endimage %}
                    </a>
                </div>
                <div class="box">
                    <a class="rsx-share" target="_blank" title="Google +" href="https://plus.google.com/share?url=https://zone-custom.me/" rel="noopener" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;">
                        {% image '%kernel.root_dir%/../web/images/googleplus.png' %}
                        <img src="{{ asset_url }}" alt="Google +" />
                        {% endimage %}
                    </a>
                </div>
                <div class="box">
                    <a class="rsx-share" target="_blank" title="Twitter" href="https://twitter.com/share?url=https://zone-custom.me/" rel="noopener" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;">
                        {% image '%kernel.root_dir%/../web/images/twitter.png' %}
                        <img src="{{ asset_url }}" alt="Twitter" />
                        {% endimage %}
                    </a>
                </div>
                <div class="box">
                    <a class="rsx-share" target="_blank" title="Mail" href="mailto:?subject=https://zone-custom.me/" rel="noopener" rel="nofollow">
                        {% image '%kernel.root_dir%/../web/images/email.png' %}
                        <img src="{{ asset_url }}" alt="E-mail" />
                        {% endimage %}
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


<!--Menu // Le menu contient tout. le site commence a WRAPPER-->
<div class="wsmenucontainer clearfix menu">
    <div class="overlapblackbg"></div>
    <!-- MOBILE HEADER -->
    <div class="wsmobileheader clearfix">
        <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
        {#<div class="cart-catalogue-mobile">
            {{ render(controller('SCGShopBundle:Cart:view') ) }}
        </div>#}
    </div>



    <div class="headerfull">

        <!--Main Menu -->
        <div class="wsmain" id="menu-animation">
            <div class="smllogo">
                <a href="{{ path('homepage') }}">
                    {% image '%kernel.root_dir%/../web/images/logo-zone-custom-orange.png' %}
                    <img src="{{ asset_url }}" alt="Logo" class="Logo" />
                    {% endimage %}
                </a>
            </div><!-- Logo Desktop -->
            <nav class="wsmenu clearfix nav-menu">
                <ul class="mobile-sub wsmenu-list">
                    <li><a href="{{ path('homepage') }}" class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">{{ 'menu-accueil'|trans }}</a></li>
                    <li><a href="{{ path('scg_shop_homepage') }}" class="{% if app.request.attributes.get('_route') == 'scg_shop_homepage' %}active{% endif %}">{{ 'menu-catalogue'|trans }}</a></li>
                    <li><a href="{{ path('abonnement') }}" class="{% if app.request.attributes.get('_route') == 'abonnement' %}active{% endif %}">{{ 'menu-abonnement'|trans }}</a></li>
                    <li><a href="{{ path('localisation') }}" class="{% if app.request.attributes.get('_route') == 'localisation' %}active{% endif %}">{{ 'menu-localisation'|trans }}</a></li>
                </ul>
                <ul class="mobile-sub wsmenu-list menu-droit">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li>
                            <div class="cart-cataloque">
                                {{ render(controller('SCGShopBundle:Cart:view') ) }}
                            </div>
                        </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a class="login-user">{{ app.user.username }}</a></li>
                        <li><a class="bouton-connexion" href="{{ path('fos_user_security_logout') }}">{{ 'deconnexion'|trans }}</a></li>
                    {% else %}
                        <li class="after-connexion"><a class="bouton-connexion" id="bouton-connexion">{{ 'connexion'|trans }}</a></li>
                        <li class="bouton-inscription"><a href="{{ path('fos_user_registration_register') }}">{{ 'inscription'|trans }}</a></li>
                    {% endif %}

                    <li class="share-li" id="bouton-share">
                        <a>
                            {% image '%kernel.root_dir%/../web/images/share.png' %}
                            <img src="{{ asset_url }}" alt="Share" class="share" />
                            {% endimage %}
                        </a>
                    </li>
                    {% if app.request.locale == 'fr' %}
                        <li class="langue-li nl"><a href="{{ path('homepage',{'_locale':'nl'}) }}"><div class="langue-nl">NL</div></a></li>
                    {% elseif app.request.locale == 'nl' %}
                        <li class="langue-li fr"><a href="{{ path('homepage',{'_locale':'fr'}) }}"><div class="langue-nl">FR</div></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div><!-- Mheaderfull -->
    <!-- Wrapper ici -->
</div>




<div id="trigger1"></div><!-- Menu ANIMATION START -->


{% block body %}{% endblock %}



<footer id="footer"><!-- Footer -->
    <div class="container container-footer-part1">
        <div class="row reset-all">
            <div id="tabs" class="col-md-12">
                <ul>
                    <li><a href="#tabs-1">{{ 'footer-tabs-country1'|trans }}</a></li>
                    <li><a href="#tabs-2">{{ 'footer-tabs-country2'|trans }}</a></li>
                    <li><a href="#tabs-3">{{ 'footer-tabs-country3'|trans }}</a></li>
                    <li><a href="#tabs-4">{{ 'footer-tabs-country4'|trans }}</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="content-tabs-title">
                        <div class="border-h1-left"></div>
                        <h2>{{ 'footer-tabs-country1'|trans }}</h2>
                        <div class="border-h1-right"></div>
                    </div>
                    <div class="content-icon-part1">
                        <a class="lien-footer"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-calendar.png' %}<img src="{{ asset_url }}" alt="Calendar">{% endimage %}</i><span>{{ 'footer-tabs-horaire'|trans }}</span></a>
                        <a href="mailto:scg-bruxelles@gmail.be" class="lien-footer2"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-letter.png' %}<img src="{{ asset_url }}" alt="Letter">{% endimage %}</i><span>scg-bruxelles@gmail.be</span></a>
                    </div>
                    <div class="content-icon-part2">
                        <a href="tel:+32 472 35 68 60" class="lien-footer"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-phone.png' %}<img src="{{ asset_url }}" alt="Phone">{% endimage %}</i><span>+32 472 35 68 60</span></a>
                        <a href="https://www.google.be/maps/place/Bike+Zone/@50.8378298,4.4010134,14.5z/data=!4m8!1m2!2m1!1sMoto+garage+bruxelles!3m4!1s0x0:0xe5642e205af7a434!8m2!3d50.8386439!4d4.3983507?hl=fr" target="_blank" class="lien-footer2"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-gps.png' %}<img src="{{ asset_url }}" alt="GPS">{% endimage %}</i><span>{{ 'footer-tabs-adresse1'|trans }}</span></a>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="content-tabs-title">
                        <div class="border-h1-left"></div>
                        <h2>{{ 'footer-tabs-country2'|trans }}</h2>
                        <div class="border-h1-right"></div>
                    </div>
                    <div class="content-icon-part1">
                        <a class="lien-footer"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-calendar.png' %}<img src="{{ asset_url }}" alt="Calendar">{% endimage %}</i><span>{{ 'footer-tabs-horaire'|trans }}</span></a>
                        <a href="mailto:scg-namur@gmail.be" class="lien-footer2"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-letter.png' %}<img src="{{ asset_url }}" alt="Letter">{% endimage %}</i><span>scg-namur@gmail.be</span></a>
                    </div>
                    <div class="content-icon-part2">
                        <a href="tel:+32 472 22 46 44" class="lien-footer"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-phone.png' %}<img src="{{ asset_url }}" alt="Phone">{% endimage %}</i><span>+32 472 22 46 44</span></a>
                        <a href="https://www.google.be/maps/place/New+Moto+sprl/@50.4704434,4.8647655,18.25z/data=!4m5!3m4!1s0x0:0x2e386a6e3bee733e!8m2!3d50.4704866!4d4.8651644?hl=fr" target="_blank" class="lien-footer2"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-gps.png' %}<img src="{{ asset_url }}" alt="GPS">{% endimage %}</i><span>{{ 'footer-tabs-adresse2'|trans }}</span></a>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="content-tabs-title">
                        <div class="border-h1-left"></div>
                        <h2>{{ 'footer-tabs-country3'|trans }}</h2>
                        <div class="border-h1-right"></div>
                    </div>
                    <div class="content-icon-part1">
                        <a class="lien-footer"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-calendar.png' %}<img src="{{ asset_url }}" alt="Calendar">{% endimage %}</i><span>{{ 'footer-tabs-horaire'|trans }}</span></a>
                        <a href="mailto:scg-mons@gmail.be" class="lien-footer2"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-letter.png' %}<img src="{{ asset_url }}" alt="Letter">{% endimage %}</i><span>scg-mons@gmail.be</span></a>
                    </div>
                    <div class="content-icon-part2">
                        <a href="tel:+32 472 36 36 39" class="lien-footer"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-phone.png' %}<img src="{{ asset_url }}" alt="Phone">{% endimage %}</i><span>+32 472 36 36 39</span></a>
                        <a href="https://www.google.be/maps/place/Casu+Motos/@50.4482052,3.9169491,18.25z/data=!4m5!3m4!1s0x0:0x3f0640812f1fe813!8m2!3d50.4481683!4d3.9172402?hl=fr" target="_blank" class="lien-footer2"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-gps.png' %}<img src="{{ asset_url }}" alt="GPS">{% endimage %}</i><span>{{ 'footer-tabs-adresse3'|trans }}</span></a>
                    </div>
                </div>
                <div id="tabs-4">
                    <div class="content-tabs-title">
                        <div class="border-h1-left"></div>
                        <h2>{{ 'footer-tabs-country4'|trans }}</h2>
                        <div class="border-h1-right"></div>
                    </div>
                    <div class="content-icon-part1">
                        <a class="lien-footer"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-calendar.png' %}<img src="{{ asset_url }}" alt="Calendar">{% endimage %}</i><span>{{ 'footer-tabs-horaire'|trans }}</span></a>
                        <a href="mailto:scg-anvers@gmail.be" class="lien-footer2"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-letter.png' %}<img src="{{ asset_url }}" alt="Letter">{% endimage %}</i><span>scg-anvers@gmail.be</span></a>
                    </div>
                    <div class="content-icon-part2">
                        <a href="tel:+32 472 21 30 01" class="lien-footer"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-phone.png' %}<img src="{{ asset_url }}" alt="Phone">{% endimage %}</i><span>+32 472 21 30 01</span></a>
                        <a href="https://www.google.be/maps/place/Garage+Burger/@51.1964024,4.4583205,17.92z/data=!4m5!3m4!1s0x47c3f75dd61e9813:0x6b663fb215b9aa8c!8m2!3d51.1972062!4d4.456999?hl=fr" target="_blank" class="lien-footer2"><i class="icon-calendar">{% image '%kernel.root_dir%/../web/images/icon-gps.png' %}<img src="{{ asset_url }}" alt="GPS">{% endimage %}</i><span>{{ 'footer-tabs-adresse4'|trans }}</span></a>
                    </div>
                </div>
            </div>
            <div class="newsletter col-md-12">
                <form action="index.html" method="post" class="newsletter-form">
                    <input type="email" name="email" class="newsletter-email" placeholder="Adresse mail">
                    <p class="remplacement-newsletter-p">{{ 'footer-newsletter-texte'|trans }}</p>
                    <button type="submit" class="newsletter-submit">{{ 'footer-newsletter-envoyer'|trans }}</button>
                </form>
                <p class="original-newsletter-p">{{ 'footer-newsletter-texte'|trans }}</p>
            </div>
        </div>
    </div>
    <div class="container-full container-footer-part2">
        <div class="row reset-all">
            <div class="content-footer-bas">
                <h2>{{ 'footer-h2'|trans }}</h2>
                <p class="copyright">{% trans %}footer-copyright{% endtrans %}</p>
            </div>
        </div>
    </div>
</footer>



{% block javascripts %}
    {% javascripts
    filter= 'uglifyjs2'
    '@jquery_js'
    '@jquery_maps_js'
    '@jquery_tabs_js'
    '@jquery_steps_js'
    '@bootstrap_js'
    '@tweenMax_js'
    '@tweenMax_modifers_js'
    '@scrollmagic_min_js'
    '@scrollmagic_animation_gsap_js'
    '@scrollmagic_indicator_js'
    '@vimeo_js'
    '@webslidemenu_js'
    '@reaveal_anime_js'
    '@reaveal_scrollMonitor_js'
    '@reaveal_main_js'
    '@jquery_bxslider_js'
    '@tween_animation_js'
    '@animation_btn_menu_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

    <script>
        // SCRIPT STEPS JQUERY
        $("#inscription-form").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            enableFinishButton: false,
            autoFocus: true,

            labels: {
                next: "{% trans %}registration-suivant{% endtrans %}",
                previous: "{% trans %}registration-retour{% endtrans %}",
                finish: "{% trans %}registration-submit{% endtrans %}",
                current : ""
            }
        });
        $('ul[role="tablist"]').hide();
        //$('a[href="#finish"]').attr('class', 'submit-inscription');
        //$('a[href="#finish"]').attr('type', 'submit');
    </script>

</body>
</html>
