{#{% extends '::base.html.twig' %}#}
{#{% extends "@FOSUser/layout.html.twig" %}#}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#77776a">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#77776a">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#77776a">

{% block stylesheets %}
    {% stylesheets filter="cssrewrite, scssphp, uglifycss"
    '@bootstrap_css'
    '@font_awesome_css'
    '@main_scss'%}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
</head>

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div id="confirmed-container">
        <div class="confirmed-content">
            {% image '%kernel.root_dir%/../web/images/v-actived.png' %}
            <img src="{{ asset_url }}" alt="actived" />
            {% endimage %}
            <p class="confirmed-felicitation">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if targetUrl %}
            <a class="confirmed-back" href="{{ path('homepage') }}">{{ 'registration.back'|trans }}</a>
            {% endif %}
        </div>
    </div>
{% endblock fos_user_content %}
