{% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_errors(form) }}
            <div id="inscription-form">
                <h3>PARTIE1</h3>
                <section>
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                    {{ form_errors(form.username) }}

                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}

                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.first) }}

                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second) }}
                </section>


                <h3>PARTIE2</h3>
                <section>
                    {{ form_label(form.street) }}
                    {{ form_widget(form.street) }}
                    {{ form_errors(form.street) }}

                    {{ form_label(form.zip) }}
                    {{ form_widget(form.zip) }}
                    {{ form_errors(form.zip) }}

                    {{ form_label(form.city) }}
                    {{ form_widget(form.city) }}
                    {{ form_errors(form.city) }}

                    {{ form_label(form.country) }}
                    {{ form_widget(form.country) }}
                    {{ form_errors(form.country) }}

                     <input type="submit" class="submit-inscription" value="{{ 'registration.submit'|trans }}" />
                </section>
            </div>

{{ form_end(form) }}
{#{{ form_widget(form) }}#}