{% extends '::base.html.twig' %}

{% block body %}

    <header class="header-abonnement">
        <div class="container-full reset-all">
            <div class="row reset-all">
                <div class="col-xs-12 col-md-12 reset-all">
                    <div class="image-header-abonnement">
                    </div>

                    <div class="text-header-abonnement">
                        <h2>
                            <span class="span-contrast1">{{ 'header-abonnement-span1'|trans }}</span>
                            <span class="span-contrast2">{{ 'header-abonnement-span2'|trans }}</span>
                        </h2>
                        <p>{% trans %}header-abonnement-intro{% endtrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section id="section-abonnement-1" class="container-section-3"><!-- SECTION 1 -->
            <!-- Partie 1 -->
            <div class="container container-section3-part1 reset-all">
                <div class="row reset-row-mobile">
                    <div class="col-md-6 bloc-texte-arrondi2">
                        <div class="bloc-center">
                            <div class="titre-contrast">
                                <h2>
                                    <span class="span-contrast1">{{ 'section1-abonnement-span1'|trans }}</span>
                                    <span class="span-contrast2">{{ 'section1-abonnement-span2'|trans }}</span>
                                </h2>
                            </div>
                            <p class="width-ipad">{% trans %}section1-abonnement-texte1{% endtrans %}</p>
                        </div>
                    </div>
                    <div class="col-md-6 reset-all arrondi-container container-skew5">
                        <div class="images5-skew">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 viewBox="0 0 273 185" enable-background="new 0 0 273 185" xml:space="preserve" preserveAspectRatio="xMidYMid slice">
                                        <g>
                                            <defs>
                                                <path id="SVGID_3_" d="M72,95L0.3,185h273.1V5.2C198.6,5.7,121.1,38.5,72,95"/>
                                            </defs>
                                        </g>
                                <clipPath id="adpersonam-skew-5-mask">
                                    <use xlink:href="#SVGID_3_"  overflow="visible"/>
                                </clipPath>
                                <image clip-path="url(#adpersonam-skew-5-mask)" preserveAspectRatio="xMidYMid meet" height="100%" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/moteur-catalogue-mask1.jpg" lazy-src="/images/moteur-catalogue-mask1.jpg" class="ng-scope">
                                </image>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Partie 2 -->
            <div class="container container-section3-part2 reset-all">
                <div class="row reset-all">
                    <div class="col-md-7 reset-all arrondi-container container-skew6">
                        <div class="images6-skew">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                 viewBox="0 0 1428 560" enable-background="new 0 0 1428 560" xml:space="preserve" preserveAspectRatio="xMidYMid slice">
                                        <g>
                                            <defs>
                                                <path id="SVGID_4_" d="M-0.1-0.5L0,550l662.9,0.9c190-0.8,361.1-82.1,492.8-229.8L1428-0.5H-0.1z"/>
                                            </defs>
                                        </g>
                                <clipPath id="adpersonam-skew-6-mask">
                                    <use xlink:href="#SVGID_4_"  overflow="visible"/>
                                </clipPath>
                                <image clip-path="url(#adpersonam-skew-6-mask)" preserveAspectRatio="xMidYMid slice" height="100%" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/outil-catalogue-mask2.jpg" lazy-src="/images/outil-catalogue-mask2.jpg" class="ng-scope">
                                </image>
                            </svg>
                        </div>
                    </div>
                    <div class="col-md-5 bloc-texte-arrondi3">
                        <div class="bloc-center">
                            <div class="titre-contrast">
                                <h2>
                                    <span class="span-contrast1">{{ 'section1-abonnement-span3'|trans }}</span>
                                    <span class="span-contrast2">{{ 'section1-abonnement-span4'|trans }}</span>
                                </h2>
                            </div>
                            <p class="width-ipad">{% trans %}section1-abonnement-texte2{% endtrans %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section id="section-abonnement-2" class="container-abonnement-section-2"><!-- SECTION 2 -->
            <div class="container-abonnement">
                <div class="container content-abonnement">
                    <div class="border-vertical-abonnement"></div>
                    <div class="content-titre-intro">
                        <h2>{{ 'section2-abonnement-h2'|trans }}</h2>
                        <h3>{{ 'section2-abonnement-h3'|trans }}</h3>
                    </div>
                    <div class="container-carte col-md-12">
                        <div class="container-carte-classique col-md-6">
                            <div class="content-carte-classique">
                                {% image '%kernel.root_dir%/../web/images/logo-zone-custom-orange.png' %}
                                <img src="{{ asset_url }}" alt="Logo-carte" class="logo-carte" />
                                {% endimage %}
                                <h2>{{ 'section2-abonnement-h2-classique'|trans }}</h2>
                                <div class="ligne-gauche-carte"></div>
                                <h3>{{ 'section2-abonnement-h3-classique'|trans }}</h3>
                                <div class="ligne-droite-carte"></div>
                            </div>
                            <div class="content-info-abonnement">
                                <h4 class="titre-info-abonnement">{{ 'section2-abonnement-h4-classique-liste'|trans }}</h4>
                                <hr>
                                <ul class="liste-info-abonnement">
                                    <li>{{ 'section2-abonnement-li-classique-1'|trans }}</li>
                                    <li>{{ 'section2-abonnement-li-classique-2'|trans }}</li>
                                    <li>{{ 'section2-abonnement-li-classique-3'|trans }}</li>
                                    <li>{{ 'section2-abonnement-li-classique-4'|trans }}</li>
                                </ul>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="" data-action="{{ path('scg_add_to_cart',{'productId':55}) }}" target="" class="btn button-header-abonnement-bleu button-bling ajaxSend">
                                    <div class="left"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                                    <div class="right">
                                        {{ 'section2-abonnement-classique-bouton'|trans }} 2000{#{{ product.price }}#} €
                                    </div>
                                </a>
                                {% else %}
                                    <a href="" data-action="{{ path('scg_add_to_cart',{'productId':55}) }}" target="" class="btn button-header-abonnement-bleu button-bling not-connected ajaxSend">
                                        <div class="left"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                                        <div class="right">
                                            {{ 'section2-abonnement-classique-bouton'|trans }} 2000{#{{ product.price }}#} €
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="container-carte-premium col-md-6">
                            <div class="content-carte-premium">
                                {% image '%kernel.root_dir%/../web/images/logo-zone-custom-orange.png' %}
                                <img src="{{ asset_url }}" alt="Logo-carte" class="logo-carte" />
                                {% endimage %}
                                <h2>{{ 'section2-abonnement-h2-premium'|trans }}</h2>
                                <div class="ligne-gauche-carte"></div>
                                <h3>{{ 'section2-abonnement-h3-premium'|trans }}</h3>
                                <div class="ligne-droite-carte"></div>
                            </div>
                            <div class="content-info-abonnement">
                                <h4 class="titre-info-abonnement">{{ 'section2-abonnement-h4-premium-liste'|trans }}</h4>
                                <hr>
                                <ul class="liste-info-abonnement">
                                    <li>{{ 'section2-abonnement-li-premium-1'|trans }}</li>
                                    <li>{{ 'section2-abonnement-li-premium-2'|trans }}</li>
                                    <li>{{ 'section2-abonnement-li-premium-3'|trans }}</li>
                                    <li>{{ 'section2-abonnement-li-premium-4'|trans }}</li>
                                    <li>{{ 'section2-abonnement-li-premium-5'|trans }}</li>
                                </ul>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="#" data-action="{{ path('scg_add_to_cart',{'productId':56}) }}" target="" class="btn button-header-abonnement-noir button-bling ajaxSend">
                                    <div class="left"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                                    <div class="right">
                                        {{ 'section2-abonnement-premium-bouton'|trans }} 3000{#{{ product.price }}#} €
                                    </div>
                                </a>
                                {% else %}
                                    <a href="#" data-action="{{ path('scg_add_to_cart',{'productId':56}) }}" target="" class="btn button-header-abonnement-noir button-bling not-connected ajaxSend">
                                        <div class="left"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                                        <div class="right">
                                            {{ 'section2-abonnement-premium-bouton'|trans }} 3000{#{{ product.price }}#} €
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </section>

    </main>

{% endblock %}