{% extends 'base.html.twig' %}
{#{% trans_default_domain "messages" %}#}

{% block body %}


    <header>
        <div class="container-full reset-all">
            <div class="row reset-all">
                <div class="col-xs-12 col-md-12 reset-all">
                    <a href="{{ path('homepage') }}" class="smallogo"><!-- Logo mobile -->
                        {% image '%kernel.root_dir%/../web/images/logo-zone-custom-orange.png' %}
                        <img src="{{ asset_url }}" alt="Logo" class="Logo" />
                        {% endimage %}
                    </a>
                    <div class="image-header-index"></div>

                    <div class="text-header">
                        <h1>
                            <span class="span-text-bas"><p class="text-bas-reveal" id="rev-3">{{ 'text-bas-reveal-part1'|trans }}</p></span>
                            <span class="span-text-haut" id="rev-1">{{ 'text-bas-reveal-part2'|trans }}</span>
                            <div class="ligne-text"></div>
                            <span class="span-text-haut" id="rev-2">{{ 'text-bas-reveal-part3'|trans }}</span>

                        </h1>
                    </div>


                    <div class="video-header">
                        <a class="button-icon hero-image-scroll-down is-inverted movie">
                            <svg class="circle-svg button-icon-outline" width="100%" height="100%" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <circle class="circle" cx="50" cy="50" r="48.8" fill="none" stroke="#fff" stroke-width="1.2" vector-effect="non-scaling-stroke">
                                </circle>
                            </svg>
                        </a>
                        <svg viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" id="play-triangle-svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                            <g id="play-triangle-shape" fill="#fff" fill-rule="evenodd">
                                <g class="triangle-container">
                                    <polygon class="play-triangle" id="play-Triangle" points="8 26 8 4 27 15" stroke="#fff" style="stroke-width: 2px;"></polygon> <!-- stroke-width="1.5" -->
                                </g>
                            </g>
                        </svg>
                        <a class="movie">{{ 'movie'|trans }}</a>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- VIMEO START -->
    <div class="fm">
        <div class="fm__layer">
        </div>
        <div class="fm__player" style="opacity: 0;">
            <div tabindex="0" class="plyr plyr--video">
                <div class="fm__player__video plyr__video-wrapper plyr__video-embed" id="height-vimeo">
                    <div id="vimeo-container" data-vimeo-initialized="true">
                        <iframe src="https://player.vimeo.com/video/219484177?api=1&title=0&amp;byline=0&amp;portrait=0" id="video" width="640" height="360" frameborder="0" title="Self Custom Garage" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true" tabindex="-1">
                        </iframe><!-- &quality=2k -->
                    </div>
                </div>
            </div>
            <div class="fm__bar fm__bar-bas">
                <div class="plyr__controls">
                    <button type="button" id="play" style="display:none;">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </button>
                    <button type="button" id="pause">
                        <i class="fa fa-pause" aria-hidden="true"></i>
                    </button>
                    <div class="container-progress-bar">
                        <div class="ligne-progress-bar"></div>
                    </div>
                    <span class="plyr__time">
          <span class="plyr__time--current">00:00</span>
                        <!--<span class="time-total">00:00/</span>-->
        </span>
                </div>
            </div>
            <div class="fm__bar fm__bar-haut">
                <a href="#" class="close" data-close-fm="">{{ 'close-movie'|trans }}</a>
            </div>
        </div>
    </div>
    <!-- VIMEO END -->

    <main>
        <div class="container">
            <div class="row" id="row-bloc1-index">
                <section id="section-index-1" class="container-section-1 col-md-12"><!-- SECTION 1 -->
                    <h2>{{ 'section1-h2'|trans }}</h2>
                    <div class="border-h1-left"></div>
                    <h1>{{ 'section1-h1'|trans }}</h1>
                    <div class="border-h1-right"></div>
                    <p>{% trans %}section1-bloc1-p{% endtrans %}</p>
                </section>
            </div>
        </div>

        <div class="container-full">
            <div class="row reset-all">
                <section id="section-index-2" class="container-section-2"><!-- SECTION 2 -->
                    <div class="container-inscription">
                        <div class="container content-inscription">
                            <div class="border-vertical"></div>
                            <div class="content-titre-intro">
                                <h2>{% trans %}h2-custom-zone{% endtrans %}</h2>
                                <h3>{% trans %}h3-custom-zone{% endtrans %}</h3>
                            </div>
                            <div class="content-text-button">
                                <p class="width-ipad">{% trans %}texte-custom-zone{% endtrans %}</p>
                                <a href="#" class="button-outline bouton-inscription">
                                    <div class="container-arrondie-bouton-left"><div class="bouton-image-left"></div></div>
                                    <span class="button-outline-copy small-padding">
                        			    <p class="button-text-wrapper">{{ 'section2-index-button-inscription'|trans }}</p>
                        	        </span>
                                    <span class="button-outline-bottom"></span>
                                    <div class="container-arrondie-bouton-right"><div class="bouton-image-right"></div></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="section-index-3" class="container-section-3"><!-- SECTION 3 -->

                    <!-- Partie 1 -->
                    <div class="container container-section3-part1 reset-all">
                        <div class="row reset-row-mobile">
                            <div class="col-md-6 bloc-texte-arrondi">
                                <div class="bloc-center">
                                    <div class="titre-contrast">
                                        <h2>
                                            <span class="span-contrast1">{{ 'section3-index-span1'|trans }}</span>
                                            <span class="span-contrast2">{{ 'section3-index-span2'|trans }}</span>
                                        </h2>
                                    </div>
                                    <p class="width-ipad">{% trans %}texte-section3-partie1{% endtrans %}</p>
                                    <a href="{{ path('abonnement') }}" class="button-outline2">
                                        <div class="container-arrondie-bouton-left"><div class="bouton-image-left"></div></div>
                                        <span class="button-outline-copy small-padding">
                                            <p class="button-text-wrapper">{{ 'button-section3-partie1'|trans }}</p>
                                        </span>
                                        <span class="button-outline-bottom"></span>
                                        <div class="container-arrondie-bouton-right"><div class="bouton-image-right"></div></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 reset-all arrondi-container container-skew1">
                                <div class="images1-skew">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         viewBox="0 0 273 195" enable-background="new 0 0 273 195" xml:space="preserve" preserveAspectRatio="xMidYMid slice">
                                        <g>
                                            <defs>
                                                <path id="SVGID_1_" d="M72,95L0.3,185h273.1V5.2C198.6,5.7,121.1,38.5,72,95"/>
                                            </defs>
                                        </g>
                                            <clipPath id="adpersonam-skew-1-mask">
                                                <use xlink:href="#SVGID_1_"  overflow="visible"/>
                                            </clipPath>
                                            <image clip-path="url(#adpersonam-skew-1-mask)" preserveAspectRatio="xMidYMid meet" height="100%" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/coach-mask1.jpg" lazy-src="/images/coach-mask1.jpg" class="ng-scope">
                                            </image>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Partie 2 -->
                    <div class="container container-section3-part2">
                        <div class="row reset-all">
                            <div class="col-md-6 reset-all container-skew2">
                                <div class="images2-skew">
                                    <svg viewBox="0 0 2.5 1" preserveAspectRatio="xMidYMid slice">
                                        <clipPath id="adpersonam-skew-2-mask">
                                            <polygon fill="red" points="0 0, 3.27 -0.93, 1.655 1 , 1 2, 0 5"></polygon>
                                        </clipPath>
                                        <image clip-path="url(#adpersonam-skew-2-mask)" preserveAspectRatio="xMidYMid slice" height="100%" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/moto-mask2-part1.jpg" lazy-src="/images/moto-mask2-part1.jpg" class="ng-scope">
                                        </image>
                                    </svg>
                                </div>
                            </div>

                            <div class="col-md-6 reset-all container-skew3">
                                <div class="images3-skew">
                                    <svg viewBox="0 0 2.5 1" preserveAspectRatio="xMidYMid slice">
                                        <clipPath id="adpersonam-skew-3-mask">
                                            <polygon fill="green" points="2.867671 0, 2.5 0, 2.6609 1 , 0.028571428571429 1, 0.86067105974871 0"></polygon>
                                        </clipPath>
                                        <image clip-path="url(#adpersonam-skew-3-mask)" preserveAspectRatio="xMidYMid slice" height="100%" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/moto-mask2-part2.jpg" lazy-src="/images/moto-mask2-part2.jpg" class="ng-scope">
                                        </image>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Partie 3 -->
                    <div class="container container-section3-part3">
                        <div class="row reset-all">

                            <div class="col-md-6 reset-all arrondi-container container-skew1">
                                <div class="images4-skew">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         viewBox="0 0 273 185" enable-background="new 0 0 273 185" xml:space="preserve" preserveAspectRatio="xMidYMid slice">
                                        <g>
                                            <defs>
                                                <path id="SVGID_2_" d="M201.6,95.2l71.7-90H0.3l0,179.8C75.1,184.4,152.6,151.7,201.6,95.2"/>
                                            </defs>
                                        </g>
                                        <clipPath id="adpersonam-skew-4-mask">
                                            <use xlink:href="#SVGID_2_"  overflow="visible"/>
                                        </clipPath>
                                        <image clip-path="url(#adpersonam-skew-4-mask)" preserveAspectRatio="xMidYMid slice" height="100%" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/piece-mask4.jpg" lazy-src="/images/piece-mask4.jpg" class="ng-scope">
                                        </image>
                                    </svg>
                                </div>
                            </div>

                            <div class="col-md-6 bloc-texte-arrondi">
                                <div class="bloc-center">
                                    <div class="titre-contrast">
                                        <h2>
                                            <span class="span-contrast1">{{ 'section3-index-span3'|trans }}</span>
                                            <span class="span-contrast2">{{ 'section3-index-span4'|trans }}</span>
                                        </h2>
                                    </div>
                                    <p class="width-ipad">{% trans %}texte-section3-partie2{% endtrans %}
                                    </p>
                                    <a href="{{ path('scg_shop_homepage') }}" class="button-outline3">
                                        <div class="container-arrondie-bouton-left"><div class="bouton-image-left"></div></div>
                                        <span class="button-outline-copy small-padding">
                                          <p class="button-text-wrapper">{{ 'button-section3-partie2'|trans }}</p>
                                        </span>
                                        <span class="button-outline-bottom"></span>
                                        <div class="container-arrondie-bouton-right"><div class="bouton-image-right"></div></div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

            </div>
        </div>


        <section id="section-index-4"><!-- SECTION 4 -->
            <div class="container container-section4">
                <div class="row reset-all">
                    <div class="part1-left col-md-6">
                        <div class="part1-bg-img1">
                        <!-- <div class="border-vertical2"></div>
                             <h2>
                                 <span>UNE HONDA SHADOW</span>
                                 <span class="span-light">VT600 DE 1998</span>
                             </h2>-->
                            {#<a class="bouton-after-bg1-left">
                                 {% image '%kernel.root_dir%/../web/images/arrow-moto-left.png' %}
                                 <img src="{{ asset_url }}" alt="arrow-left" class="arrow-left" />
                                 {% endimage %}
                             </a>
                             <a class="bouton-after-bg1-right">
                                 {% image '%kernel.root_dir%/../web/images/arrow-moto-right.png' %}
                                 <img src="{{ asset_url }}" alt="arrow-right" class="arrow-right" />
                                 {% endimage %}
                             </a>#}
                         </div>
                         {#<div class="part1-bg-img2">
                             <div class="border-vertical2"></div>
                             <h2>
                                 <span>{{ 'section4-index-span1'|trans }}</span>
                                 <span class="span-light">{{ 'section4-index-span2'|trans }}</span>
                             </h2>
                             <a class="bouton-after-bg2-left">
                                 {% image '%kernel.root_dir%/../web/images/arrow-moto-left.png' %}
                                 <img src="{{ asset_url }}" alt="arrow-left" class="arrow-left" />
                                 {% endimage %}
                             </a>
                             <a class="bouton-after-bg2-right">
                                 {% image '%kernel.root_dir%/../web/images/arrow-moto-right.png' %}
                                 <img src="{{ asset_url }}" alt="arrow-right" class="arrow-right" />
                                 {% endimage %}
                             </a>
                         </div>#}

                    </div>

                    <div class="part2-left col-md-6">
                        <div class="part2-haut">
                            <div class="trigger-center"></div>
                            <div class="border-vertical2"></div>
                            <h2>
                                <span>{{ 'section4-index-span3'|trans }}</span>
                                <span class="span-light">{{ 'section4-index-span4'|trans }}</span>
                            </h2>
                            <div class="portrait"></div>
                            <p class="width-ipad">{{ 'section4-index-explication-p1'|trans }}</p>
                            <div class="moto1-transformation-remplacement"></div>
                        </div>
                        <div class="part2-bas">
                            <p class="width-ipad">{% trans %}section4-index-explication-p2{% endtrans %}</p>
                            <p class="width-ipad">{{ 'section4-index-explication-p3'|trans }}</p>
                            <!--<div class="moto2-transformation-remplacement"></div>-->
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
