{% extends '::base.html.twig' %}

{% block body %}

    <header>
        <div class="container-full reset-all">
            <div class="row reset-all">
                <div class="col-xs-12 col-md-12 reset-all">
                    <div class="image-header-localisation">
                    </div>

                    <div class="text-header-localisation">
                        <h2>
                            <span class="span-contrast1">{{ 'header-localisation-span1'|trans }}</span>
                            <span class="span-contrast2">{{ 'header-localisation-span2'|trans }}</span>
                        </h2>
                        <p>{% trans %}header-localisation-intro{% endtrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="section-map">
            <div id="map">
            </div>
            <div id="pop-up-map" class="pop-up">
                <div class="image-pop-up">
                    {% image '%kernel.root_dir%/../web/images/pins-info.png' %}
                    <img src="{{ asset_url }}" alt="Pin-info" class="pin-info" />
                    {% endimage %}
                </div>
                <div class="texte-pop-up">
                    <p>{% trans %}texte-pop-up{% endtrans %}</p>
                </div>
                <a class="close-pop-up">
                    <i class="fa fa-times close-pop-up" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </main>

    <!-- MAPS API -->
    <script>



        var markers = [];
        var map;
        var mapOptions;
        var image = '/images/icon-gps.png';
        var image2 = '/images/me.png';
        var tMarker;
        var center;
        var closest;
        var directionsService;
        var directionsDisplay;
        var polylineOptionsActual;

        //Tracer vitesse ligne
        var step = 0;
        var numSteps = 250; //Changer la résolution de l'animation ici
        var timePerStep = 5; //Changer la vitesse de l'animation
        var interval;

        var tMarker = [
            { lat : 50.83,
                lng : 4.36,
                title : '{{ 'footer-tabs-country1'|trans }}',
                phone: '+32 472 35 68 60',
                heure: '10:00 - 17:00',
                distance : 'N/A',
                adresse : '<i class="fa fa-map-marker" aria-hidden="true"></i> {{ 'footer-tabs-adresse1'|trans }}',
                link : "https://www.google.be/maps/place/Bike+Zone/@50.8378298,4.4010134,14.5z/data=!4m8!1m2!2m1!1sMoto+garage+bruxelles!3m4!1s0x0:0xe5642e205af7a434!8m2!3d50.8386439!4d4.3983507?hl=fr"
            },
            { lat :50.4559,
                lng : 4.8700,
                title : '{{ 'footer-tabs-country2'|trans }}',
                phone: '+32 472 22 46 44',
                heure: '08:00 – 18:30',
                distance : 'N/A',
                adresse : '<i class="fa fa-map-marker" aria-hidden="true"></i> {{ 'footer-tabs-adresse2'|trans }}',
                link : "https://www.google.be/maps/place/New+Moto+sprl/@50.4704434,4.8647655,18.25z/data=!4m5!3m4!1s0x0:0x2e386a6e3bee733e!8m2!3d50.4704866!4d4.8651644?hl=fr"
            },
            {
                lat : 50.4485,
                lng :  3.9168,
                title : '{{ 'footer-tabs-country3'|trans }}',
                phone: '+32 472 36 36 39',
                heure: '09:00 - 17:00',
                distance : 'N/A',
                adresse : '<i class="fa fa-map-marker" aria-hidden="true"></i> {{ 'footer-tabs-adresse3'|trans }}',
                link : "https://www.google.be/maps/place/Casu+Motos/@50.4482052,3.9169491,18.25z/data=!4m5!3m4!1s0x0:0x3f0640812f1fe813!8m2!3d50.4481683!4d3.9172402?hl=fr"
            },
            {lat :51.195,
                lng : 4.311,
                title : '{{ 'footer-tabs-country4'|trans }}',
                phone: '+32 472 21 30 01',
                heure: '<span style="color:red;"> {{ 'localisation-fermeture'|trans }}</span>',
                distance : 'N/A',
                adresse : '<i class="fa fa-map-marker" aria-hidden="true"></i> {{ 'footer-tabs-adresse4'|trans }}',
                link : "https://www.google.be/maps/place/Garage+Burger/@51.1964024,4.4583205,17.92z/data=!4m5!3m4!1s0x47c3f75dd61e9813:0x6b663fb215b9aa8c!8m2!3d51.1972062!4d4.456999?hl=fr"
            }
        ];

        function initMap() {
            //center = new google.maps.LatLng(50.849, 4.351);
            center = new google.maps.LatLng(50.7174, 4.4024);
            var infoWindow = new google.maps.InfoWindow({map: map});
            //var myLatLng = {lat: -25.363, lng: 131.044};

            mapOptions = {
                // How zoomed in you want the map to start at (always required)
                zoom: 8,
                zoomControl: true,
                scaleControl: false,
                scrollwheel: false,
                disableDoubleClickZoom: true,
                // The latitude and longitude to center the map (always required)
                center: center, // Bruxelles
                //'mapTypeId': google.maps.MapTypeId.ROADMAP
                mapTypeId: google.maps.MapTypeId.TERRAIN,

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{"featureType":"all","elementType":"geometry.fill","stylers":[{"weight":"2.00"}]},{"featureType":"all","elementType":"geometry.stroke","stylers":[{"color":"#9c9c9c"}]},{"featureType":"all","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#eeeeee"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#7b7b7b"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#c8d7d4"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"color":"#070707"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]}]

            };

            polylineOptionsActual = new google.maps.Polyline({
                strokeColor: '#77776a',
                strokeOpacity: 0.7,
                strokeWeight: 5,
                geodesic: true,
                map: map
            });



            map = new google.maps.Map(document.getElementById('map'), mapOptions);

            directionsService = new google.maps.DirectionsService;
            directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true, polylineOptions: polylineOptionsActual});

            directionsDisplay.setMap(map);



        } // END INITIALISATION MAP


        function drop() { //Appeler les fonctions suivante dans Tweenmax
            var infowindow = new google.maps.InfoWindow({
                content: "<p class='distanceInfo'>N/A</p><p class='adresseInfo'></p><span class='nameInfo'>Magasin Leonidas</span>"
            });

            //clearMarkers();
            for (var i = 0; i < tMarker.length; i++) {
                addMarkerWithTimeout(tMarker[i], i * 300, infowindow);
            }

            // Try HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    center = new google.maps.LatLng(pos.lat, pos.lng);
                    map.setCenter(center);

                    calculateAndDisplayRoute(center);

                    // Place a draggable marker on the map
                    var markerPos = new google.maps.Marker({
                        position: pos,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        icon: image2,
                        title:"Déplace moi!",
                        draggable:true
                    });

                    google.maps.event.addListener(markerPos, 'dragend', function (event) {
                        var pos = {
                            lat: event.latLng.lat(),
                            lng: event.latLng.lng()
                        };
                        center = new google.maps.LatLng(pos.lat, pos.lng);
                        map.setCenter(center);

                        calculateAndDisplayRoute(center);
                    });


                }, function() {
                    console.log('Si erreur alors afficher une function par defaut'); //Si l'utilisateur bloque le mode de géocalisation alors afficher un marqueur mis au hasard

                    //calculateAndDisplayRoute(center);

                    // Place a draggable marker on the map
                    var markerPos = new google.maps.Marker({
                        position: center,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        icon: image2,
                        title:"Déplace moi!",
                        draggable:true
                    });

                    google.maps.event.addListener(markerPos, 'dragend', function (event) {
                        var pos = {
                            lat: event.latLng.lat(),
                            lng: event.latLng.lng()
                        };
                        center = new google.maps.LatLng(pos.lat, pos.lng);
                        map.setCenter(center);



                        calculateAndDisplayRoute(center);
                    });


                });
            } else {
                // Browser doesn't support Geolocationconsole.log('error location not possible');
                console.log('error location not possible');
            }
            // Animation de la ligne qui se dessine
            /*var interval = setInterval(function() {
             step += 1;
             if (step > numSteps) {
             clearInterval(interval);
             } else {
             var are_we_there_yet = google.maps.geometry.spherical.interpolate(center,closest.marker.getPosition(),step/numSteps);
             polylineOptionsActual.setPath([center, are_we_there_yet]);
             }
             }, timePerStep);*/
        }

        function addMarkerWithTimeout(position, timeout, infowindow) {
            var marker = new google.maps.Marker({
                position: position,
                map: map,
                icon: image,
                title : position.title,
                description : position.description,
                phone : position.phone,
                heure : position.heure,
                distance: position.distance,
                link: position.link,
                adresse: position.adresse,
                animation: google.maps.Animation.DROP
            });

            markers.push(marker);
            google.maps.event.addListener(marker, 'click', function () {
                markerInfo(this, infowindow);
            });
        }

        function calculateAndDisplayRoute(pos) { //Pour retracer la route directionservice et renderer au dessus
            findNearest(pos); // on appelle la fonction en dessous pour faire la suite
            directionsService.route({
                origin: pos,
                destination: closest.marker.getPosition(),
                travelMode: 'WALKING'
            }, function(response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                } else {
                    console.log('info-bulle ICI');/* PLACER SON MESSAGE ICI */

                }
            });
        }

        function findNearest(pos){
            closest = '';
            $.each(markers,function(){
                var dist = google.maps.geometry.spherical.computeDistanceBetween(pos,this.getPosition()); //on va calculer la distance entre Center et la position récupérée
                dist = dist/1000;
                this.distance = dist.toFixed(2) + ' km'; // il va reprendre chaque élément distance dans le tableau et les remplacer part Dist
                if(!closest || closest.distance > dist){
                    closest = {
                        marker: this,
                        distance: dist
                    }
                }
            });
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
        }

        function markerInfo(marker, infowindow){ //La fonction qui est appelé lorsque l'on clique sur un marker
            infowindow.setContent("<a href="+marker.link+" target='_blank' class='nameInfo'>"+marker.title+"</a><p class='adresseInfo'>"+marker.adresse+"</p><p class='phoneInfo'><i class='fa fa-phone' aria-hidden='true'></i> "+marker.phone+"</p><p class='heureInfo'><i class='fa fa-clock-o' aria-hidden='true'></i> "+marker.heure+"</p><p class='distanceInfo'><i class='fa fa-road' aria-hidden='true'></i> "+marker.distance+"</p>");
            infowindow.open(map, marker);
        }

        function clearMarkers() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
        }

    </script>



    <!-- --- MAPS API --- -->
    <script
            src="//maps.googleapis.com/maps/api/js?key=AIzaSyDbbMOm_HxzY858CfCb6g5gRF8eVtwcTgc&signed_in=true&callback=initMap&libraries=geometry&sensor=true">
    </script>

{% endblock %}
