@charset "UTF-8";
/* Import de tous les fichiers SCSS */
/* Couleur utilis├® pour le texte classique GRIS FONCE */
/* Couleur utilis├® pour le texte classique BLANC */
/* Couleur utilis├® BROWN */
/* Couleur utilis├® BROWN TEXTE */
/* couleur des titres MAPS (bleu) */
/* Stylesheet */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Yantramanav:400,500,700");
.reset-all {
  margin: 0 !important;
  padding: 0 !important; }

/* PLACEHOLDER */
.container-section-1 h1, #footer #tabs h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500; }

.container-section-1 h2, .container-section-2 .container-inscription .content-inscription .content-titre-intro h2, #footer .content-footer-bas h2 {
  color: #77776a;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600; }

.container-section-2 .container-inscription .content-inscription .content-titre-intro h3 {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 74px;
  font-weight: 500; }

.container-section-1 p, #section-index-3 .bloc-texte-arrondi p, .container-section4 .part2-left p, #footer #tabs .content-icon-part1 .lien-footer, #footer #tabs .content-icon-part1 .lien-footer2, #footer #tabs .content-icon-part2 .lien-footer, #footer #tabs .content-icon-part2 .lien-footer2, #footer .newsletter .newsletter-email, #footer .newsletter .newsletter-submit, #footer .newsletter p, #footer .content-footer-bas p, .text-header-catalogue p, .container-catalogue-section-1 p {
  font-family: 'Yantramanav';
  font-size: 20px;
  font-weight: 400; }

.container-section-2 .container-inscription .content-inscription .content-text-button p {
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 300; }
  @media (min-width: 320px) and (max-width: 940px) {
    .container-section-2 .container-inscription .content-inscription .content-text-button p {
      font-size: 16px; } }

#section-index-3 .bloc-texte-arrondi .titre-contrast .span-contrast1, #section-index-3 .bloc-texte-arrondi .titre-contrast .span-contrast2, .container-section4 .part1-left .part1-bg-img1 h2 span, .container-section4 .part1-left .part1-bg-img2 h2 span, .container-section4 .part2-left h2 span, .text-header-catalogue h2 .span-contrast1, .text-header-catalogue h2 .span-contrast2, .container-catalogue-section-1 .titre-catalogue h2 .span-contrast1, .container-catalogue-section-1 .titre-catalogue h2 .span-contrast2 {
  font-size: 47px;
  text-transform: uppercase; }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline, #section-index-3 .bloc-texte-arrondi .button-outline2, #section-index-3 .button-outline3 {
  position: relative;
  display: inline-block;
  color: #77776a;
  text-decoration: none; }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline-copy, #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline-copy, #section-index-3 .button-outline3 .button-outline-copy {
  position: relative;
  display: block;
  padding: 0 2.6rem; }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline-copy:after, .container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline-copy:before, #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline-copy:after, #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline-copy:before, #section-index-3 .button-outline3 .button-outline-copy:after, #section-index-3 .button-outline3 .button-outline-copy:before {
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  background: currentColor;
  left: 0;
  right: 0;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 50ms; }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline:after, .container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline:before, #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline2:after, #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline2:before, #section-index-3 .button-outline3 .button-outline3:after, #section-index-3 .button-outline3 .button-outline3:before {
  left: 0;
  position: absolute;
  content: ''; }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline-bottom:after, .container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline-bottom:before, #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline-bottom:after, #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline-bottom:before, #section-index-3 .button-outline3 .button-outline-bottom:after, #section-index-3 .button-outline3 .button-outline-bottom:before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background: currentColor;
  left: 0;
  right: 0;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 50ms; }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline:after, #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline2:after, #section-index-3 .button-outline3 .button-outline3:after {
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 60%;
  background: currentColor;
  transition: right 0s cubic-bezier(0.19, 1, 0.22, 1) 110ms, opacity 0.1s cubic-bezier(0.25, 0.25, 0.75, 0.75) 0s;
  opacity: 0; }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-text-wrapper, #section-index-3 .bloc-texte-arrondi .button-outline2 .button-text-wrapper, #section-index-3 .button-outline3 .button-text-wrapper {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  line-height: 50px;
  color: #fff; }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .bouton-image-left {
  position: absolute;
  width: 28px;
  height: 106%;
  background: url(../images/bouton1.png);
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  -webkit-transform: translate(-90%, -2%);
  -ms-transform: translate(-90%, -2%);
  transform: translate(-90%, -2%); }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .bouton-image-right {
  position: absolute;
  width: 28px;
  height: 106%;
  background: url(../images/bouton2.png);
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  -webkit-transform: translate(100%, -96%);
  -ms-transform: translate(100%, -96%);
  transform: translate(100%, -96%); }

/* HOVER HAUT BUTTON LIGNE */
.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline-copy:after, #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline-copy:after, #section-index-3 .button-outline3 .button-outline-copy:after {
  left: calc(72% + 8px); }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline-copy:before, #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline-copy:before, #section-index-3 .button-outline3 .button-outline-copy:before {
  right: calc(28% + 8px); }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button_hover.button-outline-copy:after, #section-index-3 .bloc-texte-arrondi .button-outline2 .button_hover2.button-outline-copy:after, #section-index-3 .button-outline3 .button_hover3.button-outline-copy:after {
  left: calc(20% + 8px); }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button_hover.button-outline-copy:before, #section-index-3 .bloc-texte-arrondi .button-outline2 .button_hover2.button-outline-copy:before, #section-index-3 .button-outline3 .button_hover3.button-outline-copy:before {
  right: calc(80% + 8px); }

/*HOVER BAS BUTTON LIGNE */
.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline-bottom:after, #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline-bottom:after, #section-index-3 .button-outline3 .button-outline-bottom:after {
  left: calc(28% + 8px); }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline-bottom:before, #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline-bottom:before, #section-index-3 .button-outline3 .button-outline-bottom:before {
  right: calc(72% + 8px); }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button_hover_bas.button-outline-bottom:after, #section-index-3 .bloc-texte-arrondi .button-outline2 .button_hover_bas2.button-outline-bottom:after, #section-index-3 .button-outline3 .button_hover_bas3.button-outline-bottom:after {
  left: calc(78% + 8px); }

.container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button_hover_bas.button-outline-bottom:before, #section-index-3 .bloc-texte-arrondi .button-outline2 .button_hover_bas2.button-outline-bottom:before, #section-index-3 .button-outline3 .button_hover_bas3.button-outline-bottom:before {
  right: calc(22% + 8px); }

/* POUR FLEXBOX */
.container-catalogue-section-1 .grid-flexbox .grid-cell-1, .container-catalogue-section-1 .grid-flexbox .grid-cell-2, .container-catalogue-section-1 .grid-flexbox .grid-cell-3, .container-catalogue-section-1 .grid-flexbox .grid-cell-4, .container-catalogue-section-1 .grid-flexbox .grid-cell-5 {
  flex: 1;
  height: 100%;
  margin: 0px 8px 0px 8px; }
  .container-catalogue-section-1 .grid-flexbox .grid-cell-1 .card-box, .container-catalogue-section-1 .grid-flexbox .grid-cell-2 .card-box, .container-catalogue-section-1 .grid-flexbox .grid-cell-3 .card-box, .container-catalogue-section-1 .grid-flexbox .grid-cell-4 .card-box, .container-catalogue-section-1 .grid-flexbox .grid-cell-5 .card-box {
    background-color: #f1f1f1;
    /*margin-bottom: 16px;*/ }
    .container-catalogue-section-1 .grid-flexbox .grid-cell-1 .card-box .content-box-text, .container-catalogue-section-1 .grid-flexbox .grid-cell-2 .card-box .content-box-text, .container-catalogue-section-1 .grid-flexbox .grid-cell-3 .card-box .content-box-text, .container-catalogue-section-1 .grid-flexbox .grid-cell-4 .card-box .content-box-text, .container-catalogue-section-1 .grid-flexbox .grid-cell-5 .card-box .content-box-text {
      padding: 0px 15px 15px 15px; }
      .container-catalogue-section-1 .grid-flexbox .grid-cell-1 .card-box .content-box-text h3, .container-catalogue-section-1 .grid-flexbox .grid-cell-2 .card-box .content-box-text h3, .container-catalogue-section-1 .grid-flexbox .grid-cell-3 .card-box .content-box-text h3, .container-catalogue-section-1 .grid-flexbox .grid-cell-4 .card-box .content-box-text h3, .container-catalogue-section-1 .grid-flexbox .grid-cell-5 .card-box .content-box-text h3 {
        color: #fff;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase; }
      .container-catalogue-section-1 .grid-flexbox .grid-cell-1 .card-box .content-box-text a, .container-catalogue-section-1 .grid-flexbox .grid-cell-2 .card-box .content-box-text a, .container-catalogue-section-1 .grid-flexbox .grid-cell-3 .card-box .content-box-text a, .container-catalogue-section-1 .grid-flexbox .grid-cell-4 .card-box .content-box-text a, .container-catalogue-section-1 .grid-flexbox .grid-cell-5 .card-box .content-box-text a {
        /*@extend %reseaux-sociaux;*/ }
  .container-catalogue-section-1 .grid-flexbox .grid-cell-1 .card-box-image .signature-box, .container-catalogue-section-1 .grid-flexbox .grid-cell-2 .card-box-image .signature-box, .container-catalogue-section-1 .grid-flexbox .grid-cell-3 .card-box-image .signature-box, .container-catalogue-section-1 .grid-flexbox .grid-cell-4 .card-box-image .signature-box, .container-catalogue-section-1 .grid-flexbox .grid-cell-5 .card-box-image .signature-box {
    padding-top: 10px;
    font-style: italic; }
  .container-catalogue-section-1 .grid-flexbox .grid-cell-1 .images-box, .container-catalogue-section-1 .grid-flexbox .grid-cell-2 .images-box, .container-catalogue-section-1 .grid-flexbox .grid-cell-3 .images-box, .container-catalogue-section-1 .grid-flexbox .grid-cell-4 .images-box, .container-catalogue-section-1 .grid-flexbox .grid-cell-5 .images-box {
    width: 100%; }

/* FONTS */
body {
  overflow-x: hidden;
  font-family: 'Montserrat';
  background: red; }

a {
  cursor: pointer; }

/* ---------------------- WINDOW MODAL ---------------------- */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 150;
  /* Sit on top */
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 450px;
  height: 338px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px; }
  .modal-content input {
    width: 100%;
    height: 64px;
    display: block;
    border: solid 1px #77776a;
    font-size: 16px;
    padding: 15px 35px 15px 15px; }
  .modal-content #remember_me {
    height: inherit;
    width: inherit;
    padding: inherit;
    display: inline-block;
    margin-top: 20px; }
  .modal-content #_submit {
    background-color: #77776a;
    color: #fff;
    transition: all 0.1s cubic-bezier(1, 1, 1, 1);
    padding: 0; }
    .modal-content #_submit:hover {
      /*background-color:#d2d1bb;*/
      opacity: 0.9; }
  .modal-content #username, .modal-content #password {
    background-position: right -28px;
    background-image: url("../images/icon-login.png");
    background-repeat: no-repeat;
    background-size: 40px 171px; }
  .modal-content #password {
    background-position: right -79px; }
  .modal-content .password-label {
    margin-top: 12px; }

/* The Close Button */
.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 0;
  position: absolute;
  right: 12px; }

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

/* ---------------------- MENU ---------------------- */
.menu .headerfull {
  position: absolute;
  z-index: 110;
  /* 110 because overlay at 102 */
  width: 100%; }
  .menu .headerfull .nav-menu {
    /*@extend %font-nav;*/ }
    .menu .headerfull .nav-menu .wsmenu-list {
      /*padding-top:10px !important;*/ }
      .menu .headerfull .nav-menu .wsmenu-list .wsmenu-submenu {
        top: inherit !important; }
    .menu .headerfull .nav-menu .menu-droit {
      float: right; }
      @media (min-width: 320px) and (max-width: 940px) {
        .menu .headerfull .nav-menu .menu-droit {
          border-top: solid 1px #fff;
          opacity: 0.7;
          padding-top: 9px; } }

.wsmenu-list > li {
  float: right; }

.menu-droit > li > a {
  padding: 0 10px 0px 10px !important;
  display: inline-block !important; }
  @media (min-width: 320px) and (max-width: 940px) {
    .menu-droit > li > a {
      display: block !important;
      padding: 9px 32px 9px 32px !important; } }

.after-inscription:after {
  content: "|";
  color: #fff;
  display: inline-block;
  float: right;
  vertical-align: middle;
  line-height: 62px; }
  @media (min-width: 320px) and (max-width: 940px) {
    .after-inscription:after {
      display: none; } }

.share-li .share:hover {
  opacity: 0.9; }

@media (min-width: 320px) and (max-width: 940px) {
  .wsmenu {
    background: #2b2b2b; } }

.langue-nl {
  background-color: #808071;
  width: 30px;
  height: 30px;
  margin: 16px 10px 0px 0px;
  line-height: 30px;
  font-weight: 300;
  text-align: center; }
  @media (min-width: 320px) and (max-width: 940px) {
    .langue-nl {
      margin: 0; } }

.smallogo {
  display: none; }
  @media (min-width: 320px) and (max-width: 940px) {
    .smallogo {
      display: block; } }

/* ---------------------- HEADER ---------------------- */
.container-full .image-header-index {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("../images/header-img.jpg");
  background-repeat: no-repeat;
  /*background-position: center;*/ }
  @media (min-width: 320px) and (max-width: 940px) {
    .container-full .image-header-index {
      background-position: 100% 100%;
      background-size: center; } }
.container-full .text-header {
  position: absolute;
  top: 50%;
  margin-top: -140px;
  width: 100%;
  text-align: center; }
  .container-full .text-header h1 {
    color: #fff; }
  .container-full .text-header .span-text-haut {
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    font-size: 50px; }
    @media (min-width: 320px) and (max-width: 940px) {
      .container-full .text-header .span-text-haut {
        font-size: 20px;
        font-weight: 600; } }
  .container-full .text-header .ligne-text {
    vertical-align: middle;
    display: inline-block;
    border-bottom: solid 1px #fff;
    width: 50px;
    height: 1px;
    content: "";
    margin: -10px 13px 0px 13px; }
    @media (min-width: 320px) and (max-width: 940px) {
      .container-full .text-header .ligne-text {
        display: none; } }
  .container-full .text-header .span-text-bas {
    text-transform: uppercase;
    display: block;
    font-size: 80px;
    padding-left: 9px; }
    @media (min-width: 320px) and (max-width: 940px) {
      .container-full .text-header .span-text-bas {
        font-size: 40px;
        padding: 0; } }
    @media (min-width: 320px) and (max-width: 940px) {
      .container-full .text-header .span-text-bas p {
        margin: 0; } }
.container-full .video-header {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center; }
  .container-full .video-header a {
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    text-align: center; }
    .container-full .video-header a:hover {
      text-decoration: none;
      opacity: 0.9; }

.button-icon {
  height: 55px;
  width: 55px; }

.hero-image-scroll-down {
  position: absolute;
  bottom: 3.3rem;
  left: 50%;
  margin-left: -28px;
  cursor: pointer;
  z-index: 1; }

.button-icon-outline .circle {
  color: #fff;
  stroke: currentColor;
  stroke-dasharray: 69 13;
  stroke-dashoffset: 8;
  stroke-width: 1.4;
  r: 48px;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1); }

#play-triangle-svg {
  position: absolute;
  left: 50%;
  top: -56px;
  margin-left: -15px;
  width: 30px;
  height: 30px; }
  #play-triangle-svg:hover {
    fill: #C0AB89; }

/* --- REVEAL DIV --- */
.text-bas-reveal {
  display: inline-block; }

/* ---------------------- VIMEO CSS ---------------------- */
.movie {
  padding: 0;
  outline: 0; }

.close {
  position: absolute;
  bottom: 25px;
  z-index: 10;
  color: #d2d1bb;
  text-transform: uppercase;
  text-decoration: none;
  left: 50%;
  transform: translateX(-50%);
  color: #77776a !important;
  -webkit-transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease;
  text-shadow: none;
  opacity: 1 !important;
  font-weight: 400;
  font-size: 22px; }
  .close:hover {
    color: #d2d1bb !important; }

.croix {
  padding: 7px; }

#pause, #play {
  outline: 0;
  font-size: 16px;
  width: 35px; }

#pause:hover, #play:hover {
  color: #d2d1bb; }

.fm {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: hidden;
  z-index: 120;
  color: #766345;
  text-align: center; }

.fm__layer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  width: 100%;
  height: 0%;
  background-color: #fff;
  will-change: height; }

.fm * {
  border-radius: 0; }

.fm__player .plyr {
  background: #fff; }

.fm__bar {
  height: 140px;
  display: block;
  position: fixed;
  width: 100%;
  left: 0;
  background-color: #1C1C1C;
  z-index: 10; }

.fm__bar--top {
  top: 0; }

.fm__bar--bottom {
  bottom: 0; }

/* VIDEO IFRAME */
.fm__player .plyr {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: #000;
  border-radius: 0; }

.plyr__video-wrapper, .fm__player .plyr__video-wrapper {
  width: 100%;
  height: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.fm__player__video {
  position: absolute;
  opacity: 0; }

.plyr__video-embed {
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: inherit; }

.plyr__video-embed > div {
  position: relative;
  padding-bottom: 200%;
  -webkit-transform: translateY(-35.95%);
  transform: translateY(-35.95%); }

/* Suppression du click sur la video */
.plyr .plyr__video-embed iframe {
  pointer-events: none; }
  @media (min-width: 320px) and (max-width: 940px) {
    .plyr .plyr__video-embed iframe {
      pointer-events: auto; } }

.plyr__video-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* CONTROLS CSS */
.plyr__controls {
  z-index: 100;
  bottom: auto !important;
  top: 0;
  width: 80%;
  width: 100%;
  margin: 0 auto;
  background: none;
  padding: 0;
  padding-top: 25px; }

.plyr--video .plyr__controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 10px 10px;
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  color: #fff;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease; }

.plyr__controls button {
  position: relative;
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: visible;
  vertical-align: middle;
  padding: 7px;
  border: 0;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background .3s ease, color .3s ease, opacity .3s ease;
  transition: background .3s ease, color .3s ease, opacity .3s ease;
  color: inherit;
  color: #766345;
  width: 2rem; }

.plyr__time--current {
  display: inline-block;
  width: 43px; }

.container-progress-bar {
  display: inline-block;
  width: 400px;
  background-color: black;
  margin-right: 10px; }

.ligne-progress-bar {
  height: 10px;
  width: 0%;
  background-color: #766345; }

.plyr, .plyr *, .plyr *::after, .plyr *::before {
  box-sizing: border-box; }

/*
*, *:before, *:after {
  box-sizing: inherit;
}*/
.plyr a, .plyr button, .plyr input, .plyr label {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

/* ---------------------- VIMEO CSS ---------------------- */
/* -- DIVERS -- */
.container-section3-part1, .container-section3-part2, .container-section3-part3 {
  width: 100%; }

.container-section3-part2 {
  padding: 40px 0px 0px 0px;
  margin: 0; }

.container-section3-part3 {
  padding: 30px 0px 0px 0px;
  margin: 0; }

/* -- DIVERS -- */
/* ---------------------- SECTION 1 ---------------------- */
.container-section-1 {
  height: 100%;
  padding: 230px 0px 230px 0px;
  text-align: center; }
  @media (min-width: 320px) and (max-width: 940px) {
    .container-section-1 {
      padding: 20px 20px 35px 20px; } }
  @media (min-width: 320px) and (max-width: 940px) {
    .container-section-1 h2 {
      font-size: 12px;
      margin-bottom: 5px; } }
  .container-section-1 h1 {
    display: inline-block; }
    @media (min-width: 320px) and (max-width: 940px) {
      .container-section-1 h1 {
        font-size: 20px;
        font-weight: 700; } }
  .container-section-1 p {
    padding-top: 30px; }
    @media (min-width: 320px) and (max-width: 940px) {
      .container-section-1 p {
        font-size: 16px; } }
  .container-section-1 .border-h1-left, .container-section-1 .border-h1-right {
    vertical-align: middle;
    display: inline-block;
    border-bottom: solid 2px #2b2b2b;
    width: 110px;
    margin: -18px 35px 0px 35px; }
    @media (min-width: 320px) and (max-width: 940px) {
      .container-section-1 .border-h1-left, .container-section-1 .border-h1-right {
        display: none; } }

/* ---------------------- SECTION 2 ---------------------- */
.container-section-2 {
  height: 100%;
  margin: auto; }
  .container-section-2 .container-inscription {
    text-align: center;
    width: 100%;
    height: 990px;
    background: url("../images/bikerzone.jpg") no-repeat;
    background-size: cover;
    background-position: center; }
    @media (min-width: 320px) and (max-width: 940px) {
      .container-section-2 .container-inscription {
        height: 465px; } }
    .container-section-2 .container-inscription .content-inscription {
      padding: 110px 0px 100px 0px; }
      @media (min-width: 320px) and (max-width: 940px) {
        .container-section-2 .container-inscription .content-inscription {
          padding: 45px 0px 0px 0px; } }
      .container-section-2 .container-inscription .content-inscription .border-vertical {
        position: absolute;
        display: inline-block;
        border-left: solid 1px #fff;
        width: 2px;
        height: 65px; }
        @media (min-width: 320px) and (max-width: 940px) {
          .container-section-2 .container-inscription .content-inscription .border-vertical {
            display: none; } }
      .container-section-2 .container-inscription .content-inscription .content-titre-intro {
        padding-top: 65px; }
        @media (min-width: 320px) and (max-width: 940px) {
          .container-section-2 .container-inscription .content-inscription .content-titre-intro {
            padding: 0; } }
        .container-section-2 .container-inscription .content-inscription .content-titre-intro h2 {
          color: #fff;
          margin-top: 25px; }
          @media (min-width: 320px) and (max-width: 940px) {
            .container-section-2 .container-inscription .content-inscription .content-titre-intro h2 {
              font-size: 12px; } }
        .container-section-2 .container-inscription .content-inscription .content-titre-intro h3 {
          color: #fff; }
          @media (min-width: 320px) and (max-width: 940px) {
            .container-section-2 .container-inscription .content-inscription .content-titre-intro h3 {
              font-size: 35px;
              margin-top: 20px; } }
      .container-section-2 .container-inscription .content-inscription .content-text-button {
        padding-top: 170px; }
        @media (min-width: 320px) and (max-width: 940px) {
          .container-section-2 .container-inscription .content-inscription .content-text-button {
            padding-top: 30px; } }
        .container-section-2 .container-inscription .content-inscription .content-text-button p {
          color: #fff; }
        .container-section-2 .container-inscription .content-inscription .content-text-button .button-outline {
          margin-top: 165px;
          /* HOVER HAUT */
          /*j'ai ajout├® un addclass en jquery au hover*/
          /*HOVER BAS*/
          /*j'ai ajout├® un addclass en jquery au hover*/ }
          @media (min-width: 320px) and (max-width: 940px) {
            .container-section-2 .container-inscription .content-inscription .content-text-button .button-outline {
              margin-top: 30px; } }
          .container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline-copy.small-padding {
            padding: 0 4.5rem; }
          .container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline-copy:after, .container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline-copy:before {
            transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 50ms; }
          .container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline-bottom:after, .container-section-2 .container-inscription .content-inscription .content-text-button .button-outline .button-outline-bottom:before {
            transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 50ms; }

/* ---------------------- SECTION 3 ---------------------- */
#section-index-3 {
  padding-top: 40px;
  /*svg{min-height:400px;}*/ }
  #section-index-3 .arrondi-container {
    margin: 0;
    padding: 0; }
  #section-index-3 .bloc-texte-arrondi {
    padding: 50px 6% 0% 8%;
    /*height:400px;*/ }
    #section-index-3 .bloc-texte-arrondi .titre-contrast {
      padding-bottom: 20px; }
      #section-index-3 .bloc-texte-arrondi .titre-contrast .span-contrast1 {
        font-weight: 200; }
        @media (min-width: 320px) and (max-width: 940px) {
          #section-index-3 .bloc-texte-arrondi .titre-contrast .span-contrast1 {
            font-size: 30px; } }
      #section-index-3 .bloc-texte-arrondi .titre-contrast .span-contrast2 {
        font-weight: 600; }
        @media (min-width: 320px) and (max-width: 940px) {
          #section-index-3 .bloc-texte-arrondi .titre-contrast .span-contrast2 {
            font-size: 30px; } }
    #section-index-3 .bloc-texte-arrondi p {
      margin: 0; }
    #section-index-3 .bloc-texte-arrondi .button-outline2 {
      margin-top: 35px;
      border-left: 2px solid #77776a;
      border-right: 2px solid #77776a; }
      #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline-copy.small-padding {
        padding: 0 3.9rem; }
      #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline-copy:after, #section-index-3 .bloc-texte-arrondi .button-outline2 .button-outline-copy:before {
        transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 50ms; }
      #section-index-3 .bloc-texte-arrondi .button-outline2 .button-text-wrapper {
        color: #2b2b2b; }
  #section-index-3 .button-outline3 {
    margin-top: 35px;
    border-left: 2px solid #77776a;
    border-right: 2px solid #77776a; }
    #section-index-3 .button-outline3 .button-outline-copy.small-padding {
      padding: 0 3.9rem; }
    #section-index-3 .button-outline3 .button-text-wrapper {
      color: #2b2b2b; }
  #section-index-3 .images2-skew {
    margin-right: -17%; }
  #section-index-3 .images3-skew {
    padding: 0;
    margin-left: -17%; }

/* ---------------------- SECTION 4 ---------------------- */
.container-section4 {
  width: 100%;
  padding: 35px 0 0 0; }
  .container-section4 .part1-left {
    height: 100vh;
    padding: 0; }
    .container-section4 .part1-left .part1-bg-img1 {
      width: 100%;
      height: 100%;
      background: url("../images/moto1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: center;
      padding-top: 70px; }
      .container-section4 .part1-left .part1-bg-img1 .border-vertical2 {
        display: inline-block;
        border-left: solid 1px #2b2b2b;
        z-index: 9999;
        width: 2px;
        height: 65px; }
      .container-section4 .part1-left .part1-bg-img1 h2 span {
        display: block; }
      .container-section4 .part1-left .part1-bg-img1 h2 .span-light {
        font-weight: 200; }
    .container-section4 .part1-left .part1-bg-img2 {
      position: absolute;
      top: 0;
      /*margin-top:-100vh;*/
      /*reactiver cette fonction et supprimer top:0; pour faire dans le sens inverse*/
      width: 100%;
      height: 100%;
      background: url("../images/honda-shadow-before3.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right;
      text-align: center;
      padding-top: 70px; }
      .container-section4 .part1-left .part1-bg-img2 .border-vertical2 {
        display: inline-block;
        border-left: solid 1px #2b2b2b;
        z-index: 9999;
        width: 2px;
        height: 65px; }
      .container-section4 .part1-left .part1-bg-img2 h2 {
        color: #2b2b2b; }
        .container-section4 .part1-left .part1-bg-img2 h2 span {
          display: block; }
        .container-section4 .part1-left .part1-bg-img2 h2 .span-light {
          font-weight: 200; }
  .container-section4 .part2-left {
    /*padding: 70px 0 0 0;*/
    height: 200vh;
    background-color: #6f6259;
    text-align: center; }
    .container-section4 .part2-left .part2-haut, .container-section4 .part2-left .part2-bas {
      height: 100vh;
      padding: 70px 185px 70px 185px; }
    .container-section4 .part2-left .part2-bas {
      padding: 42vh 185px 70px 185px; }
    .container-section4 .part2-left .trigger-center {
      position: absolute;
      top: 50vh; }
    .container-section4 .part2-left .portrait {
      width: 230px;
      height: 230px;
      border-radius: 100%;
      background: url("../images/portrait.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 8vh auto; }
    .container-section4 .part2-left p {
      color: #fff; }
    .container-section4 .part2-left .border-vertical2 {
      display: inline-block;
      border-left: solid 1px #fff;
      z-index: 9999;
      width: 2px;
      height: 65px; }
    .container-section4 .part2-left h2 {
      color: #fff; }
      .container-section4 .part2-left h2 span {
        display: block; }
      .container-section4 .part2-left h2 .span-light {
        font-weight: 200; }

/* ---------------------- FOOTER ---------------------- */
#footer {
  height: 100%;
  width: 100%;
  padding: 0;
  text-align: center; }
  #footer #tabs {
    padding-top: 100px; }
    #footer #tabs ul {
      padding: 0; }
    #footer #tabs li {
      text-transform: uppercase;
      display: inline-block;
      list-style-type: none;
      text-decoration: none;
      outline: 0; }
      #footer #tabs li a {
        outline: 0;
        text-decoration: none;
        color: #2b2b2b;
        font-size: 18px;
        font-weight: 600;
        padding: 0px 3vw 0px 3vw; }
        #footer #tabs li a:hover {
          text-decoration: none;
          color: #77776a; }
    #footer #tabs .content-tabs-title {
      padding: 60px 0px 30px 0px; }
    #footer #tabs h2 {
      display: inline-block;
      font-size: 33px; }
      @media (min-width: 320px) and (max-width: 940px) {
        #footer #tabs h2 {
          font-size: 20px;
          font-weight: 700; } }
    #footer #tabs .border-h1-left, #footer #tabs .border-h1-right {
      vertical-align: middle;
      display: inline-block;
      border-bottom: solid 2px #2b2b2b;
      width: 110px;
      margin: -18px 35px 0px 35px; }
      @media (min-width: 320px) and (max-width: 940px) {
        #footer #tabs .border-h1-left, #footer #tabs .border-h1-right {
          display: none; } }
    #footer #tabs .content-icon-part1, #footer #tabs .content-icon-part2 {
      display: inline-block; }
      #footer #tabs .content-icon-part1 .lien-footer, #footer #tabs .content-icon-part1 .lien-footer2, #footer #tabs .content-icon-part2 .lien-footer, #footer #tabs .content-icon-part2 .lien-footer2 {
        text-align: left;
        display: block;
        padding-bottom: 8px;
        text-decoration: none;
        color: #2b2b2b; }
        #footer #tabs .content-icon-part1 .lien-footer:hover, #footer #tabs .content-icon-part1 .lien-footer2:hover, #footer #tabs .content-icon-part2 .lien-footer:hover, #footer #tabs .content-icon-part2 .lien-footer2:hover {
          opacity: 0.85; }
        #footer #tabs .content-icon-part1 .lien-footer span, #footer #tabs .content-icon-part1 .lien-footer2 span, #footer #tabs .content-icon-part2 .lien-footer span, #footer #tabs .content-icon-part2 .lien-footer2 span {
          padding-left: 10px; }
    #footer #tabs .content-icon-part2 {
      padding-left: 120px; }
  #footer .ui-tabs .ui-tabs-nav .ui-tabs-active a {
    color: #77776a !important; }
  #footer .newsletter {
    margin-top: 120px; }
    #footer .newsletter .newsletter-email {
      width: 100%;
      border: 0;
      border-bottom: solid 2px #77776a;
      outline: 0;
      color: #2b2b2b;
      font-size: 35px;
      font-weight: 500;
      height: 38px; }
    #footer .newsletter .newsletter-submit {
      top: 5px;
      position: absolute;
      right: 15px;
      border: 0;
      background: none;
      outline: 0;
      color: #77776a;
      font-weight: 500;
      font-size: 22px;
      padding: 0; }
      #footer .newsletter .newsletter-submit:hover {
        opacity: 0.85; }
    #footer .newsletter p {
      text-align: left;
      font-size: 18px;
      font-weight: 500; }
    #footer .newsletter input[placeholder] {
      color: #2b2b2b; }
    #footer .newsletter ::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #2b2b2b;
      opacity: 1; }
    #footer .newsletter :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #2b2b2b;
      opacity: 1; }
    #footer .newsletter ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #2b2b2b;
      opacity: 1; }
    #footer .newsletter :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #2b2b2b;
      opacity: 1; }
  #footer .content-footer-bas {
    background-color: #f0f0f0;
    padding: 50px 0px 40px 0px;
    margin-top: 65px; }
    #footer .content-footer-bas h2 {
      font-size: 20px;
      margin-top: 0; }
    #footer .content-footer-bas p {
      font-size: 16px;
      font-weight: 500;
      margin: 0; }

/* GOOGLE MAPS PERSO - LOCALISATION PAGE */
/* --- MAPS --- */
#map {
  height: calc(100vh - 65px); }
  @media (min-width: 320px) and (max-width: 940px) {
    #map {
      height: 100vh; } }

#map .nameInfo {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 5px;
  color: #121c42; }
  #map .nameInfo:hover {
    color: #273b7a; }
#map p {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0px 0px 0px; }
#map .heureInfo {
  /*  font-weight: 500;*/ }
#map .distanceInfo {
  padding-top: 10px;
  font-weight: 500;
  color: #77776a; }

.haut-location {
  height: 50vh;
  background-color: darkgrey; }

/* --- PAGE CATLOGUE --- */
.image-header-catalogue {
  width: 100%;
  height: 660px;
  background-size: cover;
  background-image: url(../images/catalogue-header2.jpg);
  background-repeat: no-repeat; }

.text-header-catalogue {
  position: absolute;
  top: 170px;
  padding-left: 6%;
  color: #fff;
  /* bouton article */ }
  .text-header-catalogue h2 {
    font-size: 47px;
    margin-bottom: 20px; }
    .text-header-catalogue h2 .span-contrast1 {
      font-weight: 200;
      display: block; }
      @media (min-width: 320px) and (max-width: 940px) {
        .text-header-catalogue h2 .span-contrast1 {
          font-size: 30px; } }
    .text-header-catalogue h2 .span-contrast2 {
      font-weight: 600;
      display: block; }
      @media (min-width: 320px) and (max-width: 940px) {
        .text-header-catalogue h2 .span-contrast2 {
          font-size: 30px; } }
  .text-header-catalogue p {
    color: #fff; }
  .text-header-catalogue .button-header-catalogue {
    color: #2b2b2b;
    background-color: #fff;
    position: relative;
    height: 30px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(190, 190, 190, 0.5);
    transition: opacity 0.2s ease-out 0s;
    transition: opacity 0.2s ease-out 0s;
    -webkit-transition: opacity 0.2s ease-out 0s;
    border-radius: 0; }
    .text-header-catalogue .button-header-catalogue:hover {
      color: #77776a; }
  .text-header-catalogue .button-header-catalogue .left {
    float: left;
    display: inline-block;
    width: 24px;
    height: 28px;
    margin: 1px 7px 0 6px;
    overflow: hidden;
    font-size: 19px; }
  .text-header-catalogue .button-header-catalogue .right {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 12px 0 10px;
    border-left: 1px solid #2b2b2b;
    white-space: nowrap;
    line-height: 30px; }

.container-catalogue-section-1 {
  height: 100%;
  padding: 80px 0 0 0; }
  @media (min-width: 320px) and (max-width: 940px) {
    .container-catalogue-section-1 {
      padding: 20px 20px 35px 20px; } }
  .container-catalogue-section-1 .titre-catalogue {
    border-bottom: solid 2px #2b2b2b; }
    .container-catalogue-section-1 .titre-catalogue h2 {
      font-size: 47px;
      margin-bottom: 20px; }
      .container-catalogue-section-1 .titre-catalogue h2 .span-contrast1 {
        font-weight: 200; }
        @media (min-width: 320px) and (max-width: 940px) {
          .container-catalogue-section-1 .titre-catalogue h2 .span-contrast1 {
            font-size: 30px; } }
      .container-catalogue-section-1 .titre-catalogue h2 .span-contrast2 {
        font-weight: 600; }
        @media (min-width: 320px) and (max-width: 940px) {
          .container-catalogue-section-1 .titre-catalogue h2 .span-contrast2 {
            font-size: 30px; } }
  @media (min-width: 320px) and (max-width: 940px) {
    .container-catalogue-section-1 p {
      font-size: 16px; } }
  .container-catalogue-section-1 #tabs2 {
    padding-top: 10px; }
    .container-catalogue-section-1 #tabs2 ul {
      padding: 0 8px 0px 8px; }
    .container-catalogue-section-1 #tabs2 li {
      text-transform: uppercase;
      display: inline-block;
      list-style-type: none;
      text-decoration: none;
      outline: 0; }
      .container-catalogue-section-1 #tabs2 li a {
        outline: 0;
        text-decoration: none;
        color: #2b2b2b;
        font-size: 18px;
        font-weight: 600;
        padding: 0 3vw 0 0; }
        .container-catalogue-section-1 #tabs2 li a:hover {
          text-decoration: none;
          color: #77776a; }
  .container-catalogue-section-1 .ui-tabs .ui-tabs-nav .ui-tabs-active a {
    color: #77776a !important; }
  .container-catalogue-section-1 .grid-flexbox {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row; }
    @media (min-width: 320px) and (max-width: 940px) {
      .container-catalogue-section-1 .grid-flexbox {
        /*flex-direction: column;*/ } }
    .container-catalogue-section-1 .grid-flexbox .grid-cell-1 {
      flex: 0 0 23.5%;
      order: 1; }
      @media (min-width: 320px) and (max-width: 940px) {
        .container-catalogue-section-1 .grid-flexbox .grid-cell-1 {
          flex: 1 0 47.5%; } }
    .container-catalogue-section-1 .grid-flexbox .grid-cell-2 {
      flex: 0 0 23.5%;
      background: none;
      order: 2; }
      @media (min-width: 320px) and (max-width: 940px) {
        .container-catalogue-section-1 .grid-flexbox .grid-cell-2 {
          flex: 1 0 47.5%; } }
    .container-catalogue-section-1 .grid-flexbox .grid-cell-3 {
      flex: 0 2 23.5%;
      order: 3; }
      @media (min-width: 320px) and (max-width: 940px) {
        .container-catalogue-section-1 .grid-flexbox .grid-cell-3 {
          flex: 1 2 47.5%; } }
    .container-catalogue-section-1 .grid-flexbox .grid-cell-4 {
      flex: 0 1 23.5%;
      background: none;
      order: 4; }
      @media (min-width: 320px) and (max-width: 940px) {
        .container-catalogue-section-1 .grid-flexbox .grid-cell-4 {
          flex: 1 1 47.5%; } }
    .container-catalogue-section-1 .grid-flexbox .grid-cell-5 {
      flex: 0 1 23.5%;
      background: none;
      order: 4; }
      @media (min-width: 320px) and (max-width: 940px) {
        .container-catalogue-section-1 .grid-flexbox .grid-cell-5 {
          flex: 0 1 47.5%; } }
      @media screen and (min-width: 200px) and (max-width: 696px) {
        .container-catalogue-section-1 .grid-flexbox .grid-cell-5 {
          flex: 1 1 47.5%; } }

/*
.bx-controls{
  position:absolute;
}

.bx-pager-item{
  a{
    display: inline-block;
    margin: 0px 5px 0px 5px;
  }
}
.container-bx-slider {
  width: 100%;
  .bx-wrapper{
    max-width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    display:block; //MODIFIER POUR NUMERO SLIDER CLICK CHANGE
  }

.bx-pager-item{
  a{
    display: inline-block;
    margin: 0px 5px 0px 5px;
  }
}
.container-bx-slider {
  width: 100%;
  .bx-wrapper{
    max-width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
  }
  .bx-viewport{
    overflow: hidden;
    position: relative;
  }
  ul{
    position:relative;
    padding: 0 !important;
    margin: 0;
  }
  li{
     float: left;
    padding: 0;
    margin: 0;
    .image-bx-slider {
      width: 100%;
      height: 100px;
      background: red;
    }
    .slider2{background: blue;}
    .slider3{background: green;}
  }
}
*/
.bx-pager-item {
  display: inline-block;
  margin: 0px 5px 0px 5px; }

.container-bx-slider {
  width: 100%; }
  .container-bx-slider .bx-wrapper {
    max-width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    flex-direction: column; }
  .container-bx-slider .bx-viewport {
    width: auto;
    overflow: hidden;
    position: relative;
    height: 100px; }
  .container-bx-slider ul {
    position: relative;
    padding: 0 !important;
    margin: 0; }
  .container-bx-slider li {
    float: left;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0; }
    .container-bx-slider li .image-bx-slider {
      width: 100%;
      height: 100px;
      background: red; }
    .container-bx-slider li .slider2 {
      background: blue; }
    .container-bx-slider li .slider3 {
      background: green; }

.grid-cell-2, .grid-cell-1 {
  display: flex; }
  .grid-cell-2 .card-box, .grid-cell-1 .card-box {
    flex: 100%;
    width: 1px; }

/*# sourceMappingURL=main.css.map */
