/*
 * Plugin: Web Slide - Responsive Mega Menu for Bootstrap 3+
 * Demo Link: http://webslidemenu.webthemex.com/
 * Version: v3.3
 * Author: webthemex
 * License: http://codecanyon.net/licenses/standard
*/

/*--------------------------------------------------------------------------
[Table of contents]

01 Base CSS
02 Desktop CSS
03 Tab CSS
04 Mobile CSS
05 Additional Themes (Optionnal)
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
|  01  Base CSS
--------------------------------------------------------------------------*/

.wsmain html, .wsmain body, .wsmain iframe, .wsmain h1, .wsmain h2, .wsmain h3, .wsmain h4, .wsmain h5, .wsmain h6 {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font: inherit;
	vertical-align: baseline;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smoothing: antialiased;
	font-smooth: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased !important;
	font-smoothing: subpixel-antialiased !important;
	font-smooth: subpixel-antialiased;
}
.wsmain .cl {
	clear: both;
}
.wsmain img, object, embed, video {
	border: 0 none;
	max-width: 100%;
}
.wsmain a:focus {
	outline: none !important;
}
.wsmain:before, .wsmain:after {
	content: "";
	display: table;
}
.wsmain:after {
	clear: both;
}

/*--------------------------------------------------------------------------
|  02 Desktop CSS
--------------------------------------------------------------------------*/

.wsmobileheader {
	display: none;
}
.overlapblackbg {
	display: none;
}
.wsmenucontainer {
	background-size: cover;
	/*background-image: url(../images/bg01.jpg);*/
	overflow: hidden;
	-webkit-background-attachment: fixed !important;
	-moz-background-attachment: fixed !important;
	background-attachment: fixed !important;
	background-position: 50% 0;
	background-repeat: no-repeat;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}
.smllogo {
	padding: 15px 0px 0px 20px;
	margin: 0;
	float: left;
}
.smllogo a {
	display: block;
	float: left;
	padding: 0px 0px 0px 0px;
}
.smllogo a img {
	/*width: 100%;*/
	padding-right:10px;
	max-width:125px;
}


.wsmain {
	width: 100%;
	margin: 0 auto;
	padding: 0px 0px;
	position: fixed;
	height:68px;
}
.wsmenu {
	color: #fff;
	padding: 0px 0px 0px 0px;
	/*margin: 0px auto;
	float: left;*/
	height: 65px;
}

.wsmenu-list {
	text-align: left;
	/*margin: 0 auto 0 auto;*/
	width: inherit;
	display: table;
	padding: 0px;
	float: left;
}
.wsmenu-list > li {
	text-align: center;
	display: block;
	margin: 0px;
	padding: 0px;
	float: left;
}
.wsmenu-list > li > a .fa {
	display: inline-block;
	font-size: 13px;
	line-height: inherit;
	margin-right: 12px;
	color: #7b7b7b;
}
.wsmenu-list li ul li a .fa.fa-angle-double-right {
	font-size: 12px;
	margin: 0 3px 0 -4px;
}
.mobiletext {
	display: none;
}
.wsmenu-list li a .arrow:after {
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-top: 4px solid #626262;
	content: "";
	right: 15px;
	height: 0;
	margin: 0 0 0 9px;
	position: absolute;
	text-align: right;
	top: 38px;
	width: 0;
}
.wsmenu-list > li > a {
	display: block;
	color: #f5f5f5;
	padding: 0px 29px 0 29px;
	line-height: 68px;
	text-decoration: none;
	position: relative;
	text-transform: uppercase;
}

.wsmenu-list li a:hover .arrow:after {
	border-top-color: #b3b3b3
}
.wsmenu-list li a.active .arrow:after {
	border-top-color: #b3b3b3
}
.wsmenu-list li:hover>a .arrow:after {
	border-top-color: #b3b3b3
}

.wsmenu-list > li a.menuhomeicon {
	padding: 0px 20px;
}
.wsmenu-list > li.socialicon {
	float: left;
}
.wsmenu-list > li.socialicon a {
	width: 38px;
	padding: 0px 10px
}
.wsmenu-list > li.socialicon a .fa {
	font-size: 15px;
	color: #898d91;
	text-align: center;
}
.wsmenu-list > li.rightmenu {
	float: right;
}
.wsmenu-list > li.rightmenu a {
	padding: 0px 30px 0px 20px;
	border-right: none;
}
.wsmenu-list > li.rightmenu a .fa {
	font-size: 15px;
}
.wsmenu-list > li.rightmenu {
	float: right;
}
.wsmenu-list > li.rightmenu:before, .wsmenu-list > li.rightmenu:after {
	content: "";
	display: table;
}
.wsmenu-list > li.rightmenu:after {
	clear: both;
}
.wsmenu-list > li.rightmenu {
	zoom: 1;
}
.wsmenu-list > li.carticon {
	float: right;
}
.wsmenu-list > li.carticon a {
	padding: 0px 27px 0px 15px;
	text-align: center;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.wsmenu-list > li.carticon a .fa {
	font-size: 15px;
}
.wsmenu-list > li.carticon em.roundpoint {
	position: absolute;
	top: 8px;
	width: 15px;
	height: 15px;
	background-color: #DA4B38;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 9px;
	text-align: center;
	font-style: normal;
	line-height: 14px !important;
	color: #fff;
}

.link-list li {
	display: block;
	text-align: center;
	white-space: nowrap;
	text-align: left;
}
.link-list li a {
	line-height: 18px;
	border-right: none;
	text-align: left;
	padding: 6px 0px;
	background: #fff !important;
	background-image: none !important;
	color: #666666 !important;
	border-right: 0 none !important;
	display: block;
	border-right: 1px solid #e7e7e7;
	background-color: #fff;
	color: #424242;
}
.link-list .fa {
	font-size: 11px;
}

.wsmenu-list .ad-style {
	width: 28%;
	float: right;
}
.wsmenu-list .ad-style a {
	border: none !important;
	padding: 0px !important;
	margin: 0px !important;
	line-height: normal !important;
	background-image: none !important;
}

.wsmenu-list li > .wsmenu-submenu {
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility: hidden;
}
.wsmenu-list li:hover > .wsmenu-submenu {
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	opacity: 1;
	visibility: visible;
}
.wsmenu-submenu li > .wsmenu-submenu-sub {
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility: hidden;
}
.wsmenu-submenu li:hover > .wsmenu-submenu-sub {
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	opacity: 1;
	visibility: visible;
}
.wsmenu-submenu-sub li > .wsmenu-submenu-sub-sub {
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(-75deg);
	-o-transform: rotateX(-75deg);
	-moz-transform: rotateX(-75deg);
	-webkit-transform: rotateX(-75deg);
	visibility: hidden;
}
.wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub {
	transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	opacity: 1;
	visibility: visible;
}

.wsmenu-submenu {
	position: absolute;
	/*top: 75px;*/ /* enlever les coms */
	z-index: 1000;
	margin: 0px;
	padding: 0px;
	border: solid 1px #eeeeee;
	background-color: #fff;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.3s, opacity 0.3s;
	-ms-transition: -ms-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
}
.wsmenu-submenu li a {
	background: #fff !important;
	background-image: none !important;
	color: #666666 !important;
	border-right: 0 none !important;
	text-align: left;
	display: block;
	line-height: 22px;
	padding: 6px 12px;
	text-transform: none;
	font-size: 13px;
	letter-spacing: normal;
	border-right: 0px solid;
}
.wsmenu-submenu li {
	position: relative;
	margin: 0px;
	padding: 0px;
}
.wsmenuexpandermain {
	display: none;
}
.wsmenu-list li:hover .wsmenu-submenu {
	display: block;
}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub {
	min-width: 220px;
	position: absolute;
	left: 100%;
	top: 0;
	margin: 0px;
	padding: 0px;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.4s, opacity 0.4s;
	-ms-transition: -ms-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}
.wsmenu-submenu{
	border:0;
}
.wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub {
	opacity: 1;
	list-style: none;
	padding: 0px;
	background-color: #fff;
}
.wsmenu-list .wsmenu-submenu li:hover .wsmenu-submenu-sub {
	display: block;
}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub .wsmenu-submenu-sub-sub {
	min-width: 220px;
	position: absolute;
	left: 100%;
	top: 0;
	margin: 0px;
	padding: 0px;
	opacity: 0;
	-o-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-o-transition: -o-transform 0.4s, opacity 0.4s;
	-ms-transition: -ms-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub {
	opacity: 1;
	list-style: none;
	padding: 0px;
	border: solid 1px #eeeeee;
	background-color: #fff;
}
.wsmenu-submenu li {
	position: relative;
	padding: 0px;
	margin: 0px;
	display: block;
}
.wsmenu-click {
	display: none;
}
.wsmenu-click02 {
	display: none;
}
.wsmenu-submenu .fa {
	margin-right: 7px;
}
.wsmenu-list li:hover>a {
	/*background-color: rgba(0,0,0,0.10) !important;*/
	text-decoration: none;
	color:#d2d1bb;
}
.wsmenu-list > li > a:hover {
	/*background-color: rgba(0,0,0,0.10) !important;*/
	text-decoration: none;
	/*border-bottom: solid 1px #ccc;*/
	color:#d2d1bb;
}

/*.wsmenu-list > li:hover::after {
    content: "";
		border-bottom: solid 1px #ccc;

		height:1px;
		display: block;
		margin: auto;
		margin-top:-5px;
}*/

.wsmenu-list > li > a.active {
	/*background-color: rgba(0,0,0,0.10) !important;*/
	text-decoration: none;
	/*border-bottom: solid 1px #ccc;*/
	color:#d2d1bb;
}
.wsmenu-submenu > li > a:hover {
	/*background-color: rgba(0,0,0,0.10) !important;*/
	border-radius: 0px!important;
	text-decoration: none;
	text-decoration: none;
	color:#d2d1bb;
}



/*--------------------------------------------------------------------------
|  03 Tab CSS
--------------------------------------------------------------------------*/


@media only screen and (min-width: 1024px) and (max-width:1280px) {
.wsmenu-list li a .arrow:after {
	display: none !important;
}
.wsmenu-list > li > a {
	padding-left: 12px !important;
	padding-right: 12px !important;
}

.wsmain {
	width: 100%;
	margin:0;
}

}
 @media only screen and (min-width:780px) and (max-width:1023px) {
.wsmenu-list li a .arrow:after {
	display: none;
}
.wsmenu-list > li > a {
	white-space: nowrap !important;
	padding-left: 11px !important;
	padding-right: 11px !important;
}
.wsmain {
	width: 100%;
	margin:0;
}

.wsmenu-list > li > a .fa {
	display: none;
}
.wsmenu-list > li > a .fa.fa-home {
	display: block !important;
}
.halfmenu .megacollink {
	width: 100%;
	margin: 0px;
}
.topmenusearch {
	width: 180px;
}
}
 @media only screen and (min-width: 781px) {
.wsmenu-list li:hover > .wsmenu-submenu {
	display: block !important;
}
.wsmenu-submenu li:hover > .wsmenu-submenu-sub {
	display: block !important;
}
.wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub {
	display: block !important;
}

.wsmenu-list > li a.menuhomeicon .fa {
	margin-right: 0px !important;
}
.wsmenu-list > li.carticon a .fa {
	margin-right: 0px !important;
}
.wsmenu-list > li.socialicon a .fa {
	margin-right: 0px !important;
}
}



/*--------------------------------------------------------------------------
|  04 Mobile CSS
--------------------------------------------------------------------------*/


@media only screen and (max-width: 940px) {
.smllogo {
	display: none !important;
}
.wsmain {
	margin: 0px;
	background-color: transparent;
}
.topmenusearch {
	margin: 0px 0 0;
	width: 100%;
	height: 44px;
}
.topmenusearch input:focus {
	width: 100%;
	background-color: #f5f5f5;
	color: #000;
}
.topmenusearch input:hover {
	width: 100%;
	background-color: #f5f5f5;
	color: #000;
}
.topmenusearch input {
	border-radius: 0px !important;
	height: 44px;
	background-color: #f1f1f1;
}
.smllogo {
	width: 100%;
	display: none !important;
	margin: 0 auto;
	text-align: center;
	background-color: #2B3A40;
}
.smllogo a {
	margin: 0 auto;
	text-align: center;
	float: none;
	padding: 10px 0px 3px 0px;
}
.topmenusearch .btnstyle {
	height: 44px;
	color: #424242;
}
.wsmenucontainer {
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.overlapblackbg {
	left: 0;
	z-index: 102;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	display: none;
	background-color: rgba(0, 0, 0, 0.45);
	cursor: pointer;
}
.wsmenucontainer.wsoffcanvasopener {
	display: block;
	margin-left: 240px;
}
.wsmobileheader {
	display: block !important;
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.smallogo {
	/*width: 100%;
	display: block;
	text-align: center;
	padding-top: 9px;
	position: absolute;
	z-index: 101;
	width: 100%;
	height: 50px;*/

	width: auto;
	display: block;
	padding-top: 13px;
	position: absolute;
	z-index: 101;
	margin: auto;
	height: 50px;
	left: 50%;
	transform: translateX(-50%);
}

.smallogo > img {
	width:121px;
}
.wsmenu-list > li:hover>a {
	background-color: rgba(0,0,0,0.1) !important;
	text-decoration: none;
}

.wsoffcanvasopener .overlapblackbg {
	display: block !important;
}
.wsoffcanvasopener .wsmain {
	left: 0px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.wsmain {
	width: 240px;
	left: -240px;
	height: 100%;
	position: fixed;
	top: 0;
	margin: 0;
	float: none;
	background-color: transparent;
	border-radius: 0px;
	z-index: 103;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border: none !important;
	/*background-color: #fff !important;*/
}
.wsmenu { /* gradient menu mobile */
	border-left: none;
	float: none;
	width: 100%;
	display: block !important;
	height: 100%;
	overflow-y: auto;
	display: block !important;
	background: linear-gradient(to bottom, #2b2b2b 0%,#2b2b2b,#1c1c1c 100%);
	/*background:#2b2b2b;*/
}
.wsmenu-click {
	height: 43px;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	cursor: pointer;
	width: 100%;
}
.wsmenu-click i {
	display: block;
	height: 23px;
	width: 25px;
	margin-top: 11px;
	margin-right: 8px;
	background-size: 25px;
	font-size: 21px;
	color: rgba(0,0,0,0.25);
	float: right;
}

.ws-activearrow > i {
	transform: rotate(180deg);
}
.wsmenu-rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.animated-arrow {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 102;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background-color: rgba(0, 0, 0, 0.5);
	/*background-color: rgb(30, 30, 30);*/
}
.wsoffcanvasopener .animated-arrow {
	left: 240px;
}
.animated-arrow {
	cursor: pointer;
	padding: 15px 29px 17px 6px;
	margin: 10px 0 0 15px;
	/*padding: 25px 30px 26px 15px;*/ /* supprimer les deux lignes pour remettre par défaut width et padding*/
	/*width: 100%;*/
}
.animated-arrow span, .animated-arrow span:before, .animated-arrow span:after {
	cursor: pointer;
	height: 2px;
	width: 23px;
	/*width:50px;*/
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}
.animated-arrow span:before {
	top: -7px;
}
.animated-arrow span:after {
	bottom: -7px;
}
.animated-arrow span, .animated-arrow span:before, .animated-arrow span:after {
	transition: all 500ms ease-in-out;
}
.wsoffcanvasopener .animated-arrow span {
	background-color: transparent;
	transform: translateY(-7px);
}
.wsoffcanvasopener .animated-arrow span:before, .animated-arrow.active span:after {
	top: 7px;
}
.wsoffcanvasopener .animated-arrow span:before {
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	bottom: 0px;
}
.wsoffcanvasopener .animated-arrow span:after {
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.typographylinks {
	width: 98% !important;
	margin: 0% 1% !important;
}
.typographydiv {
	width: 86% !important;
	margin: 0% 7% !important;
}
.mainmapdiv {
	width: 90% !important;
	margin: 0% 5% !important;
}
.innerpnd {
	padding: 0px !important;
}
.typography-text {
	padding: 10px 0px;
}

.ad-style {
	width: 100% !important;
}

.wsmenu-submenu > li:hover>a {
	background-color: #7b7b7b;
	color: #666666;
}
.wsmenu > .wsmenu-list > li > a.active {
	color: #808071;
	background-color: rgba(0,0,0,0.08);
}
.wsmenu > .wsmenu-list > li > a:hover {
	color: #d2d1bb;
	background-color: rgba(0,0,0,0.08);
}
.wsmenu-list li:hover .wsmenu-submenu {
	display: none;
}
.wsmenu-list li:hover .wsmenu-submenu .wsmenu-submenu-sub {
	display: none;
}
.wsmenu-list .wsmenu-submenu .wsmenu-submenu-sub li:hover .wsmenu-submenu-sub-sub {
	display: none;
	list-style: none;
	padding: 2px;
	border: solid 1px #eeeeee;
	background-color: #fff;
}
.wsmenu-list li:first-child a {
	-webkit-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
}
.wsmenu-list li:last-child a {
	-webkit-border-radius: 0px 4px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
	border-right: 0px solid;
}
.wsmenu-submenu-sub {
	width: 100% !important;
	position: static !important;
	left: 100% !important;
	top: 0 !important;
	display: none;
	margin: 0px !important;
	padding: 0px !important;
	border: solid 0px !important;
	transform: none !important;
	opacity: 1 !important;
	visibility: visible !important;
}
.wsmenu-submenu-sub li {
	margin: 0px 0px 0px 0px !important;
	padding: 0px;
	position: relative;
}
.wsmenu-submenu-sub a {
	display: block;
	padding: 10px 25px 10px 25px;
	border-bottom: solid 1px #ccc;
	font-weight: normal;
}
.wsmenu-submenu-sub li a.active {
	color: #000 !important;
}
.wsmenu-submenu-sub li:hover>a {
	background-color: #333333 !important;
	color: #fff;
}
.wsmenu > .wsmenu-list > li > a > .fa {
	font-size: 16px;
	color: #bfbfbf;
	margin-right: 11px;
	text-align: center;
	width: 19px;
}

.wsmenu .wsmenu-list {
	display: block !important;
}
.wsmenu .wsmenu-list > li {
	width: 100%;
	display: inline-block;
	float: none;
	border-right: none;
	background-color: transparent;
	position: relative;
	white-space: inherit;
}
/*.wsmenu .wsmenu-list > .share-li, .wsmenu .wsmenu-list > .langue-li{
	width:auto;
}*/

.wsmenu > .wsmenu-list > li > a {
	padding: 9px 32px 9px 32px;
	font-size: 14px;
	text-align: left;
	border-right: solid 0px;
	background-color: transparent;
	color: #fff;
	line-height: 25px;
	border-bottom-color: rgba(0,0,0,0.13);
	position: static;
}
.wsmenu .wsmenu-list li a .arrow:after {
	display: none !important;
}
.wsmenu .wsmenu-list li ul li a .fa.fa-caret-right {
	font-size: 12px !important;
	color: #8E8E8E;
}
.mobile-sub .wsmenu-submenu {
	transform: none !important;
	opacity: 1 !important;
	display: none;
	position: relative !important;
	top: 0px;
	background-color: #fff;
	border: solid 1px #ccc;
	padding: 0px;
	visibility: visible !important;
}
.mobile-sub .wsmenu-submenu li a {
	line-height: 20px;
	height: 36px;
	background-color: #e7e7e7 !important;
	font-size: 13px !important;
	padding: 8px 0px 8px 18px;
	color: #8E8E8E;
}
.mobile-sub .wsmenu-submenu li a:hover {
	background-color: #e7e7e7 !important;
	color: #666666;
	text-decoration: underline;
}
.mobile-sub .wsmenu-submenu li:hover>a {
	background-color: #e7e7e7 !important;
	color: #666666;
}
.mobile-sub .wsmenu-submenu li .wsmenu-submenu-sub li a {
	line-height: 20px;
	height: 36px;
	background-color: #e7e7e7 !important;
	border-bottom: none;
	padding-left: 28px;
}
.mobile-sub .wsmenu-submenu li .wsmenu-submenu-sub li .wsmenu-submenu-sub-sub li a {
	line-height: 20px;
	height: 36px;
	background-color: #e7e7e7 !important;
	border-bottom: none !important;
	padding-left: 38px;
	color: #8e8e8e;
}
.wsmenu-list > li.socialicon a {
	width: 100%;
}
.wsmenu-list > li.carticon em.roundpoint {
	left: 22px;
}

.wsmenu-list li > .wsmenu-submenu {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
}
.wsmenu-list li:hover > .wsmenu-submenu {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
}
.wsmenu-submenu li > .wsmenu-submenu-sub {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
}
.wsmenu-submenu li:hover > .wsmenu-submenu-sub {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.wsmenu-submenu-sub li > .wsmenu-submenu-sub-sub {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
}
.wsmenu-submenu-sub li:hover > .wsmenu-submenu-sub-sub {
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;
	-o-transform: none !important;
	-moz-transform: none !important;
	-webkit-transform: none !important;
	visibility: visible !important;
	opacity: 1 !important;
	}
}
