$color-primary:#2b2b2b; /* Couleur utilisé pour le texte classique GRIS FONCE */
$color-primary2:#fff; /* Couleur utilisé pour le texte classique BLANC */
$color-primary3:#808071; /* Couleur utilisé BROWN */
$color-brown-h2:#77776a; /* Couleur utilisé BROWN TEXTE */
$color-or:#decfb7;/* Couleur utilisé pour abonnement OR */
$color-blue:#121c42; /* couleur des titres MAPS (bleu) */