body{
  overflow-x: hidden;
  font-family: 'Montserrat', serif;
}

a{cursor:pointer;}

/* ---------------------- WINDOW MODAL ---------------------- */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 150; /* Sit on top */
  padding:0;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  @media #{$mobile} {
    overflow: hidden;
  }
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 450px;
  height: 338px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  @media #{$mobile} {
    margin: 0;
    width: 90vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  @media #{$ipad-classic} {
    width: 450px;
  }
  input{
    width:100%;
    height:64px;
    display:block;
    border: solid 1px $color-brown-h2;
    font-size: 16px;
    padding: 15px 35px 15px 15px;
  }
  #remember_me{
    height:inherit;
    width:inherit;
    padding:inherit;
    display: inline-block;
    margin-top: 20px;
  }
  #_submit{
    background-color: $color-brown-h2;
    color: $color-primary2;
    transition: all .1s cubic-bezier(1, 1, 1, 1);
    padding:0;
    &:hover{
      /*background-color:#d2d1bb;*/
      opacity:0.9;
    }
  }
  #username,#password{
    background-position: right 21px;
    background-image: url('../../../images/icon-login.png');
    background-repeat: no-repeat;
    background-size: 40px 171px;
  }
  #password{
    background-position: right -79px;
  }
  .password-label{
    margin-top:12px;
  }
}

/* The Close Button */
.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 0;
  position: absolute;
  right: 12px;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* MODAL INSCRIPTION */
.inscription-modal-content {
 /* width: 450px;*/
  /*height: 440px;*/
  background:none;
  padding:0;
  .partie1-inscription{
    background-color:$color-brown-h2;
    height:50px;
    padding: 6px 12px 0 20px;
    margin-bottom: 6px;
    p{
      @extend %text-classic;
      font-size:16px;
      color:$color-primary2;
      margin:0;
      padding-top:10px;
      float: left;
    }
  }
  .partie2-inscription{
    background-color:$color-primary2;
    padding: 4px 20px 20px 20px;
  }
  input{
    height: 40px;
    @media #{$mobile} {
      height: 32px;
    }
    @media #{$ipad-classic} {
      height: 40px;
    }
  }
  height:auto;
  /*overflow-y: scroll;*/
  label{
    margin-top: 15px;
    @media #{$mobile} {
      margin-top: 10px;
    }
    @media #{$ipad-classic} {
      margin-top: 15px;
    }
  }
  .submit-inscription{
    background-color: rgb(119, 119, 106) !important;
    color: rgb(255, 255, 255);
    padding: 0px;
    margin-top: 12px;
    padding:0;
    &:hover{
      /*transition: opacity 0.1s cubic-bezier(1, 1, 1, 1);*/
      opacity:0.9;
    }
    #fos_user_registration_form_email{
      margin-top:0;
      background-position: right 21px;
      background-image: url(../../images/icon-login.png);
      background-repeat: no-repeat;
      background-size: 40px 171px;
    }
  }
}
/* The Close Button */
.close-modal-inscription {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal-inscription:hover,
.close-modal-inscription:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* MODAL SHARE */
.share-modal-content {
  width: 450px;
  height: 338px;
  background-color: $color-brown-h2;
  border:solid 5px #fff;
  @media #{$mobile} {
    width: 90vw;
  }
  @media #{$ipad-classic} {
    width: 450px;
  }
  /* BOX MODAL SHARE */
  .titre-modal-share{
    text-align: center;
    color: $color-primary2;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
  }
  .ligne-gauche-share, .ligne-droite-share{
    width:70px;
    height:3px;
    background: $color-primary2;
    position: absolute;
    top: 50%;
  }
  .ligne-gauche-share{
    left: 0;
  }
  .ligne-droite-share{
    right: 0;
  }
  .signature-modal-share{
    text-align: center;
    color:$color-primary2;
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    transform: translateY(-40%);
    margin: 0;
  }

  .container-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 211px;
    width: 300px;
    height: 100px;
    /* position: relative; */
    margin: auto;
    background: $color-brown-h2;
    overflow: hidden;
    border-right: solid 3px #fff;
    border-left: solid 3px #fff;
    @media #{$mobile} {
      width: 65vw;
    }
    @media #{$ipad-classic} {
      width: 300px;
    }
  }

  .container-box::after {
    width: 100%;/* 406 px*/
    height: 100%;/* 98 px*/
    content: "";
    /*position: absolute;*/
    /*border:solid 1px #fff;*/
    /*width:210px;
    height:70px;*/
  }

  .content-box {
    position:relative;
    left:-100px;
  }

  .box{
    width:100px;
    height:100px;
    position:absolute;
    background:red;
    font-size:25px;
    line-height:100px;
    text-align:center;
    .rsx-share{
      position:absolute;
      z-index:100;
      &:hover{opacity:0.9;}
      img{
        width:50px;
        height:50px;
      }
    }
  }
}
/* The Close Button */
.close-modal-share {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 0;
  position: absolute;
  right: 12px;
}

.close-modal-share:hover,
.close-modal-share:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/* MODAL POP-UP ALERT */
.alert-pop-up-modal-content {
  width: 450px;
  height: 110px;
  text-align: center;
  p{
    font-weight: 500;
  }
  .close-modal-pop-up{
    background-color: $color-brown-h2;
    padding: 7px 20px 7px 20px;
    display: inline-block;
    color:$color-primary2;
    font-size: 16px;
    margin-top: 2px;
    &:hover{
      color:$color-primary2;
      text-decoration: none;
      opacity: .9;
    }
  }
}


/* ---------------------- MENU ---------------------- */
.menu{
.headerfull{
    position: absolute;
    z-index: 110; /* 110 because overlay at 102 */
    width: 100%;

    .nav-menu{
      /*@extend %font-nav;*/
      .wsmenu-list {
        /*padding-top:10px !important;*/
        .wsmenu-submenu{
          top:inherit !important;
        }
      }
      .menu-droit {
      	float: right;
        @media #{$mobile} {
          border-top: solid 1px $color-primary2;
          /*opacity: 1;*/
          padding-top: 9px;
        }
      }
    }
  }
}

.wsmenu-list > li {
	float: right;
}


.menu-droit > li > a {
  padding:0 10px 0px 10px !important;
  display: inline-block !important;
  @media #{$mobile} {
  display: block !important;
  padding: 9px 32px 9px 32px !important;
  }
}

.after-connexion:after{
  content: "|";
  color: #fff;
  display: inline-block;
  float: right;
  vertical-align: middle;
  line-height: 67px;
  @media #{$mobile} {
    display: none;
  }
}


.share-li{
  @media #{$mobile} {
    margin-top:60px !important;
    float:left !important;
    width:50% !important;
    height:48px !important;
    padding-top:3px !important;
    a{
      text-align:right !important;
    }
  }
.share:hover{
  opacity:0.9;
  }
}

.wsmenu {
  @media #{$mobile} {
  background:$color-primary;
  }
}

.langue-li{
  @media #{$mobile} {
    margin-top:60px !important;
    float:right !important;
    width:50% !important;
  }
}

.langue-nl{
  background-color:$color-primary3;
  width: 30px;
  height: 30px;
  margin: 19px 10px 0px 0px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  @media #{$mobile} {
    margin: auto auto auto 0;
  }
}

.smallogo{
  display: none;
  @media #{$mobile} {
  display: block;
  }
}




/* ---------------------- HEADER ---------------------- */
.container-full{
  .image-header-index{
    width:100%;
    height:100vh;
    background-size: cover;
    background-image: url('../../../images/header-img-new.jpg');
    background-repeat:no-repeat;
    /*background-position: center;*/
    /*background-attachment: fixed;*/
    @media #{$mobile} {
      background-position: 100% 100%;
      background-size: center;
    }
  }

  .text-header{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-72%);

    @media #{$mobile} {
      position: absolute;
      top: 36%;
      margin-top: 0;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
    }
    @media #{$ipad-classic} {
      top: 40%;
    }

    h1{
      color:$color-primary2;
    }

    .span-text-haut{
      text-transform: uppercase;
      display: inline-block;
      color:#fff;
      font-size: 50px;
      @media #{$mobile} {
        font-size: 20px;
        font-weight: 600;
      }
      @media #{$ipad-classic} {
        font-size:45px;
      }
    }
    .ligne-text{
      vertical-align: middle;
      display: inline-block;
      border-bottom: solid 1px #fff;
      width:50px;
      height:1px;
      content:"";
      margin: -10px 13px 0px 13px;
      @media #{$mobile} {
        display: none;
      }
      @media #{$ipad-classic} {
        display: inline-block;
        width:35px;
      }
    }
    .span-text-bas{
      text-transform: uppercase;
      display: block;
      font-size: 80px;
      padding-left: 9px;
      @media #{$mobile} {
        font-size:40px;
        padding:0;
      }
      @media #{$ipad-classic} {
        font-size:65px;
      }
      p{
        @media #{$mobile} {
          margin:0;
        }
      }
    }
  }
  .video-header{
    position: absolute;
    bottom:10%;
    width: 100%;
    text-align: center;

    a{
      font-size:12px;
      text-transform: uppercase;
      color:white;
      text-align: center;
      &:hover{text-decoration: none; opacity:0.9;}
    }
  }
}


.button-icon {
    height: 55px;
    width: 55px;
  }

  .hero-image-scroll-down {
    position: absolute;
    bottom: 3.3rem;
    left: 50%;
    margin-left: -28px;
    cursor: pointer;
    z-index: 1;
}

.button-icon-outline .circle {

    color:#fff;
    stroke: currentColor;
    stroke-dasharray: 69 13;
    stroke-dashoffset: 8;
    stroke-width: 1.4;
    r: 48px;
    transition: all .8s cubic-bezier(.19,1,.22,1);
}


#play-triangle-svg{
  position: absolute;
  left: 50%;
  top: -56px;
  margin-left: -15px;
  width:30px;
  height:30px;
  &:hover{fill:#C0AB89;}
}

/* --- REVEAL DIV --- */
.text-bas-reveal{display: inline-block;}


/* ---------------------- VIMEO CSS ---------------------- */


.movie{
  padding:0; outline:0;
}

.close{
  position: absolute;
  bottom: 25px;
  z-index:10;
  color:#d2d1bb;
  text-transform: uppercase;
  text-decoration: none;
  left:50%;
  transform: translateX(-50%);
  color:#77776a !important;
  -webkit-transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease, opacity 0.3s ease;
  text-shadow:none;
  opacity: 1 !important;
  font-weight: 400;
  font-size:20px;
  &:hover{
    color:#d2d1bb !important;
  }
}
.croix{
  padding: 7px;
}

#pause, #play{
  outline:0;
  font-size:16px;
  width:35px;
}

#pause:hover, #play:hover{
  color:#d2d1bb;
}

.fm {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: hidden;
  z-index: 120;
  color: #766345;
  text-align: center;
}

.fm__layer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  width: 100%;
  height: 0%;
  background-color: #fff;
  will-change: height;
}

.fm * {
  border-radius: 0;
}

.fm__player .plyr {
  background: #fff;
}


.fm__bar {
  /*height:140px;*/
  display: block;
  position: fixed;
  width: 100%;
  left: 0;
  background-color: #1C1C1C;
  z-index: 10;
  min-height:50px;
  /*@media #{$mobile} {
   height: calc(100% - 65%);
  }*/
}
.fm__bar--top{
  top:0;

}
.fm__bar--bottom{
  bottom:0;
}


/* VIDEO IFRAME */
.fm__player .plyr {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: #000;
  border-radius: 0;
}

.plyr__video-wrapper, .fm__player .plyr__video-wrapper{
  width:100%;
  height: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fm__player__video {
  position: absolute;
  opacity: 0;
}


.plyr__video-embed {
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border-radius: inherit;
}


.plyr__video-embed>div {
  position: relative;
  padding-bottom: 200%;
  -webkit-transform: translateY(-35.95%);
  transform: translateY(-35.95%);
}

/* Suppression du click sur la video */
.plyr .plyr__video-embed iframe {
  pointer-events: none;
  @media #{$mobile} {
    pointer-events: auto;
  }
}

.plyr__video-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* CONTROLS CSS */
.plyr__controls {
  z-index: 100;
  bottom: auto !important;
  top: 0;
  width: 80%;
  width: 100%;
  margin: 0 auto;
  background: none;
  padding: 0;
  padding-top: 25px;
  @media #{$mobile} {
    display: none;
  }
  @media #{$ipad-classic} {
    display: block;
  }
}

.plyr--video .plyr__controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 10px 10px;
  background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.5));
  background: linear-gradient(transparent, rgba(0,0,0,0.5));
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  color: #fff;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.plyr__controls button {
  position: relative;
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: visible;
  vertical-align: middle;
  padding: 7px;
  border: 0;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background .3s ease, color .3s ease, opacity .3s ease;
  transition: background .3s ease, color .3s ease, opacity .3s ease;
  color: inherit;
  color: #766345;
  width: 2rem;
}

.plyr__time--current{
  display: inline-block;
  width:43px;
}

.container-progress-bar{
  display: inline-block;
  width:400px;
  background-color: black;
  margin-right:10px;
}
.ligne-progress-bar{
  height:10px;
  width:0%;
  background-color:#766345;
}

.plyr, .plyr *, .plyr *::after, .plyr *::before {
  box-sizing: border-box;
}
/*
*, *:before, *:after {
  box-sizing: inherit;
}*/

.plyr a, .plyr button, .plyr input, .plyr label {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}



/* ---------------------- VIMEO CSS ---------------------- */

/* -- DIVERS -- */
.container-section3-part1, .container-section3-part2, .container-section3-part3{
  width:100%
}
/*.row{
  @media #{$mobile} {
    margin:0 !important;
  }
}*/

.container-section3-part2{
  padding: 10px 0px 0px 0px;
  margin:0;
}
.container-section3-part3{
  padding:30px 0px 0px 0px;
  margin:0;
  @media #{$desktop-little} {
    padding:20px 0px 0px 0px;
  }
}

// CARTE ACHATS ET COMMANDE
.cart-cataloque{
  padding: 18px 18px 0px 0px;
  @media #{$mobile} {
    /*display:none;*/
  }
}
/*.cart-catalogue-mobile{
  display: none;
  @media #{$mobile} {
    position:fixed;
    padding: 11px 15px 0px 0px;
    display: block;
    z-index: 999;
    right: 0;
  }
}
.artciles-word{
  @media #{$mobile} {
    display: none;
  }
}*/
.button-commander{
  text-transform: uppercase;
  @extend %button-catalogue-articles;
  /*width: 100%;*/
  float: left;
  text-align: left;

  .left{
    @extend %button-catalogue-articles-left;
    height: 24px;
    width:24px;
    margin: 0px 0px 0 11px;
  }
  .right{
    @extend %button-catalogue-articles-right;
    line-height: 29px;
    border-left:0;
    padding: 0 11px 0 10px;
  }
  p{margin-bottom:0;}
}
p{
  br{
    @media #{$mobile} {
      display:none;
    }
  }
}

//Paragraphe remplacement footer
.original-newsletter-p{
  @media #{$mobile} {
    display:none;
  }
}
.remplacement-newsletter-p{
  display:none;
  @media #{$mobile} {
    display:block;
  }
}

/* - HOVER ORDER - */
.hover-order-menu{
  position: absolute;
  z-index:9;
  top:48px;
  padding-top:15px;
  width: 356px;
  display: none;
  height:auto;
  opacity:0;
  overflow: hidden;
  /*max-height:0;*/

  @media #{$mobile} {
    display: none !important;
  }
  @media #{$ipad-classic} {
    display: none !important;
  }

  .content-hover-order-menu{
    background-color: $color-primary2;
    border: solid 1px $color-primary;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    min-height: 100%;
    p{
      color:$color-primary;
    }
    .articles-div-menu{
      width:100%;
      height:20px;
      padding: 15px 10px 15px 10px;
      height: auto;
      max-height: 330px;
      overflow:hidden;
      .scroll-box{
        width: 100%;
        max-height:300px;
        overflow-y: scroll;
        position:relative;

        ul{
          padding: 0px 10px 0px 10px;
        }


        .container-flex-order-menu{
          text-align: left;
          display:flex;
          align-items: center;
          justify-content: center;
          /*.img-order-articles{
            width: 152px;
          }*/
          .name-span-order-container{
            flex: 1 0 60%;
            color: $color-primary;
            display: inline-block;
            text-transform: uppercase;
            .span-contrast2{
              font-weight:400;
            }
            .span-contrast2{
              font-weight:600;
            }
          }
          .price-order-articles{
            flex: 0 0 25%;
            color: $color-primary;
            display: inline-block;
            text-align: right;
          }
          .quantity-order-articles{
            flex: 0 0 15%;
            color: $color-primary;
            display: inline-block;
            text-align: right;
          }
        }
        .remove-order-articles{
          text-align: left;
          a{
            @extend %h2contrast;
            font-weight:400;
            font-size: 14px;
            color:$color-brown-h2;
            text-transform: none;
            &:hover{
              text-decoration: none;
              color:$color-brown-h2;
              opacity:0.8;
            }
          }
        }
        .separation-order{
          border-bottom: solid 2px #2b2b2b;
          width:100%;
          padding-top: 20px;
          @media #{$mobile} {
            padding-bottom: 15px;
          }
        }
        .totaux-content{
          display: flex;
          justify-content: center;
          padding: 15px 10px 0px 10px;
          .total-price-order-left, .total-price-order-right{
            flex:0 0 50%;
            @extend %h2contrast;
            font-weight:600;
            font-size:14px;
            text-align: left;
          }
          .total-price-order-right{
            text-align: right;
          }
        }
        .not-articles{
          margin:0;
        }
      }
    }
    .button-order-black{
      @extend %text-button;
      /*position: absolute;
      bottom: 0;*/
      color:$color-primary2;
      background-color:$color-primary;
      line-height: 53px;
      height:53px;
      display: block;
      width: 100%;
      text-decoration: none;
      &:hover{
        opacity:0.9;
      }
      .icon-order-menu{
        opacity:0;
        padding-left: 0px;
        color:$color-primary2;
      }
    }
  }
}


/* Width IPAD TEXTE */
.width-ipad{
  @media #{$ipad-classic} {
    width:80%;
    margin: auto !important;
  }
}

/* -- DIVERS -- */


/* -- LEFT BOUTON AND RIGHT ARRONDI -- */
.container-arrondie-bouton-left{
  width: 52px;
  height: 50px;
  position: absolute;
  left: -25px;
  -webkit-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  overflow: hidden;
}

.container-arrondie-bouton-right{
  width: 52px;
  height: 50px;
  position: absolute;
  right: -25px;
  -webkit-transform: translate(50%, -100%);
  -ms-transform: translate(50%, -100%);
  transform: translate(50%, -100%);
  overflow: hidden;
}




/* ---------------------- SECTION 1 ---------------------- */
.container-section-1{
  height:100%;
  padding: 230px 0px 230px 0px;
  text-align:center;

  @media #{$mobile} {
    padding: 20px 20px 35px 20px;
  }
  @media #{$ipad-classic} {
    padding: 100px 20px 100px 20px;
  }
  h2{
    @extend %titre-miniature-h2;
    @media #{$mobile} {
      font-size:12px;
      margin-bottom:5px;
    }
    @media #{$ipad-classic} {
      font-size:16px;
    }
  }
  h1{
    @extend %titre-h1;
    display:inline-block;
    @media #{$mobile} {
      font-size:20px;
      font-weight:700;
    }
    @media #{$ipad-classic} {
      font-size: 35px;
    }
  }
  p{
    @extend %text-classic;
    padding-top:30px;
    @media #{$mobile} {
      font-size:16px;
    }
    @media #{$ipad-classic} {
      font-size:20px;
    }
  }
  .border-h1-left, .border-h1-right{
    vertical-align: middle;
    display: inline-block;
    border-bottom: solid 2px $color-primary;
    width: 110px;
    margin: -18px 35px 0px 35px;
    @media #{$mobile} {
      display:none;
    }
  }
}

/* ---------------------- SECTION 2 ---------------------- */
.container-section-2 {
  height:100%;
  margin:auto;
  .container-inscription{
    text-align: center;
    width:100%;
    height: calc(100vh - 65px);
    background: url('../../../images/bikerzone-new.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;

    @media #{$mobile} {
      height:570px;
    }

    .content-inscription{
      padding:65px 0px 0px 0px;
      width:100%;
      @media #{$mobile} {
        padding:110px 0px 0px 0px;
      }

      .border-vertical{
        position: absolute;
        display: inline-block;
        border-left: solid 1px $color-primary2;
        width: 1px;
        height:65px;
        @media #{$mobile} {
          height: 45px;
        }
      }
      .content-titre-intro{
        padding-top: 65px;
        @media #{$mobile} {
          padding:0;
        }
        h2{
          @extend %titre-miniature-h2;
          color:$color-primary2;
          margin-top:25px;
          @media #{$mobile} {
            font-size:12px;
          }
          @media #{$ipad-classic} {
            font-size:16px;
          }
        }
        h3{
          @extend %titre-h3;
          color:$color-primary2;
          @media #{$desktop-little} {
            font-size:60px;
          }
          @media #{$mobile} {
            font-size:35px;
            margin-top:20px;
          }
          @media #{$ipad-classic} {
            margin-top:0px;
          }
        }
      }
      .content-text-button{
        padding-top: 35vh;
        @media #{$mobile} {
          padding-top:35%;
        }
        @media #{$ipad-classic} {
          padding: 20% 90px 0px 90px;
        }
        @media #{$desktop-little} {
          padding-top:12vh;
        }
        p{
          @extend %text-classic-montserrat;
          color:$color-primary2;
          @media #{$ipad-classic} {
            font-family:'Yantramanav';
            font-size:20px;
            font-weight:400;
          }
        }
        .button-outline{
          @extend %button-outline;
          margin-top: 50px;
          @media #{$desktop-little} {
            margin-top:22px;
          }
          @media #{$mobile} {
            margin-top:30px;
          }
          .bouton-image-left{
            @extend %bouton-image-left;
          }

          .bouton-image-right{
            @extend %bouton-image-right;
          }
          .button-outline-copy.small-padding {
            padding: 0 4.5rem;
            @media #{$mobile} {
              padding: 0 1rem;
            }
          }
          .button-outline-copy {
            @extend %button-outline-copy;
          }
          .button-outline-copy:after, .button-outline-copy:before {
            @extend %button-after-before;
            transition: all 0.8s cubic-bezier(.19,1,.22,1) 50ms;
          }
          .button-outline-bottom:after, .button-outline-bottom:before {
            @extend %button-after-before-bottom;
            transition: all 0.8s cubic-bezier(.19,1,.22,1) 50ms;
          }
          .button-outline:after, .button-outline:before {
            @extend %button-after-before2;
          }
          .button-outline:after {
            @extend %button-outline-after;
          }
          .button-text-wrapper{
            @extend %text-button;
          }

          /* HOVER HAUT */
          .button-outline-copy:after {
            @extend %button-outline-copy-after;
          }
          .button-outline-copy:before {
            @extend %button-outline-copy-before;
          }
          /*j'ai ajouté un addclass en jquery au hover*/
          .button_hover.button-outline-copy:after {
          @extend %hover-button-outline-copy-after;
          }
          .button_hover.button-outline-copy:before {
            @extend %hover-button-outline-copy-before;
          }
          /*HOVER BAS*/
          .button-outline-bottom:after {
            @extend %button-outline-bottom-after;
          }
          .button-outline-bottom:before {
            @extend %button-outline-bottom-before;
          }
          /*j'ai ajouté un addclass en jquery au hover*/
          .button_hover_bas.button-outline-bottom:after {
            @extend %hover-button-outline-copy-after2;
          }
          .button_hover_bas.button-outline-bottom:before {
            @extend %hover-button-outline-copy-before2;
          }
        }

      }

    }
  }
}

.bloc-center{
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  @media #{$mobile} {
    top: 0;
    position: relative;
    transform: none;
    text-align: center;
    overflow:hidden;
  }
}

/* ---------------------- SECTION 3 ---------------------- */
#section-index-3{
  padding-top:35px;
  overflow:hidden;

    @media #{$mobile} {
      margin: 0;
      /*overflow:hidden;*/
    }
    @media #{$ipad-big} {
      margin: 0;
      /*overflow:hidden;*/
    }
    .reset-row-mobile{
      @media #{$mobile} {
        margin: 0;
      }
    }
  .arrondi-container{
    margin:0; padding:0;
  }
  .bloc-texte-arrondi{
    padding:0 6% 0 8%;
    /*height: 50vh;*/
    height:24vw;
    @media #{$mobile} {
      padding: 0 15px 0 15px;
      height:100%;
    }

    .titre-contrast{
      padding-bottom: 20px;
      .span-contrast1{
        @extend %h2contrast;
        font-weight:200;
        @media #{$mobile} {
          font-size:30px;
        }
      }
      .span-contrast2{
        @extend %h2contrast;
        font-weight:600;
        @media #{$mobile} {
         font-size:30px;
        }
      }
    }
    p{
      @extend %text-classic;
      margin:0;
      @media #{$desktop-little} {
        br{
          display:none;
        }
      }
    }

    .button-outline2{
      @extend %button-outline;
      margin:35px 0px 0px 25px;
      @media #{$mobile} {
        margin:35px 0px 0px 0px;
      }

      .bouton-image-left{
        @extend %bouton-image-left;
      }

      .bouton-image-right{
        @extend %bouton-image-right;
      }

      .button-outline-copy.small-padding {
        padding: 0 3.9rem;
        @media #{$mobile} {
          padding: 0 1rem;
        }
      }
      .button-outline-copy {
        @extend %button-outline-copy;
      }
      .button-outline-copy:after, .button-outline-copy:before {
        @extend %button-after-before;
        transition: all .6s cubic-bezier(.19,1,.22,1) 50ms;
      }
      .button-outline-bottom:after, .button-outline-bottom:before {
        @extend %button-after-before-bottom;
      }
      .button-outline2:after, .button-outline2:before {
        @extend %button-after-before2;
      }
      .button-outline2:after {
        @extend %button-outline-after;
      }
      .button-text-wrapper{
        @extend %text-button;
        color:$color-primary;
      }


      // HOVER HAUT
      .button-outline-copy:after {
        @extend %button-outline-copy-after;
      }
      .button-outline-copy:before {
        @extend %button-outline-copy-before;
      }

      //j'ai ajouté un addclass en jquery au hover
      .button_hover2.button-outline-copy:after {
        @extend %hover-button-outline-copy-after;
      }

      .button_hover2.button-outline-copy:before {
        @extend %hover-button-outline-copy-before;
      }

      //HOVER BAS
      .button-outline-bottom:after {
        @extend %button-outline-bottom-after;
      }

      .button-outline-bottom:before {
        @extend %button-outline-bottom-before;
      }

      //j'ai ajouté un addclass en jquery au hover

      .button_hover_bas2.button-outline-bottom:after {
        @extend %hover-button-outline-copy-after2;
      }

      .button_hover_bas2.button-outline-bottom:before {
        @extend %hover-button-outline-copy-before2;
      }
    }
  }


    .button-outline3{
      @extend %button-outline;
      margin:35px 0px 0px 25px;
      @media #{$mobile} {
        margin:35px 0 0 0;
      }

      .bouton-image-left{
        @extend %bouton-image-left;
      }

      .bouton-image-right{
        @extend %bouton-image-right;
      }

      .button-outline-copy.small-padding {
        padding: 0 3.9rem;
        @media #{$mobile} {
          padding: 0 0.4rem;
        }
      }
      .button-outline-copy {
        @extend %button-outline-copy;
      }
      .button-outline-copy:after, .button-outline-copy:before {
        @extend %button-after-before;
      }
      .button-outline-bottom:after, .button-outline-bottom:before {
        @extend %button-after-before-bottom;
      }
      .button-outline3:after, .button-outline3:before {
        @extend %button-after-before2;
      }
      .button-outline3:after {
        @extend %button-outline-after;
      }
      .button-text-wrapper{
        @extend %text-button;
        color:$color-primary;
      }


      // HOVER HAUT
      .button-outline-copy:after {
        @extend %button-outline-copy-after;
      }
      .button-outline-copy:before {
        @extend %button-outline-copy-before;
      }
      //j'ai ajouté un addclass en jquery au hover
      .button_hover3.button-outline-copy:after {
        @extend %hover-button-outline-copy-after;
      }
      .button_hover3.button-outline-copy:before {
        @extend %hover-button-outline-copy-before;
      }
      //HOVER BAS
      .button-outline-bottom:after {
        @extend %button-outline-bottom-after;
      }
      .button-outline-bottom:before {
        @extend %button-outline-bottom-before;
      }
      //j'ai ajouté un addclass en jquery au hover
      .button_hover_bas3.button-outline-bottom:after {
        @extend %hover-button-outline-copy-after2;
      }
      .button_hover_bas3.button-outline-bottom:before {
        @extend %hover-button-outline-copy-before2;
      }
    }



   /*svg{min-height:400px;}*/
  .images1-skew{
    width: calc(100% - 25.5%);
    float:right;
    margin-right: -1px;
  }
  .images2-skew{
    margin-right: -17%;
    @media #{$mobile} {
      height:200px;
      display: block;
      width: 100%;
      margin: 50px 0 0 0;
      background: url(../../../images/coach-mask1.jpg) no-repeat center center;
      background-size:cover;
    }
    @media #{$ipad-classic} {
      height:400px;
    }
    svg{
      @media #{$mobile} {
        display: none;
      }
    }

  }
  .images3-skew{
    padding:0;
    margin-left: -17%;
    @media #{$mobile} {
      display: none;
    }
  }
  .images4-skew{
    width: calc(100% - 25.5%);
    float:left;
    margin-left: -1px;
  }
}
.container-skew1{
  @media #{$mobile} {
    display: none;
  }
}


/* ---------------------- SECTION 4 ---------------------- */
.container-section4{
  width:100%;
  padding:35px 0 0 0;
  @media #{$mobile} {
    padding:50px 0 0 0;
  }

  .part1-left{
    height:100vh;
    padding:0;
    @media #{$mobile} {
      display: none;
    }
    .part1-bg-img1{
      width:100%;
      height:100%;
      background: url('../../../images/moto2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      /*background-position: left;*/
      background-position: 0 0;
      text-align: center;
      padding-top: 70px;

      .border-vertical2{
        display: inline-block;
        border-left: solid 1px $color-primary2;
        z-index: 9999;
        width: 2px;
        height:65px;
        @media #{$mobile} {
          height:45px;
        }
      }
      h2{
        color: $color-primary2;
        span{
          @extend %h2contrast;
          display: block;
          @media #{$mobile} {
            font-size: 24px;
          }
        }
        .span-light{
          font-weight:200;
        }
      }
    }
    /*.part1-bg-img2{
      position: absolute;
      top:0;*/
      /*margin-top:-100vh;*//*reactiver cette fonction et supprimer top:0; pour faire dans le sens inverse*/
     /* width:100%;
      height:100%;
      background: url('../../../images/honda-shadow-before4.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-color:#e8e8e8;
      background-position: right;
      text-align: center;
      padding-top: 70px;

      .border-vertical2{
        display: inline-block;
        border-left: solid 1px $color-primary;
        z-index: 9999;
        width: 2px;
        height:65px;
      }
      h2{
        color: $color-primary;
        span{
          @extend %h2contrast;
          display: block;
          @media #{$desktop-little} {
            font-size: 30px;
          }
          @media #{$mobile} {
            font-size: 24px;
          }
        }
        .span-light{
          font-weight:200;
        }
      }
    }*/

  }

  .part2-left{
    /*padding: 70px 0 0 0;*/
    height:200vh;
    background-color:#6f6259;
    text-align: center;
    @media #{$mobile} {
      height:100%;
      padding-bottom:40px;
    }
    .part2-haut, .part2-bas{
      height:100vh;
      padding: 70px 185px 70px 185px;
      @media #{$desktop-little} {
        padding: 70px 100px 70px 100px;
      }
    }
    // Pour mobile
    .part2-haut{
      @media #{$mobile} {
        height:100%;
        padding: 45px 0 0 0;
      }
      .moto1-transformation-remplacement{
        display:none;
        @media #{$mobile} {
        display: block;
        height: 30vh;
        width: 100%;
        background-color: #e8e8e8;
        background-image: url(../../images/moto2.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        /*background-attachment: fixed;*/
        background-size: cover;
        margin-top: 6vh;
        }
        @media #{$ipad-classic} {
          height: 375px;
        }
      }
    }

    .part2-bas{
      padding: 42vh 185px 70px 185px;
      @media #{$desktop-little} {
        padding: 40vh 100px 70px 100px;
      }
      @media #{$mobile} {
        padding: 45px 0 0 0;
        height: 100%;
      }
      /*.moto2-transformation-remplacement{
        display:none;
        @media #{$mobile} {
          display: block;
          height: 30vh;
          width: 100%;
          background-color: #e8e8e8;
          background-image: url(../../../images/moto2.jpg);
          background-repeat: no-repeat;
          background-position: center;
          background-attachment: fixed;
          background-size: cover;
          margin-top: 6vh;
        }
      }*/
    }

    .trigger-center{
      position: absolute;
      top: 50vh;
    }
    .portrait{
      width:230px;
      height:230px;
      /*border-radius: 100%;*/
      background: url('../../../images/portrait.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size:contain;
      margin:8vh auto;
      /*box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.7) inset;*/
      @media #{$mobile} {
        width:160px;
        height:160px;
      }
      @media #{$ipad-classic} {
        width:230px;
        height:230px;
      }
      @media #{$desktop-little} {
        width:150px;
        height:150px;
        margin:5vh auto;
      }
    }
    p{
      @extend %text-classic;
      color: $color-primary2;
      /*@media #{$ipad-classic} {
        font-size: 20px;
      }*/
    }
    .border-vertical2{
      display: inline-block;
      border-left: solid 1px $color-primary2;
      z-index: 9999;
      width: 2px;
      height:65px;
      @media #{$mobile} {
        height:45px;
      }
    }
    h2{
      color: $color-primary2;
      span{
        @extend %h2contrast;
        display: block;
        @media #{$desktop-little} {
          font-size: 30px;
        }
        @media #{$mobile} {
          font-size: 24px;
        }
        @media #{$ipad-classic} {
          font-size: 35px;
        }
      }
      .span-light{
        font-weight:200;
      }
    }
  }
}




/* ---------------------- FOOTER ---------------------- */

#footer{
  height:100%;
  width:100%;
  padding:0;
  text-align: center;

  @media #{$mobile} {
    margin-top: 15px;
  }
  @media #{$ipad-classic} {
    margin-top: 0;
  }

  #tabs{
    padding-top:100px;
    @media #{$mobile} {
      background-color: #f0f0f0;
      padding: 40px 15px 40px 15px;
    }
    @media #{$ipad-classic} {
      background-color: inherit;
    }
    ul{padding:0;}
    li{
      text-transform: uppercase;
      display: inline-block;
      list-style-type: none;
      text-decoration: none;
      outline:0;
      @media #{$mobile} {
        display: block;
        margin-bottom:10px;
        background-color: $color-primary2;
      }
      @media #{$ipad-classic} {
        display: inline-block;
        margin-bottom:0;
        background-color: inherit;
      }
      a{
        outline:0;
        text-decoration: none;
        color:$color-primary;
        font-size:18px;
        font-weight: 600;
        padding:0px 3vw 0px 3vw;
        &:hover{
          text-decoration: none;
          color:$color-brown-h2;
        }
      }
    }
    .content-tabs-title{
      padding:60px 0px 30px 0px;
      @media #{$mobile} {
        padding:30px 0px 5px 0px;
      }
    }
    h2{
      @extend %titre-h1;
      display:inline-block;
      font-size:33px;
      @media #{$mobile} {
        font-size:20px;
        font-weight:700;
      }
    }
    .border-h1-left, .border-h1-right{
      vertical-align: middle;
      display: inline-block;
      border-bottom: solid 2px $color-primary;
      width: 110px;
      margin: -18px 35px 0px 35px;
      @media #{$mobile} {
        width: 20px;
        margin: -7px 11px 0px 11px;
      }
      @media #{$ipad-classic} {
        width: 88px;
      }
    }
    .content-icon-part1, .content-icon-part2{
      display:inline-block;
      @media #{$mobile} {
        display:block;
      }
      @media #{$ipad-classic} {
        display:inline-block;
      }
      .lien-footer, .lien-footer2{
        text-align: left;
        display: block;
        padding-bottom: 8px;
        @extend %text-classic;
        text-decoration: none;
        color:$color-primary;
        &:hover{opacity:0.85;}
        span{padding-left:10px;}
      }
    }
    .content-icon-part2{
      padding-left:120px;
      @media #{$mobile} {
        padding-left:0;
      }
      @media #{$ipad-classic} {
        padding-left: 80px;
      }
    }
  }
  .ui-tabs .ui-tabs-nav .ui-tabs-active a{
    color:$color-brown-h2 !important;
  }

  .newsletter{
    margin-top: 120px;
    @media #{$mobile} {
    margin-top: 25px;
    }
    .newsletter-email{
      @extend %text-classic;
      width: 100%;
      border: 0;
      border-bottom: solid 2px $color-brown-h2;
      outline:0;
      color:#2b2b2b;
      font-size:35px;
      font-weight:500;
      height: 38px;

      @media #{$mobile} {
        font-size: 22px;
        height: 30px;
      }
    }
    .newsletter-submit{
      @extend %text-classic;
      top: 5px;
      position: absolute;
      right: 15px;
      border: 0;
      background: none;
      outline:0;
      color: $color-brown-h2;
      font-weight: 500;
      font-size: 22px;
      padding:0;

      @media #{$mobile} {
        position: relative;
        right: 0;
        background-color: #77776a;
        outline: 0;
        width: 100%;
        color: $color-primary2;
        font-size: 20px;
        margin-top:0;
      }
      &:hover{
        opacity:0.85;
      }
    }
    p{
      @extend %text-classic;
      text-align: left;
      font-size: 18px;
      font-weight: 500;
    }
    input[placeholder] {
      color: $color-primary;
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: $color-primary;
      opacity:  1;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color-primary;
      opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color-primary;
      opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $color-primary;
      opacity:  1;
    }

  }
  .content-footer-bas{
    background-color:#f0f0f0;
    padding: 50px 0px 40px 0px;
    margin-top: 65px;

    @media #{$mobile} {
      padding: 40px 0px 30px 0px;
      margin-top: 40px;
    }
    h2{
      @extend %titre-miniature-h2;
      font-size: 18px;
      margin-top:0;
      @media #{$mobile} {
        font-size: 18px;
      }
    }
    p{
      @extend %text-classic;
      font-size:16px;
      font-weight:500;
      margin:0;
      @media #{$mobile} {
        font-size: 14px;
      }
      @media #{$ipad-classic} {
        font-size:16px;
      }
    }
  }
}


/* --- PAGE CATLOGUE --- */

.image-header-catalogue{
  width: 100%;
  height: 660px;
  background-size: cover;
  background-image: url(../../../images/catalogue-header-new.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  @media #{$mobile} {
    height: 350px;
    background-attachment: inherit;
    background-position:left;
  }
  @media #{$ipad-classic} {
    height: 415px;
  }
  @media #{$desktop-little} {
    height: 550px;
  }
}

.text-header-catalogue{
  position: absolute;
  top: 170px;
  padding-left: 6%;
  color:$color-primary2;
  @media #{$mobile} {
    top: 110px;
  }
  h2{
    font-size:47px;
    margin-bottom: 20px;
    .span-contrast1{
      @extend %h2contrast;
      font-weight:200;
      display:block;
      @media #{$mobile} {
        font-size:30px;
      }
    }
    .span-contrast2{
      @extend %h2contrast;
      font-weight:600;
      display:block;
      @media #{$mobile} {
        font-size:30px;
      }
    }
  }
  p{
    @extend %text-classic;
    color:$color-primary2;
  }

  /* bouton article */
   .button-header-catalogue {
     @extend %button-catalogue-articles;
   }
  .button-header-catalogue .left {
    @extend %button-catalogue-articles-left;
  }
  .button-header-catalogue .right {
    @extend %button-catalogue-articles-right;
  }
}


.container-catalogue-section-1{
  height:100%;
  padding: 80px 0 0 0;
  @media #{$mobile} {
    padding: 20px 15px 35px 15px;
  }
  .titre-catalogue{
    border-bottom: solid 2px $color-primary;
    @media #{$mobile} {
      margin: 0px 9px 0px 9px;
    }
    h2{
      font-size:47px;
      margin-bottom: 20px;
      @media #{$mobile} {
        margin-bottom:10px;
      }
      .span-contrast1{
        @extend %h2contrast;
        font-weight:200;
        @media #{$mobile} {
          font-size:30px;
        }
      }
      .span-contrast2{
        @extend %h2contrast;
        font-weight:600;
        @media #{$mobile} {
          font-size:30px;
        }
      }
    }
  }
  p{
    @extend %text-classic;
    font-size:16px;
    @media #{$mobile} {
      font-size:16px;
    }
  }

  #tabs2{
    padding-top:10px;
    ul{
      padding:0;
      @media #{$mobile} {
        text-align:center;
        padding: 0px 9px 0px 9px;
      }
      @media #{$ipad-classic} {
        text-align:left;
      }
    }
    .ui-tab{
      text-transform: uppercase;
      display: inline-block;
      list-style-type: none;
      text-decoration: none;
      outline:0;
      background: $color-primary;
      width: 115px;
      text-align: center;
      margin: 5px 10px 0px 0px;
      @media #{$ipad-classic} {
        width:125px;
      }
      a{
        outline:0;
        text-decoration: none;
        color:$color-primary2;
        font-size:15px;
        font-weight: 400;
        width: 100%;
        line-height: 24px;
        display: block;
        &:hover{
          text-decoration: none;
          color:$color-primary2;
        }
      }
    }
  }

 #tabs .ui-tabs .ui-tabs-nav .ui-tabs-active a{
    color:$color-brown-h2 !important;
  }

  .ui-tabs .ui-tabs-nav li.ui-tabs-active{
    background:$color-brown-h2 !important;
  }

  .ui-tabs .ui-tabs-nav li:hover{
    background:$color-brown-h2 !important;
  }



  .grid-flexbox{
    display: flex;
    flex-wrap:wrap;
    align-content: flex-start;
    flex-direction: row;
    @media #{$mobile}{
      /*flex-direction: column;*/
    }



    .grid-cell-1{
      @extend %grid-cell;
      flex: 0 0 23.5%;
      @media #{$mobile}{
        flex: 1 0 47.5%;
      }
    }

    .grid-cell-2{
      @extend %grid-cell;
      flex: 0 0 23.5%;
      background:none;
      @media #{$mobile}{
        flex: 1 0 47.5%;
      }
    }

    .grid-cell-3{
      @extend %grid-cell;
      flex: 0 2 23.5%;
      @media #{$mobile}{
        flex: 1 2 47.5%;
      }
    }

    .grid-cell-4{
      @extend %grid-cell;
      flex: 0 1 23.5%;
      background:none;
      @media #{$mobile}{
        flex: 1 1 47.5%;
      }
    }

    .grid-cell-5{
      @extend %grid-cell;
      flex: 0 1 23.5%;
      background:none;
      @media #{$mobile}{
        flex: 0 1 47.5%;
      }
      @media screen and (min-width: 200px) and (max-width: 696px) {
        flex: 1 1 47.5%;
      }
    }




    h2{
      position: absolute;
      z-index: 2;
      margin: 10px 0px 0px 20px;
      color: $color-primary2;
      .span-contrast1{
        @extend %h2contrast;
        font-weight:200;
        font-size:18px;
        @media #{$mobile}{
          font-size:16px;
        }
        @media #{$ipad-big} {
          font-size:16px;
        }
      }
      .span-contrast2{
        @extend %h2contrast;
        font-weight:600;
        font-size:18px;
        @media #{$mobile}{
          font-size:16px;
        }
        @media #{$ipad-big} {
          font-size:16px;
        }
      }
    }
  }
}
/*
.button-articles-anim{
  &:before{
    opacity:0;
    position: absolute;
    font-size: 25px;
    content: '+1';
    right: -13%;
    top: -12px;
    color: #2b2b2b;
    background: none;
    width: 40px;
    height: 30px;
  }
}*/
.button-articles-anim{
    overflow:hidden;
  .left{
    overflow:hidden;
    position:relative;
  }
  .fa-shopping-cart{
    position: absolute;
    left: 10px;
    top: 4px;
  }
  .svg-articles-button{
    position: absolute;
    top:-2px;
    left:5px;
    stroke-dasharray: 19.80, 19.80;
    stroke-dashoffset: 19.80;
    fill: none;
    stroke: $color-primary;
    stroke-width: 2;
    stroke-linecap: square;
    stroke-miterlimit: 10;
    /*d: path('M 9 17 l 3.9 3.9 c 0.1 0.1 0.2 0.1 0.3 0 L 23 11');*/
  }
}


// BXSLIDER ARTCILES START
.bx-pager{
  padding: 9px 0px 10px 0px;
  text-align:center;
  background:#b2b2b2;
}
.bx-pager-item{
  display: inline-block;
  margin: 0px 5px 0px 5px;
}

.cicle-color{
  border-radius: 20px;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  display: inline-block;
  /*border: solid 1px #2b2b2b;*/
  margin: 0px 3px 0px 3px;
  box-shadow: inset 0 0 0 2px rgba(150,150,150,.5);
  transition: box-shadow .3s ease;
  &:hover{
    box-shadow: inset 0 0 0 0px rgba(150,150,150,.5);
  }
}

.container-bx-slider {
  width: 100%;

  .bx-wrapper{
    max-width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    flex-direction: column;
  }
  .bx-viewport{
    width: auto;
    overflow: hidden;
    position: relative;
    height: 240px !important;
  }
  ul{
    position:relative;
    padding: 0 !important;
    margin: 0;
  }
  li{
     float: left;
     list-style: none;
     position: relative;
     padding: 0;
     margin: 0;
  }
  .image-article-slider{
    margin: auto;
    display: block;
    max-width: 100%;

    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.card-box{
  margin-top: 20px;
  .image-bx-slider {
    width: 100%;
    height:100%;
    background: #b2b2b2;
    /* background: -webkit-radial-gradient( center, circle, #dcdcdc, #b2b2b2);
     background: -moz-radial-gradient( center, circle, #dcdcdc, #b2b2b2);
     background: -ms-radial-gradient( center, circle, #dcdcdc, #b2b2b2);
     background: -o-radial-gradient( center, circle, #dcdcdc, #b2b2b2);
     background:radial-gradient( circle at center, #dcdcdc, #b2b2b2);*/
    img{
      margin: auto;
      display: block;
      max-width: 100%;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      height: 279px;
    }
  }
  h4{
    font-size:16px;
    text-transform:uppercase;
    font-weight: 600;
  }
  /* bouton articles - CARDBOX */
  .button-header-catalogue-articles {
    @extend %button-catalogue-articles;
    border-radius: 50px 0px 50px 50px;
  }
  .button-header-catalogue-articles .left {
    @extend %button-catalogue-articles-left;
  }
  .button-header-catalogue-articles .right {
    @extend %button-catalogue-articles-right;
  }
}

.grid-cell-1, .grid-cell-4, .grid-cell-6{ /* IMPORTANT A FAIRE POUR QE LE SLIDE FONCTIONNE CORRECTEMENT AU REDIMENSSIONEMENT DE LA PAGE */
  display: flex;
  .card-box{
    flex: 100%;
    width:1px;
  }
}
// BXSLIDER ARTCILES END



/* --- PAGE LOCALISATION --- */


//SECTION 1
.image-header-localisation{
  width: 100%;
  height: 660px;
  background-size: cover;
  background-image: url(../../../images/localisation-img-new.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @media #{$desktop-little} {
    height: 550px;
  }
  @media #{$mobile} {
    height: 350px;
    background-attachment: inherit;
  }
}

.text-header-localisation{
  position: absolute;
  top: 170px;
  padding-left: 6%;
  color:$color-primary2;
  @media #{$mobile} {
    top: 110px;
  }
  h2{
    font-size:47px;
    margin-bottom: 20px;
    .span-contrast1{
      @extend %h2contrast;
      font-weight:200;
      display:block;
      @media #{$mobile} {
        font-size:30px;
      }
    }
    .span-contrast2{
      @extend %h2contrast;
      font-weight:600;
      display:block;
      @media #{$mobile} {
        font-size:30px;
      }
    }
  }
  p{
    @extend %text-classic;
    color:$color-primary2;
  }
}

//SECTION 2

#section-catalogue-2{
  height:100%;
  margin:auto;
  padding: 70px 0 0 0;

  @media #{$mobile} {
    padding: 0;
  }
  .container-formules{
    text-align: center;
    width:100%;
    height:550px;
    background: url('../../../images/formules-abonnement.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;

    @media #{$mobile} {
      height: 100%;
      /*background-attachment: fixed;*/
      padding-bottom: 65px;
    }

    .content-formules{
      padding:50px 0px 0px 0px;
      width:100%;

      @media #{$mobile} {
        padding:95px 0px 0px 0px;
      }

      .border-vertical-catalogue{
        position: absolute;
        display: inline-block;
        border-left: solid 1px $color-primary2;
        width: 1px;
        height:65px;
        @media #{$mobile} {
          height:45px;
        }
      }
      .content-titre-intro{
        padding-top: 65px;
        @media #{$mobile} {
          padding:0;
        }
        h2{
          @extend %titre-miniature-h2;
          color:$color-primary2;
          margin-top:25px;
          @media #{$mobile} {
            font-size:12px;
          }
          @media #{$ipad-classic} {
            font-size:16px;
          }
        }
        h3{
          @extend %titre-h3;
          color:$color-primary2;
          @media #{$mobile} {
            font-size:35px;
            margin-top:15px;
          }
          @media #{$ipad-classic} {
            margin-top:0px;
          }
          @media #{$desktop-little} {
            font-size:60px;
          }
        }
      }
      .content-text-button{
        padding-top: 180px;
        @media #{$mobile} {
          padding-top:30px;
        }
        p{
          @extend %text-classic-montserrat;
          color:$color-primary2;
          @media #{$ipad-classic} {
            font-family: 'Yantramanav';
            font-size: 20px;
            font-weight: 400;
          }
        }
        .button-outline{
          @extend %button-outline;
          margin-top:0;
          @media #{$mobile} {
            margin-top:0;
          }

          .bouton-image-left{
            @extend %bouton-image-left;
          }
          .bouton-image-right{
            @extend %bouton-image-right;
          }
          .button-outline-copy.small-padding {
            padding: 0 4.5rem;
            @media #{$mobile} {
              padding: 0 1rem;
            }
          }
          .button-outline-copy {
            @extend %button-outline-copy;
          }
          .button-outline-copy:after, .button-outline-copy:before {
            @extend %button-after-before;
            transition: all 0.8s cubic-bezier(.19,1,.22,1) 50ms;
          }
          .button-outline-bottom:after, .button-outline-bottom:before {
            @extend %button-after-before-bottom;
            transition: all 0.8s cubic-bezier(.19,1,.22,1) 50ms;
          }
          .button-outline:after, .button-outline:before {
            @extend %button-after-before2;
          }
          .button-outline:after {
            @extend %button-outline-after;
          }
          .button-text-wrapper{
            @extend %text-button;
          }

          /* HOVER HAUT */
          .button-outline-copy:after {
            @extend %button-outline-copy-after;
          }
          .button-outline-copy:before {
            @extend %button-outline-copy-before;
          }
          /*j'ai ajouté un addclass en jquery au hover*/
          .button_hover.button-outline-copy:after {
            @extend %hover-button-outline-copy-after;
          }
          .button_hover.button-outline-copy:before {
            @extend %hover-button-outline-copy-before;
          }
          /*HOVER BAS*/
          .button-outline-bottom:after {
            @extend %button-outline-bottom-after;
          }
          .button-outline-bottom:before {
            @extend %button-outline-bottom-before;
          }
          /*j'ai ajouté un addclass en jquery au hover*/
          .button_hover_bas.button-outline-bottom:after {
            @extend %hover-button-outline-copy-after2;
          }
          .button_hover_bas.button-outline-bottom:before {
            @extend %hover-button-outline-copy-before2;
          }
        }

      }

    }
  }
}






/* GOOGLE MAPS PERSO - LOCALISATION PAGE */

/* --- MAPS --- */
#map {
  height: calc(100vh - 65px);

  @media #{$mobile}{
    height: 100vh;
  }
}

#map{
  .nameInfo {
    font-family:'Montserrat', serif;
    font-size:14px;
    font-weight:600;
    text-decoration: none;
    padding-bottom: 5px;
    color:$color-blue;
    &:hover{color: #273b7a;}
  }
  p{
    font-family:'Montserrat', serif;
    font-size:14px;
    font-weight:400;
    margin:5px 0px 0px 0px;
  }
  .heureInfo{
    /*  font-weight: 500;*/
  }
  .distanceInfo{
    padding-top:10px;
    font-weight: 500;
    color:$color-brown-h2;
  }

}
.section-map{
  position:relative;
  height:100%;
}
.pop-up{
  visibility: hidden;
  position:absolute;
  color:$color-primary2;
  top:0;
  z-index:1;
  width:500px;
  height:100px;
  background-color: $color-brown-h2;
  opacity: 0.95;
  margin:10px;
  @media #{$mobile} {
    width: calc(100% - 20px);
  }
  @media #{$ipad-classic} {
    width:500px;
  }
  .image-pop-up{
    position: relative;
    width:20%;
    height:100%;
    background-color:$color-primary;
    float: left;
    border-right: solid 2px #fff;
    .pin-info{
      font-size: 35px;
      width: 37px;
      margin: 23px 0 0 28px;
      @media #{$mobile} {
        width: 30px;
        margin: 28px 0 0 14px;
      }
      @media #{$ipad-classic} {
        width: 37px;
        margin: 23px 0 0 28px;
      }
    }
  }
  .texte-pop-up{
    position: relative;
    width:75%;
    height:100%;
    float: left;
    @media #{$mobile} {
      width: 73%;
    }
    @media #{$ipad-classic} {
      width:75%;
    }
    p{
      @extend %text-classic;
      color:$color-primary2;
      color: #fff;
      padding: 28px;
      font-size: 16px;
      margin: 0;
      @media #{$mobile} {
        padding: 17px 0px 13px 13px;
      }
      @media #{$ipad-classic} {
        padding: 28px;
      }
    }
  }
  .close-pop-up{
    position: relative;
    width:5%;
    height:100%;
    float: left;
    &:hover{
      opacity: 0.8;
    }
    i{
      background-color:$color-primary2;
      border-radius:50px;
      color: $color-brown-h2;
      text-align: center;
      width: 15px;
      height: 15px;
      margin-top: 8px;
    }
  }
}

/* ------------------------ ABONNEMENT PAGE ------------------------ */

.image-header-abonnement{
  width: 100%;
  height: 660px;
  background-size: cover;
  background-image: url(../../../images/abonnement-img-new.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  @media #{$desktop-little} {
    height: 550px;
  }
  @media #{$mobile} {
    height: 350px;
    background-attachment: inherit;
  }
}

.text-header-abonnement{
  position: absolute;
  top: 170px;
  padding-left: 6%;
  color:$color-primary2;
  @media #{$mobile} {
    top: 110px;
  }
  h2{
    font-size:47px;
    margin-bottom: 20px;
    .span-contrast1{
      @extend %h2contrast;
      font-weight:200;
      display:block;
      @media #{$mobile} {
        font-size:30px;
      }
    }
    .span-contrast2{
      @extend %h2contrast;
      font-weight:600;
      display:block;
      @media #{$mobile} {
        font-size:30px;
      }
    }
  }
  p{
    @extend %text-classic;
    color:$color-primary2;
    @media #{$mobile} {
      padding-right: 15px;
    }
  }
}


/* ---------------------- ABONNEMENT SECTION 1 ---------------------- */
#section-abonnement-1{
  padding-top:35px;

  .reset-row-mobile{
      @media #{$mobile} {
        margin: 0;
      }
    }
  .arrondi-container{
    margin:0; padding:0;
  }
  .bloc-texte-arrondi{
    padding: 0 6% 0 8%;
    height: 50vh;

    @media #{$mobile} {
      padding: 0px 15px 0px 15px;
      height:100%;
    }

    .titre-contrast{
      padding-bottom: 20px;
      .span-contrast1{
        @extend %h2contrast;
        font-weight:200;
        @media #{$mobile} {
          font-size:30px;
        }
      }
      .span-contrast2{
        @extend %h2contrast;
        font-weight:600;
        @media #{$mobile} {
          font-size:30px;
        }
      }
    }
    p{
      @extend %text-classic;
      margin:0;
    }
  }

  .bloc-texte-arrondi2{
    padding:0 6% 0 8%;
    /*height: 45vh;*/
    height: 21vw;
    @media #{$mobile} {
      padding: 0px 15px 0px 15px;
      height:100%
    }
    .titre-contrast{
      padding-bottom: 20px;
      .span-contrast1{
        @extend %h2contrast;
        font-weight:200;
        @media #{$mobile} {
          font-size:30px;
        }
      }
      .span-contrast2{
        @extend %h2contrast;
        font-weight:600;
        @media #{$mobile} {
          font-size:30px;
        }
      }
    }
    p{
      @extend %text-classic;
      margin:0;
      padding-right: 16%;
      @media #{$mobile} {
        padding-right: 0;
      }
    }
  }

  .bloc-texte-arrondi3 {
    padding: 0 5% 0 5%;
    /*height: 45vh;*/
    height: 25vw;
    @media #{$mobile} {
      padding: 35px 15px 35px 15px;
      height:100%;
    }
    .titre-contrast{
      padding-bottom: 20px;
      .span-contrast1{
        @extend %h2contrast;
        font-weight:200;
        @media #{$mobile} {
          font-size:30px;
        }
      }
      .span-contrast2{
        @extend %h2contrast;
        font-weight:600;
        @media #{$mobile} {
          font-size:30px;
        }
      }
    }
    p{
      @extend %text-classic;
      margin:0;
      padding-right: 16%;
      @media #{$mobile} {
        padding-right: 0;
      }
    }
  }

  .images5-skew{
    width: calc(100% - 25.5%);
    float:right; margin-right: -1px;
    @media #{$mobile} {
      height:200px;
      display: block;
      width: 100%;
      margin: 50px 0 0 0;
      background: url(../../../images/moteur-catalogue-mask1.jpg) no-repeat center;
      background-size:cover;
    }
    @media #{$ipad-classic} {
      height:300px;
    }
    svg{
      @media #{$mobile} {
        display: none;
      }
    }
  }

  .container-skew6{
    @media #{$mobile} {
      display:none;
    }
  }

  .images6-skew{
    width: calc(100% - 0%);
    float:left; margin-left: -1px;
    @media #{$mobile} {
      margin: 50px 0 0 0;
    }
  }
}

/* ---------------------- ABONNEMENT SECTION 2 ---------------------- */
.container-abonnement-section-2 {
  height:100%;
  margin:35px auto auto auto;
  @media #{$mobile} {
    margin:35px 0 0 0;
  }
  .container-abonnement{
    text-align: center;
    width:100%;
    /*height: calc(100vh - 65px);*/
    background-color: #f0f0f0;
    position:relative;

    @media #{$mobile} {
      height:100%;
    }

    .content-abonnement{
      padding:65px 0px 0px 0px;
      width:100%;

      @media #{$mobile} {
        padding:90px 0px 0px 0px;
      }

      .border-vertical-abonnement{
        position: absolute;
        display: inline-block;
        border-left: solid 1px $color-primary;
        width: 1px;
        height:65px;
        @media #{$mobile} {
          height:45px;
        }
      }
      .content-titre-intro{
        padding-top: 65px;
        @media #{$mobile} {
          padding:0;
        }
        h2{
          @extend %titre-miniature-h2;
          color:$color-primary;
          margin-top:25px;
          @media #{$mobile} {
            font-size:12px;
          }
          @media #{$ipad-classic} {
            font-size:16px;
          }
        }
        h3{
          @extend %titre-h3;
          color:$color-primary;
          @media #{$mobile} {
            font-size:35px;
            margin-top:20px;
          }
          @media #{$ipad-classic} {
            margin-top:0;
          }
          @media #{$desktop-little} {
            font-size:60px;
          }
        }
      }
      p{
        @extend %text-classic;
        color:$color-primary;
      }
      .container-carte{
        padding: 100px 0 100px 0;
        @media #{$mobile} {
          padding: 40px 0 0 0;
        }
        h2{
          color:$color-or;
          margin:0;
          text-transform: uppercase;
          font-weight:700;
          font-size: 48px;
          font-family: 'Montserrat', serif;

          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          @media #{$mobile} {
            font-size: 30px;
          }
        }
        h3{
          color:$color-or;
          font-family: 'Montserrat', serif;
          text-transform: uppercase;
          font-weight:400;
          font-size: 18px;
          position: absolute;
          left: 0;
          right: 0;
          top: 65%;
          transform: translateY(-40%);
          margin: 0;
          @media #{$mobile} {
            font-size: 12px;
          }
        }
        .content-info-abonnement{
          max-width: 475px;
          display: block;
          margin: auto;
          hr{
            border: solid 1px #2b2b2b;
            margin: 10px 0px 10px 0px;
          }
          .liste-info-abonnement{
            padding-left: 19px;
            height: 260px; /* enlever height pour bouton */
            @media #{$mobile} {
              height:inherit;
            }
            li{
              @extend %text-classic;
              text-align: left;
              list-style-image : url(../../../images/puce.png);
              padding: 10px;
              @media #{$ipad-classic} {
                text-align: center;
                list-style-image: none;
                list-style-type: none;
              }
            }
          }
          /* bouton abonnement */
          .button-header-abonnement-bleu, .button-header-abonnement-noir {
            @extend %button-catalogue-articles;
            background-color: #335272;
            color:$color-primary2;
            height:40px;
            border: 1px solid #f0f0f0;
            /*width: 100%;*/
            float: left;
            text-align: left;
            &:hover{color:#decfb7;}
            @media #{$mobile} {
              font-size: 12px;
            }
            @media #{$ipad-classic} {
              font-size: 14px;
              float:none;
            }
          }
          .button-header-abonnement-bleu .left, .button-header-abonnement-noir .left {
            @extend %button-catalogue-articles-left;
            height: 34px;
            width:24px;
            margin: 5px 7px 0 12px;
          }
          .button-header-abonnement-bleu .right, .button-header-abonnement-noir .right {
            @extend %button-catalogue-articles-right;
            line-height: 38px;
            border-left: 1px solid #f0f0f0;
          }
          .button-header-abonnement-noir {
            background-color: #383838;
          }
        }
        .titre-info-abonnement{
          color:$color-primary;
          display: block;
          font-family: 'Montserrat', serif;
          text-transform: uppercase;
          font-weight:600;
          font-size: 18px;
          text-align: left;
          padding-top: 40px;
          @media #{$ipad-classic} {
            text-align: center;
          }
        }
        .ligne-gauche-carte, .ligne-droite-carte{
          width:156px;
          height:4px;
          background: $color-or;
          position: absolute;
          top: 65%;
          @media #{$mobile} {
            width: 82px;
            height: 3px;
          }
        }
        .ligne-gauche-carte{
          left: 0;
        }
        .ligne-droite-carte{
          right: 0;
        }
        .container-carte-classique, .container-carte-premium{
          @media #{$mobile} {
            padding-bottom: 88px;
          }
        }

      }
      .content-carte-classique, .content-carte-premium{
        position: relative;
        background: #335272; /* Old browsers */
        background: -moz-linear-gradient(67deg, #335272 0%, #466487 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(67deg, #335272 0%,#466487 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(67deg, #335272 0%,#466487 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#335272', endColorstr='#466487',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        width: 475px;
        height: 270px;
        display: block;
        margin: auto;

        @media #{$mobile} {
          width: 290px;
          height: 185px;
        }
      }
      .content-carte-premium{
        background: #383838; /* Old browsers */
        background: -moz-linear-gradient(67deg, #383838 0%, #5f5e5e 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(67deg, #383838 0%,#5f5e5e 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(67deg, #383838 0%,#5f5e5e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#5f5e5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }
      .logo-carte{
        float: left;
        padding: 14px;
        @media #{$mobile} {
          width: 120px;
        }
      }
    }
  }
}






/* bouton BLING BLING */

.button-bling{
  overflow: hidden;
  position: relative;
  &:before{
    position: absolute;
    top: -40%;
    right: 110%;
    transform: rotate(20deg);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0) 100%);
    width: 40px;
    height: 200%;
    content: '';
  }
  &:hover{
  background-color: lighten(#fec81d, 8%);
  cursor: pointer;
    &:before{
    right: -30%;
    transition: 1.2s ease all;
    }
  }
}
/* bouton BLING BLING FINNNN */


/* Fenetre modal Connexion */
.false-red{
  border:solid 1px red !important;
}


/* --- STYLE SCROLLBAR --- */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #f0f0f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-brown-h2;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $color-brown-h2;
}


// PAGE ORDER POUR LA COMMANDE DE MES ARTICLES

.header-order{
  height:68px;
  width:100%;
  background-color:rgba(30, 30, 30, 0.7);
  @media #{$mobile} {
    display:none;
  }
}

.container-order-section-1{
  height:100%;
  padding: 40px 0 0 0;
  @media #{$mobile} {
    padding: 35px 20px 35px 20px;
    background-color:#f0f0f0;
  }
  @media #{$ipad-classic} {
    background-color:inherit;
    padding: 35px 20px 0px 20px;
  }
  .titre-order{
    border-bottom: solid 2px $color-primary;
    h2{
      font-size:47px;
      margin-bottom: 20px;
      display: inline-block;
      .span-contrast1{
        @extend %h2contrast;
        font-weight:200;
        @media #{$mobile} {
          font-size:30px;
        }
      }
      .span-contrast2{
        @extend %h2contrast;
        font-weight:600;
        @media #{$mobile} {
          font-size:30px;
        }
      }
    }
    .livraison-texte-desktop{
      float: right;
      padding-top: 44px;
      @media #{$mobile} {
        display:none;
      }
      p{
        @extend %text-classic-montserrat;
        display: inline-block;
        color: $color-primary;
        display: inline-block;
        font-weight: 500;
      }
      img{
        display: inline-block;
        padding-bottom: 12px;
      }
    }
  }
}

#section-order-2{
  padding:0;
  @media #{$mobile} {
    padding: 0 15px 0 15px;
  }
  .liste-order{
    list-style:none;
    width: 100%;
    padding: 0;
    .span-contrast1{
      @extend %h2contrast;
      font-weight:400;
      font-size:18px;
      @media #{$mobile} {
        font-size:18px;
      }
    }
    .span-contrast2{
      @extend %h2contrast;
      font-weight:600;
      font-size:18px;
      @media #{$mobile} {
        font-size:18px;
      }
    }
    .container-flex-order{
      display:flex;
      align-items: center;
      justify-content: center;
      @media #{$mobile} {
        flex-direction: column;
      }
      @media #{$ipad-classic} {
        flex-direction: inherit;
      }
      .img-order-articles{
        flex: 0 0 20%;
        width:100%;
        height:100%;
        @media #{$mobile} {
          width:auto;
        }
        @media #{$ipad-classic} {
          width:100%;
        }
      }
      .name-span-order-container{
        flex: 1 0 35%;
        @media #{$mobile} {
          padding-bottom: 15px;
        }
        @media #{$ipad-classic} {
          padding-bottom: 0;
        }
      }
      .price-order-articles{
        flex: 0 0 20%;
      }
      .quantity-order-articles{
        flex: 0 0 10%;
      }
      .remove-order-articles{
        flex: 0 0 15%;
        text-align:right;
        a{
          @extend %h2contrast;
          font-weight:400;
          font-size:18px;
          color:$color-brown-h2;
          text-transform: none;
          &:hover{
            text-decoration: none;
            color:$color-brown-h2;
            opacity:0.8;
          }
          @media #{$mobile} {
            font-size:16px;
          }
          @media #{$ipad-classic} {
            font-size:18px;
          }
        }
      }
    }
  }
  .separation-order{
    border-bottom: solid 2px #2b2b2b;
    width:100%;
    padding-top: 40px;
    @media #{$mobile} {
      padding-bottom: 15px;
    }
    @media #{$ipad-classic} {
      padding-bottom: 0px;
    }
  }
  .img-banque-desktop{
    width: 38%;
    display: inline-block;
    padding-top: 12px;
    @media #{$mobile} {
      display:none;
    }
  }

  .img-banque-mobile{
    display:none;
    @media #{$mobile} {
      width: auto;
      display: block;
      text-align: center;
      padding: 10px 0 20px 0;
      border-bottom: solid 1px $color-primary;
    }
    @media #{$ipad-classic} {
      display: none;
    }
    .livraison-texte-mobile{
      display:none;
      @media #{$mobile} {
        padding-top: 20px;
        display:block;
      }
      p{
        @extend %text-classic-montserrat;
        display: block;
        color: $color-primary;
        display: inline-block;
        font-weight: 500;
      }
    }
  }


  .totaux-container{
    width: 62%;
    float: right;
    @media #{$mobile} {
      width: 100%;
      float: none;
      display: block;
    }
    @media #{$ipad-classic} {
      width: 75%;
      float: right;
    }
    .totaux-content{
      display: flex;
      justify-content: center;
      padding-top: 15px;
      .total-price-order-left, .total-price-order-right{
        flex:0 0 50%;
        @extend %h2contrast;
        font-weight:600;
        font-size:18px;
      }
      .total-price-order-right{
        text-align: right;
      }
    }
    .separation-order2{
      border-bottom: solid 2px #2b2b2b;
      width:100%;
      padding: 0;
    }
    .content-text-button-order1{
      float: left;
      padding-top: 25px;
      padding-left: 26px;
      display:inline-block;
      @media #{$mobile} {
        float: none;
        padding-top: 25px;
        padding-left: 0;
        display: block;
        text-align: center;
      }
      @media #{$ipad-classic} {
        float: left;
        padding-left: 26px;
        display: inline-block;
      }
      p{
        @extend %text-classic-montserrat;
        color:$color-primary;
      }
      .button-outline{
        @extend %button-outline;
        /*margin-top: 25px;*/
        /*transform: translateX(26px);*/
        .bouton-image-left{
          @extend %bouton-image-left;
        }

        .bouton-image-right{
          @extend %bouton-image-right;
        }
        .button-outline-copy.small-padding {
          padding: 0 4.5rem;
          @media #{$mobile} {
            padding: 0 1rem;
          }
        }
        .button-outline-copy {
          @extend %button-outline-copy;
        }
        .button-outline-copy:after, .button-outline-copy:before {
          @extend %button-after-before;
          transition: all 0.8s cubic-bezier(.19,1,.22,1) 50ms;
        }
        .button-outline-bottom:after, .button-outline-bottom:before {
          @extend %button-after-before-bottom;
          transition: all 0.8s cubic-bezier(.19,1,.22,1) 50ms;
        }
        .button-outline:after, .button-outline:before {
          @extend %button-after-before2;
        }
        .button-outline:after {
          @extend %button-outline-after;
        }
        .button-text-wrapper{
          @extend %text-button;
          color:$color-primary;
        }

        /* HOVER HAUT */
        .button-outline-copy:after {
          @extend %button-outline-copy-after;
        }
        .button-outline-copy:before {
          @extend %button-outline-copy-before;
        }
        /*j'ai ajouté un addclass en jquery au hover*/
        .button_hover.button-outline-copy:after {
          @extend %hover-button-outline-copy-after;
        }
        .button_hover.button-outline-copy:before {
          @extend %hover-button-outline-copy-before;
        }
        /*HOVER BAS*/
        .button-outline-bottom:after {
          @extend %button-outline-bottom-after;
        }
        .button-outline-bottom:before {
          @extend %button-outline-bottom-before;
        }
        /*j'ai ajouté un addclass en jquery au hover*/
        .button_hover_bas.button-outline-bottom:after {
          @extend %hover-button-outline-copy-after2;
        }
        .button_hover_bas.button-outline-bottom:before {
          @extend %hover-button-outline-copy-before2;
        }
      }
    }
    .content-text-button-order2{
      float: right;
      padding-top: 25px;
      display:inline-block;
      @media #{$mobile} {
        float: none;
        padding: 20px 0 12px 0;
        display: block;
        text-align: center;
      }
      @media #{$ipad-classic} {
        padding:25px 0 25px 0;
        float: right;
      }
      .button-order-black{
        @extend %text-button;
        background-color:$color-primary;
        color:$color-primary2;
        text-decoration: none;
        padding: 16px 61px 16px 61px;
        border-radius: 50px;

        @media #{$mobile} {
          padding: 16px 28px 16px 28px;
        }
        &:hover{
          opacity:0.9;
        }
      }
    }
  }
}

// PAGE CONFIRMATION
#confirmed-container{
  .confirmed-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    .confirmed-felicitation{
      @extend %text-classic;
      @media #{$mobile} {
        margin-bottom:20px;
      }
    }
    .confirmed-back{
      @extend %text-classic;
      color: $color-brown-h2;
      text-transform:uppercase;
      font-size:16px;
      font-weight: 600;
      text-decoration: none;
      &:hover{
        opacity:0.9;
      }
    }
    img{
      width: 100px;
      margin-bottom: 50px;
    }
  }
}


/*Juste pour Firefox*/
@-moz-document url-prefix() {
  .images1-skew{
    width: calc(100% - 22%) !important;
  }
  .images4-skew{
    width: calc(100% - 22%) !important;
  }
}


/*Juste pour faire lire du css rien que pour IE10 et 11*/
@media all and (-ms-high-contrast:none)
{
  .button-icon-outline .circle {stroke-width: 2.2; stroke-dasharray: 140 13; stroke-dashoffset: 20;} /* IE10 */
  *::-ms-backdrop, .button-icon-outline .circle {stroke-width: 2.2; stroke-dasharray: 140 13; stroke-dashoffset: 20;} /* IE11 */

  svg:not(:root) {overflow: inherit;}
  *::-ms-backdrop, svg:not(:root) {overflow: inherit;}

  .images1-skew, .images2-skew, .images3-skew, .images4-skew, .images5-skew, .images6-skew {height:26vw;} /* IE10 */
  *::-ms-backdrop, .images1-skew, .images2-skew, .images3-skew, .images4-skew, .images5-skew, .images6-skew{height:26vw;} /* IE11 */


  #section-index-3 .images2-skew {margin-right: -13%;} /* IE10 */
  *::-ms-backdrop, .images2-skew {margin-right: -13%;} /* IE11 */

  #section-index-3 .images3-skew {margin-left: -11%;} /* IE10 */
  *::-ms-backdrop, .images3-skew {margin-left: -11%;} /* IE11 */

  .container-section3-part3 {padding: 15px 0 0 0;} /* IE10 */
  *::-ms-backdrop, .container-section3-part3 {padding: 15px 0 0 0;} /* IE11 */

  .bloc-texte-arrondi {height: 23vw !important;}
  *::-ms-backdrop, .bloc-texte-arrondi {height: 23vw !important;} /* IE11 */

  .newsletter-email {height:44px !important;}
  *::-ms-backdrop, .newsletter-email {height:44px !important;} /* IE11 */

  .newsletter-submit {top:10px !important;} /* IE10 */
  *::-ms-backdrop, .newsletter-submit {top:10px !important;} /* IE11 */

  .border-vertical, .border-vertical-abonnement, .border-vertical-catalogue {left:0; right:0; margin:auto;} /* IE10 */
  *::-ms-backdrop, .border-vertical, .border-vertical-abonnement, .border-vertical-catalogue {left:0; right:0; margin:auto;} /* IE11 */
}



/* STEPS JQUERY */
/*
    Common
*/

.wizard,
.tabcontrol
{
  display: block;
  width: 100%;
  overflow: hidden;
}

.wizard a,
.tabcontrol a
{
  outline: 0;
}

.wizard ul,
.tabcontrol ul
{
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
  display: block;
  padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
  position: absolute;
  left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
  position: absolute;
  left: -999em;
}



/*
    Wizard
*/

.wizard > .steps
{
  position: relative;
  display: block;
  width: 100%;
}

.wizard.vertical > .steps
{
  display: inline;
  float: left;
  width: 30%;
}

.wizard > .steps .number
{
  font-size: 1.429em;
}

.wizard > .steps > ul > li
{
  width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
  float: left;
}

.wizard.vertical > .steps > ul > li
{
  float: none;
  width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
  display: block;
  width: auto;
  margin: 0 0.5em 0.5em;
  padding: 1em 1em;
  text-decoration: none;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
  background: #eee;
  color: #aaa;
  cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
  background: #2184be;
  color: #fff;
  cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
  background: #9dc8e2;
  color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
  background: #ff3111;
  color: #fff;
}

.wizard > .content
{
  display: block;
  min-height: 29em;
  position: relative;
  width: auto;
  @media #{$mobile} {
    min-height: 24em;
  }
  @media #{$ipad-classic} {
    min-height: 29em;
  }
}

.wizard.vertical > .content
{
  display: inline;
  float: left;
  margin: 0 2.5% 0.5em 2.5%;
  width: 65%;
}

.wizard > .content > .body
{
  float: left;
  position: absolute;
  width: 100%;
  height: 100%;
  /*padding: 2.5%;*/
}

.wizard > .content > .body ul
{
  list-style: disc !important;
}

.wizard > .content > .body ul > li
{
  display: list-item;
}

.wizard > .content > .body > iframe
{
  border: 0 none;
  width: 100%;
  height: 100%;
}

.wizard > .content > .body input
{
  display: block;
  /*border: 1px solid #ccc;*/
}

.wizard > .content > .body input[type="checkbox"]
{
  display: inline-block;
}

.wizard > .content > .body input.error
{
  background: rgb(251, 227, 228);
  border: 1px solid #fbc2c4;
  color: #8a1f11;
}

.wizard > .content > .body label
{
  display: inline-block;
  margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
  color: #8a1f11;
  display: inline-block;
  margin-left: 1.5em;
}

.wizard > .actions
{
  position: relative;
  display: block;
  text-align: right;
  width: 100%;
}

.wizard.vertical > .actions
{
  display: inline;
  float: right;
  margin: 0 2.5%;
  width: 95%;
}

.wizard > .actions > ul
{
  display: inline-block;
  text-align: right;
}

.wizard > .actions > ul > li
{
  padding: 0 0 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
  margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
  background: #2184be;
  color: #fff;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
  background: #eee;
  color: #aaa;
}

/*
    Tabcontrol
*/

.tabcontrol > .steps
{
  position: relative;
  display: block;
  width: 100%;
}

.tabcontrol > .steps > ul
{
  position: relative;
  margin: 6px 0 0 0;
  top: 1px;
  z-index: 1;
}

.tabcontrol > .steps > ul > li
{
  float: left;
  margin: 5px 2px 0 0;
  padding: 1px;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
  background: #edecec;
  border: 1px solid #bbb;
  padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
  background: #fff;
  border: 1px solid #bbb;
  border-bottom: 0 none;
  padding: 0 0 1px 0;
  margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
  color: #5f5f5f;
  display: inline-block;
  border: 0 none;
  margin: 0;
  padding: 10px 30px;
  text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
  text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
  padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 35em;
  overflow: hidden;
  border-top: 1px solid #bbb;
  padding-top: 20px;
}

.tabcontrol > .content > .body
{
  float: left;
  position: absolute;
  width: 95%;
  height: 95%;
  padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
  list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
  display: list-item;
}