// Media Quarries
$mobile: "(min-width: 320px) and (max-width: 940px)";
$ipad-big: "(min-width: 941px) and (max-width: 1199px)";
$ipad-classic: "(min-width: 600px) and (max-width: 940px)";
$desktop: "(min-width: 1024px)";
$desktop-little: "(min-width: 941px) and (max-width: 1341px)";

/* Stylesheet */
.reset-all{
  margin:0 !important;
  padding:0 !important;
}

/* PLACEHOLDER */
%font-nav {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

%titre-h1{
  margin-top: 0;
  text-transform: uppercase;
  font-size:40px;
  font-weight: 500;

}
%titre-miniature-h2{
  color: $color-brown-h2;
  text-transform:uppercase;
  font-size:16px;
  font-weight: 600;
}

%titre-h3{
  margin-top: 12px;
  text-transform: uppercase;
  font-size:65px;
  font-weight: 500;
}

%text-classic{
  font-family:'Yantramanav';
  font-size:20px;
  font-weight:400;
  @media #{$mobile} {
    font-size:16px;
  }
  @media #{$ipad-classic} {
    font-size:20px;
  }
}

%text-classic-montserrat{
  font-family:'Montserrat';
  font-size:20px;
  font-weight:300;
  @media #{$mobile} {
    font-size:16px;
  }
  @media #{$ipad-classic} {
    font-size:20px;
  }
}

%h2contrast{
  font-size: 47px;
  text-transform: uppercase;
}




//BOUTON

%button-outline{
    position: relative;
    display: inline-block;
    color: $color-brown-h2;
    text-decoration: none;
}
%button-outline-copy {
  position: relative;
  display: block;
  padding: 0 2.6rem;
}

%button-after-before{
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  background: currentColor;
  left: 0;
  right: 0;
  -webkit-transition: all .6s cubic-bezier(.19,1,.22,1) 50ms;
  -moz-transition: all .6s cubic-bezier(.19,1,.22,1) 50ms;
  -o-transition: all .6s cubic-bezier(.19,1,.22,1) 50ms;
  transition: all .6s cubic-bezier(.19,1,.22,1) 50ms;
}

%button-after-before2{
  left: 0;
  position: absolute;
  content: '';
}

%button-after-before-bottom{
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background: currentColor;
  left: 0;
  right: 0;
  -webkit-transition: all .6s cubic-bezier(.19,1,.22,1) 50ms;
  -moz-transition: all .6s cubic-bezier(.19,1,.22,1) 50ms;
  -o-transition: all .6s cubic-bezier(.19,1,.22,1) 50ms;
  transition: all .6s cubic-bezier(.19,1,.22,1) 50ms;
}

%button-outline-after{
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 60%;
  background: currentColor;
  -webkit-transition: right 0s cubic-bezier(.19,1,.22,1) 110ms,opacity .1s cubic-bezier(.25,.25,.75,.75) 0s;
  -moz-transition: right 0s cubic-bezier(.19,1,.22,1) 110ms,opacity .1s cubic-bezier(.25,.25,.75,.75) 0s;
  -o-transition: right 0s cubic-bezier(.19,1,.22,1) 110ms,opacity .1s cubic-bezier(.25,.25,.75,.75) 0s;
  transition: right 0s cubic-bezier(.19,1,.22,1) 110ms,opacity .1s cubic-bezier(.25,.25,.75,.75) 0s;
  opacity: 0;
}

%text-button{
  font-family:'Montserrat';
  font-size:14px;
  font-weight:700;
  text-transform: uppercase;

  margin:0;
  line-height: 50px;
  color:$color-primary2;
}

%bouton-image-left{
  position: absolute;
  width: 50px;
  height: 100%;
  background: none;
  background-repeat: no-repeat;
  border: solid 2px $color-brown-h2;
  border-right: 0;
  left: 0;
  border-radius: 30px;
  -webkit-transform: translate(50%, 0%);
  -ms-transform: translate(50%, 0%);
  transform: translate(50%, 0%);
}

%bouton-image-right{
  position: absolute;
  width: 50px;
  height: 100%;
  background: none;
  background-repeat: no-repeat;
  border: solid 2px #77776a;
  border-left: 0;
  right: 0;
  border-radius: 30px;
  -webkit-transform: translate(100%, 0%);
  -ms-transform: translate(100%, 0%);
  transform: translate(-50%, 0%);
}

/* HOVER HAUT BUTTON LIGNE */

%button-outline-copy-after{
  left: calc(72% + 8px);
}
%button-outline-copy-before{
  right: calc(28% + 8px);
}

%hover-button-outline-copy-after{
  left: calc(20% + 8px);
}
%hover-button-outline-copy-before{
  right: calc(80% + 8px);
}

/*HOVER BAS BUTTON LIGNE */

%button-outline-bottom-after{
  left: calc(28% + 8px);
}
%button-outline-bottom-before{
  right: calc(72% + 8px);
}

%hover-button-outline-copy-after2{
  left: calc(78% + 8px);
}
%hover-button-outline-copy-before2{
  right: calc(22% + 8px);
}


/* POUR FLEXBOX */
%grid-cell{
  flex: 1;
  height:100%;
  margin: 0px 8px 0px 8px;

  .card-box{
    background-color:#f1f1f1;
    /*margin-bottom: 16px;*/
    .content-box-text{
      padding:0px 15px 15px 15px;

      h3{
        color:$color-primary2;
        margin-bottom:0;
        font-size:16px;
        font-weight: 500;
        text-transform: uppercase;
      }
      a{
        /*@extend %reseaux-sociaux;*/
      }
    }
  }

  .card-box-image{
    .signature-box{
      padding-top:10px;
      font-style: italic;
    }
  }
  .images-box{
    width:100%;
  }

}

/* BOUTON CATALOGUE */

%button-catalogue-articles {
  color:$color-primary;
  background-color:$color-primary2;
  position: relative;
  height: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(190, 190, 190, 0.5);
  transition: opacity 0.2s ease-out 0s;
  transition: opacity 0.2s ease-out 0s;
  -webkit-transition: opacity 0.2s ease-out 0s;
  border:solid 1px $color-primary;
  border-radius: 0;
  &:hover{
    color:$color-brown-h2;
  }
}
%button-catalogue-articles-left{
  float: left;
  display: inline-block;
  width: 37px;
  /*width: 24px;*/
  height: 28px;
  /*margin: 1px 7px 0 6px;*/
  overflow: hidden;
  font-size: 19px;
}
%button-catalogue-articles-right{
  display: inline-block;
  text-transform: uppercase;
  padding: 0 12px 0 10px;
  border-left: 1px solid $color-primary;
  white-space: nowrap;
  line-height: 29px;
}