{% extends '::base.html.twig' %}

{% block body %}

    <header>
        <div class="container-full reset-all">
            <div class="row reset-all">
                <div class="col-xs-12 col-md-12 reset-all">
                    <div class="image-header-catalogue">
                    </div>

                    <div class="text-header-catalogue">
                        <h2>
                            <span class="span-contrast1">{{ 'header-catalogue-span1'|trans }}</span>
                            <span class="span-contrast2">{{ 'header-catalogue-span2'|trans }}</span>
                        </h2>
                        <p>{% trans %}header-catalogue-intro{% endtrans %}</p>
                        <!--<a href="" target="" class="btn button-header-catalogue">
                            <div class="left"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                            <div class="right">
                                Acheter phare bullet
                            </div>
                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </header>

    {#<h3>Categories</h3>
    {% for category in categories %}
        <ul>
            <li>{{ category.name }}</li>
        </ul>
    {% endfor %}#}

    <main>
        <div class="container">

            <div class="row">
                <section id="section-catalogue-1" class="container-catalogue-section-1 col-md-12"><!-- SECTION 1 -->
                    <div class="titre-catalogue">
                        <h2>
                            <span class="span-contrast1">{{ 'section1-catalogue-span1'|trans }}</span>
                            <span class="span-contrast2">{{ 'section1-catalogue-span2'|trans }}</span>
                        </h2>
                    </div>

                    <div id="tabs2">
                        <ul>
                            <li><a href="#fragment-0">{{ 'section1-catalogue-tabs-tout'|trans }}</a></li>
                            {% for category in categories %}
                                <li><a href="#fragment-{{ category.id }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>

                        <div id="fragment-0"> <!-- PARTIE 1 BOUTON PHARE -->

                            <div class="container-flexbox">

                                <div class="grid-flexbox">
                                    {% set sliderIndex = 0 %}
                                    {% for product in parentProducts %}

                                        {% if product.isSubscription == false %}

                                            {% if product.subProducts is empty %}
                                                <div class="grid-cell-2">
                                                    <div class="card-box">
                                                        <h2>
                                                            <span class="span-contrast1">{{ product.name }}</span>
                                                            <span class="span-contrast2">{{ product.subCategory }}</span>
                                                        </h2>
                                                        <div class="image-bx-slider">
                                                            {#{% image '%kernel.root_dir%/../web/images/clignotant-bullet.png' %}
                                                            <img src="{{ product.media }}" alt="{{ product.name }}" class="image-article-slider mybtn-article"/>
                                                            {% endimage %}#}

                                                            {#{% image  %}#}
                                                            <img src="{{ product.media }}" alt="{{ product.name }}" class="image-article-slider mybtn-article"/>
                                                            {#{% endimage %}#}
                                                        </div>
                                                        <div class="content-box-text">
                                                            <h4>{{ product.descriptionTitle }}</h4>
                                                            <p>{{ product.description }}</p>
                                                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                                <a data-action="{{ path('scg_add_to_cart',{'productId':product.id}) }}" target="" class="btn button-header-catalogue-articles button-articles-anim ajaxSend">
                                                                    <div class="left">
                                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                        <svg class="svg-articles-button" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                                                                            <path d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                                                                        </svg>
                                                                    </div>
                                                                    <div class="right">
                                                                        {{ product.price }} €
                                                                    </div>
                                                                </a>
                                                            {% else %}
                                                                <a target="" class="btn button-header-catalogue-articles not-connected">
                                                                    <div class="left"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                                                                    <div class="right">
                                                                        {{ product.price }} €
                                                                    </div>
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>

                                                {# <!-- Modal ARTICLE -->
                                                <div id="articles-modal" class="modal">
                                                    <div class="articles-modal-content">
                                                        <img src="{{ product.media }}" alt="{{ product.name }}" class="image-article-slider"/>
                                                        <span class="close-modal-articles">&times;</span>
                                                    </div>
                                                </div>#}
                                            {% else %}
                                                {% set firstProductId = ''%}
                                                <div class="grid-cell-1">
                                                    <div class="card-box product_{{ product.id }}">
                                                        <!-- CAROUSEL VERTICAL DEBUT -->
                                                        <div class="container-bx-slider">
                                                            <h2>
                                                                <span class="span-contrast1">{{ product.name }}</span>
                                                                <span class="span-contrast2">{{ product.subCategory }}</span>
                                                            </h2>
                                                            <ul class="bxslider product_{{ product.id }}">
                                                                {% for subProduct in subProducts %}
                                                                    {% if subProduct.parentProduct.id == product.id %}
                                                                        {% if firstProductId is empty %}
                                                                            {% set firstProductId = subProduct.id %}
                                                                        {% endif %}
                                                                        <li style="width:auto;" data-path="{{ path('scg_add_to_cart',{'productId':subProduct.id}) }}">
                                                                            <div class="image-bx-slider">
                                                                                {#{% image  %}#}
                                                                                <img src="{{ subProduct.media }}" alt="{{ product.name }}" class="image-article-slider mybtn-article"/>
                                                                                {#{% endimage %}#}
                                                                            </div>
                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                            <div class="bx-pager bx-pager-{{ sliderIndex }}">
                                                            {% set sliderIndex = sliderIndex+1 %}
                                                                {% set i = 0 %}
                                                                {% for subProduct in subProducts %}
                                                                    {% if subProduct.parentProduct.id == product.id %}
                                                                        <a class="bx-pager-btn" data-slide-index="{{ i }}"><span class="cicle-color" style="background-color: {{ subProduct.color }};">{{ subProduct.id }}</span></a>
                                                                        {% set i = i+1 %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>

                                                        <!-- CAROUSEL FIN -->

                                                        <div class="content-box-text">
                                                            <h4>{{ product.descriptionTitle }}</h4>
                                                            <p>{{ product.description }}</p>
                                                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                                <a data-action="{{ path('scg_add_to_cart',{'productId':firstProductId}) }}" target="" class="btn button-header-catalogue-articles button-articles-anim ajaxSend product_{{ product.id }}">
                                                                    <div class="left">
                                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                        <svg class="svg-articles-button" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
                                                                            <path d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                                                                        </svg>
                                                                    </div>
                                                                    <div class="right">
                                                                        {{ product.price }} €
                                                                    </div>
                                                                </a>
                                                            {% else %}
                                                                <a target="" class="btn button-header-catalogue-articles not-connected">
                                                                    <div class="left"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                                                                    <div class="right">
                                                                        {{ product.price }} €
                                                                    </div>
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}

                                    {% endfor %}

                                </div>
                            </div>

                        </div>

                        {% for category in categories %}

                            <div id="fragment-{{ category.id }}"> <!-- PARTIE 1 BOUTON PHARE -->

                                <div class="container-flexbox">

                                    <div class="grid-flexbox">

                                        {% for product in parentProducts %}

                                            {% if product.isSubscription == false %}

                                                {% if product.category == category %}

                                                    {% if product.subProducts is empty %}
                                                        <div class="grid-cell-2">
                                                            <div class="card-box">
                                                                <h2>
                                                                    <span class="span-contrast1">{{ product.name }}</span>
                                                                    <span class="span-contrast2">{{ product.subCategory }}</span>
                                                                </h2>
                                                                <div class="image-bx-slider">
                                                                    {#{% image '%kernel.root_dir%/../web/images/clignotant-bullet.png' %}
                                                                    <img src="{{ product.media }}" alt="{{ product.name }}" class="image-article-slider mybtn-article"/>
                                                                    {% endimage %}#}

                                                                    {#{% image  %}#}
                                                                    <img src="{{ product.media }}" alt="{{ product.name }}" class="image-article-slider mybtn-article"/>
                                                                    {#{% endimage %}#}
                                                                </div>
                                                                <div class="content-box-text">
                                                                    <h4>{{ product.descriptionTitle }}</h4>
                                                                    <p>{{ product.description }}</p>

                                                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                                        <a data-action="{{ path('scg_add_to_cart',{'productId':product.id}) }}" target="" class="btn button-header-catalogue-articles ajaxSend">
                                                                            <div class="left"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                                                                            <div class="right">
                                                                                {{ product.price }} €
                                                                            </div>
                                                                        </a>
                                                                    {% else %}
                                                                        <a target="" class="btn button-header-catalogue-articles not-connected">
                                                                            <div class="left"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                                                                            <div class="right">
                                                                                {{ product.price }} €
                                                                            </div>
                                                                        </a>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>

                                                    {# <!-- Modal ARTICLE -->
                                                    <div id="articles-modal" class="modal">
                                                        <div class="articles-modal-content">
                                                            <img src="{{ product.media }}" alt="{{ product.name }}" class="image-article-slider"/>
                                                            <span class="close-modal-articles">&times;</span>
                                                        </div>
                                                    </div>#}
                                                    {% else %}
                                                        {% set firstProductId = ''%}
                                                        <div class="grid-cell-1">
                                                            <div class="card-box product_{{ product.id }}">
                                                                <!-- CAROUSEL VERTICAL DEBUT -->
                                                                <div class="container-bx-slider">
                                                                    <h2>
                                                                        <span class="span-contrast1">{{ product.name }}</span>
                                                                        <span class="span-contrast2">{{ product.subCategory }}</span>
                                                                    </h2>
                                                                    <ul class="bxslider product_{{ product.id }}">
                                                                        {% for subProduct in subProducts %}
                                                                            {% if subProduct.parentProduct.id == product.id %}

                                                                                {% if firstProductId is empty %}
                                                                                    {% set firstProductId = subProduct.id %}
                                                                                {% endif %}
                                                                                <li style="width:auto;" data-path="{{ path('scg_add_to_cart',{'productId':subProduct.id}) }}">
                                                                                    <div class="image-bx-slider">
                                                                                        {#{% image  %}#}
                                                                                        <img src="{{ subProduct.media }}"  alt="{{ product.name }}" class="image-article-slider mybtn-article"/>
                                                                                        {#{% endimage %}#}
                                                                                    </div>
                                                                                </li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </ul>
                                                                    <div class="bx-pager bx-pager-{{ sliderIndex }}">
                                                                        {% set sliderIndex = sliderIndex+1 %}
                                                                        {% set i = 0 %}
                                                                        {% for subProduct in subProducts %}
                                                                            {% if subProduct.parentProduct.id == product.id %}
                                                                                <a class="bx-pager-btn" data-slide-index="{{ i }}"><span class="cicle-color" style="background-color: {{ subProduct.color }};">{{ subProduct.id }}</span></a>
                                                                                {% set i = i+1 %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                                <!-- CAROUSEL FIN -->

                                                                <div class="content-box-text">
                                                                    <h4>{{ product.descriptionTitle }}</h4>
                                                                    <p>{{ product.description }}</p>

                                                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                                        <a data-action="{{ path('scg_add_to_cart',{'productId':firstProductId}) }}" target="" class="btn button-header-catalogue-articles ajaxSend product_{{ product.id }}">
                                                                            <div class="left"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                                                                            <div class="right">
                                                                                {{ product.price }} €
                                                                            </div>
                                                                        </a>
                                                                    {% else %}
                                                                        <a target="" class="btn button-header-catalogue-articles not-connected">
                                                                            <div class="left"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                                                                            <div class="right">
                                                                                {{ product.price }} €
                                                                            </div>
                                                                        </a>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>

                            </div>
                        {% endfor %}

                    </div>

                    {#<div class="cart-cataloque">
                        {{ render(controller('SCGShopBundle:Cart:view') ) }}
                    </div>#}

                </section>
            </div>
        </div>

        <div class="container-full reset-all">
            <div class="row reset-all">
                <section id="section-catalogue-2" class="container-catalogue-section-2 col-md-12"><!-- SECTION 2 -->

                    <div class="container-formules">
                        <div class="container content-formules">
                            <div class="border-vertical-catalogue"></div>
                            <div class="content-titre-intro">
                                <h2>{{ 'section2-catalogue-h2'|trans }}</h2>
                                <h3>{{ 'section2-catalogue-h3'|trans }}</h3>
                            </div>
                            <div class="content-text-button">
                                <a href="{{ path('abonnement') }}" class="button-outline">
                                    <div class="container-arrondie-bouton-left"><div class="bouton-image-left"></div></div>
                                    <span class="button-outline-copy small-padding">
                        			    <p class="button-text-wrapper">{{ 'section2-catalogue-button'|trans }}</p>
                        	        </span>
                                    <span class="button-outline-bottom"></span>
                                    <div class="container-arrondie-bouton-right"><div class="bouton-image-right"></div></div>
                                </a>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </main>

{% endblock %}