
    {% if cart %}
        {% set totalPrice = 0 %}
        {% set totalQuantity = 0 %}

        {% for cartEntry in cartProducts %}
            <ul class="liste-order">
                <li>
                    <div class="container-flex-order">
                        <div class="img-order-articles"><img class="img-order-articles" src="{{ cartEntry.product.media }}" alt="{{ cartEntry.product.name }}"/></div>
                        <div class="name-span-order-container">
                            <span class="span-contrast1">{{ cartEntry.product.name }}</span>
                            <span class="span-contrast2">{{ cartEntry.product.subCategory }}</span>
                        </div>
                        <div class="price-order-articles"><span class="span-contrast1">{{ cartEntry.product.price }} €</span></div>
                        <div class="quantity-order-articles"><span class="span-contrast1">{{ cartEntry.quantity }}</span></div>
                        <div class="remove-order-articles"><a class="ajaxSend" data-action="{{ path('scg_remove_from_cart',{'productId':cartEntry.product.id}) }}">Supprimer</a></div>
                    </div>
                    <div class="separation-order"></div>
                </li>
            </ul>
            {% set totalPrice = totalPrice + (cartEntry.product.price * cartEntry.quantity) %}
            {% set totalQuantity = totalQuantity + cartEntry.quantity %}
        {% endfor %}
        <div class="img-banque-desktop">
            {% image '%kernel.root_dir%/../web/images/cartes-banque.png' %}
            <img src="{{ asset_url }}" alt="Payement" />
            {% endimage %}
        </div>
        <div class="totaux-container">
            <div class="totaux-content">
                {#<p class="number-articles">total articles : {{ totalQuantity }} {{ 'cart-articles-nunmber'|trans }}</p>#}
                <p class="total-price-order-left">total : </p>
                <p class="total-price-order-right">{{ totalPrice }} €</p>
            </div>
            <div class="separation-order2"></div>
            <div class="content-text-button-order1">
                <a href="{{ path('scg_shop_homepage') }}" class="button-outline">
                    <div class="container-arrondie-bouton-left"><div class="bouton-image-left"></div></div>
                    <span class="button-outline-copy small-padding">
                        			    <p class="button-text-wrapper">{{ 'order_text_button1'|trans }}</p>
                        	        </span>
                    <span class="button-outline-bottom"></span>
                    <div class="container-arrondie-bouton-right"><div class="bouton-image-right"></div></div>
                </a>
            </div>
            <div class="content-text-button-order2">
                <a href="" class="button-order-black">{{ 'order_text_button2'|trans }}</a>
            </div>
        </div>
        <div class="img-banque-mobile">
            <div class="livraison-texte-mobile">
                <p>Livraison gratuite</p>
            </div>
            {% image '%kernel.root_dir%/../web/images/cartes-banque.png' %}
            <img src="{{ asset_url }}" alt="Payement" />
            {% endimage %}
        </div>

    {% else %}
        <p>N/A</p>
    {% endif %}
