{% extends '::base.html.twig' %}

{% block body %}
    <header class="header-order">
    </header>

    <main>
        <div class="container">
            <div class="row">
                <section id="section-order-1" class="container-order-section-1 col-md-12"><!-- SECTION 1 -->
                    <div class="titre-order">
                        <h2>
                            <span class="span-contrast1">ton</span>
                            <span class="span-contrast2">panier</span>
                        </h2>

                        <div class="livraison-texte-desktop">
                            {% image '%kernel.root_dir%/../web/images/camion-livraison.png' %}
                            <img src="{{ asset_url }}" alt="Livraison" />
                            {% endimage %}
                            <p>Livraison gratuite</p>
                        </div>
                    </div>
                </section>

                <section id="section-order-2" class="container-order-section-2 col-md-12"><!-- SECTION 2 -->
                    {{ render(controller('SCGShopBundle:Order:order') ) }}
                </section>

            </div>
        </div>
    </main>

{% endblock %}